
.ciq-Carousel .owl-item {
	box-sizing: border-box;
	border-right: 1px solid #b3d3eb;
	border-left: 1px solid #b3d3eb;
	padding: 4px 4px 4px 10px;
	height: 100%
}
/*.ciq-Carousel .owl-item:hover {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f4f4f6+0,f4f4f6+87,f5f5f5+100&1+0,0+100 */
background: -moz-linear-gradient(right, rgba(248,248,250,1) 0%, rgba(248,248,250,0.13) 87%, rgba(250,250,250,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(right, rgba(248,248,250,1) 0%,rgba(248,248,250,0.13) 87%,rgba(250,250,250,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to left, rgba(248,248,250,1) 0%,rgba(248,248,250,0.13) 87%,rgba(250,250,250,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00fafafa', endColorstr='#f9f9f9',GradientType=1 ); /* IE6-9 */
}*/
.ciq-Carousel .owl-item .ciq-tick-name {
	font-size: 13pt;
	font-weight: 100;
	padding-bottom: 3px;
}
.ciq-Carousel .owl-item .ciq-tick-price {
	display: inline-block;
	float: left;
	margin-right: 6px;
}
.ciq-Carousel .owl-item .ciq-tick-change {
	display: inline-block;
	float: left;
}
.ciq-Carousel .owl-item .ciq-tick-change.down {
	display: inline-block;
	float: left;
	color: #FF3232;
}
.ciq-Carousel .owl-item .ciq-tick-change.up {
	display: inline-block;
	float: left;
	color: #28bf00;
}
.ciq-Carousel .owl-item .ciq-SparkChart {
	float: right;
	margin-top: 0px;
	position: absolute !important;
	top: 0 !important;
	right: 0;
	padding: 5px 0px 0px 10px !important;
	margin-left: 5px;
	margin-right: 5px;
	width: 50%;
	min-width: 100px
}

.ciq-Carousel .owl-item .ciq-tick-name {
	width: 50%;
	min-width: 100px
}

.ciq-Carousel .owl-stage-outer {
	height: 100%;
}

.ciq-Carousel .owl-stage {
	height: 100%;
}
