.ciq-EconomicCalendar .dataTables_wrapper {
	background: none;
}
.ciq-EconomicCalendar table.dataTable tbody tr {
	background-color:transparent;
}
.ciq-EconomicCalendar tr th{
	text-align: right;
	padding-right: 15px;
}
.ciq-EconomicCalendar tr th:nth-child(1){
	text-align: left;
	padding-left: 0px;
}

.ciq-EconomicCalendar .dataTables_wrapper .dataTables_length {
	color: inherit;
}

.ciq-EconomicCalendar .dataTables_length select {
	-webkit-appearance: none;
	font-weight: 400;
	height: 100%;
	width: 28px;
	border: 0px;
	color: #4495D1;
	border-radius: 0px;
	padding: -5px 0px;
	margin: 0px 2px;
	background: url("../img/select_desc.svg") no-repeat right transparent;
	background-size: 10px 6px;
}
.ciq-EconomicCalendar .dataTables_filter label {
	color: #fff;
}
.ciq-EconomicCalendar .dataTables_filter input {
	-webkit-appearance: none;
	background: transparent;
	border: 0px transparent;
	border-bottom: 1px solid #4495D1;
	box-shadow: none;
	color: #fff;
}
.ciq-EconomicCalendar .dataTables_filter input:focus {
	outline: none;
}

.ciq-EconomicCalendar .dataTables_wrapper table tbody td a:after {
	content: url("../img/dropdown_caret.svg");
	height: 13px;
	width: 12px;
	vertical-align: baseline;
	display: inline-block;
	padding-top: 0px;
	margin-left: 5px;
	-ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
}

.ciq-EconomicCalendar table.dataTable thead th {
	border-bottom: 2px solid;
	border-color: #4495D1 !important;
	font-weight: 400;
	text-transform: uppercase;
	color: #4495D1;
}
.ciq-EconomicCalendar table.dataTable thead  th.sorting {
	background: url(../img/select_both.svg) no-repeat right transparent;
	background-size: 8px 10px;
}
.ciq-EconomicCalendar table.dataTable thead th.sorting_asc {
	background: url(../img/select_asc.svg) no-repeat right transparent;
	background-size: 8px 5px;
}
.ciq-EconomicCalendar table.dataTable thead th.sorting_desc {
	background: url(../img/select_desc.svg) no-repeat right transparent;
	background-size: 8px 5px;
}
.ciq-EconomicCalendar table.dataTable thead  th:nth-child(1).sorting {
	background: url(../img/select_both.svg) no-repeat left transparent;
	background-position: 60px 50%;
	background-size: 8px 10px;
}
.ciq-EconomicCalendar table.dataTable thead th:nth-child(1).sorting_asc  {
	background: url(../img/select_asc.svg) no-repeat left transparent;
	background-position: 60px 50%;
	background-size: 8px 5px;
}
.ciq-EconomicCalendar table.dataTable thead th:nth-child(1).sorting_desc {
	background: url(../img/select_desc.svg) no-repeat left transparent;
	background-position: 60px 50%;
	background-size: 8px 5px;
}

.ciq-EconomicCalendar table.dataTable.no-footer {
	border-bottom: 2px solid;
	border-color: #4495D1;
}
.ciq-EconomicCalendar .dataTables_wrapper tbody td a{
	font-size: 1.1em !important;
	font-weight: 300;
	text-decoration: none;
}
.ciq-EconomicCalendar .dataTables_wrapper .dataTables_paginate .paginate_button {
	font-weight: 400;
	border: 0px !important;
	color: #fff;
}
.ciq-EconomicCalendar .dataTables_wrapper .dataTables_info {
	color: #fff;
}
.ciq-EconomicCalendar .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
	background: #4495D1 !important;
	border: 0px !important;
	color: #fff !important;
}
.ciq-EconomicCalendar .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
	background: #4495D1 !important;
	border: 0px !important;
}
.ciq-EconomicCalendar .dataTables_wrapper .paginate_button.disabled:hover {
	background: transparent !important;
	border: 0px !important;
}
.ciq-EconomicCalendar .dataTables_wrapper .dataTables_paginate .paginate_button {
	color: #fff !important;
}
.ciq-EconomicCalendar .dataTables_info {
	padding-left: 0px;
}
.ciq-EconomicCalendar .dataTables_wrapper tbody td{
	text-align: right;
	padding-right: 0px;
}
.ciq-EconomicCalendar .dataTables_wrapper tbody td:nth-child(1){
	text-align: left;
	padding-left: 0px;
}




.ciq-EconomicCalendar .dataTables_wrapper tbody,  {
	background: transparent;
}
.ciq-EconomicCalendar table.dataTable.display tbody td {
	border-top: 1px solid rgba(68, 149, 209, .5);
}
.ciq-EconomicCalendar table.dataTable.display tbody tr.odd {
	background-color: transparent;
}
.ciq-EconomicCalendar table.dataTable.display tbody tr:hover {
	background-color: rgba(68, 149, 209, .05);
}
.ciq-EconomicCalendar table.dataTable.display tbody tr>.sorting_1, table.dataTable.order-column.stripe tbody tr>.sorting_1  {
	background: rgba(0, 0, 0, 0) !important;
}
.ciq-EconomicCalendar table.dataTable .sorting_desc thead th  {
	border-bottom-color: #4495D1;
}
.ciq-EconomicCalendar .dataTables_wrapper thead th:nth-child(4) table tbody tr th {
	border-bottom: 0px !important;
}
.ciq-EconomicCalendar .dataTables_wrapper thead th:nth-child(4) table tbody tr:hover {
	background-color: transparent !important;
}