.ciq-Navigation {
	cursor: pointer;
	margin: 10px 0px;
}

.ciq-Navigation ul {
	display: inline-block;
	margin: 0 auto;
	list-style: none;
	padding-left: 0px;
}
.ciq-Navigation li {
	float: left;
}
.ciq-Navigation li a {
	float: left;
	display: inline-block;
	padding: 9px 10px 8px 10px;
	line-height: 1em;
	height: auto;
	font-weight: 400;
	text-transform: uppercase;
	color: #999;
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;
	font-family: "proxima-nova", sans-serif;
	font-size: 9pt;
	text-decoration: none;
	background: #25323B
}
.ciq-Navigation li a:hover {
	color: #333333;
	background-color: #f7f7f7;
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#0D000000, endColorstr=#0D000000);
	zoom: 1;
}
.ciq-Navigation li.active a {
	color: #FFFFFF;
	background: #11629E;
	cursor: default;
}
.ciq-Navigation.ciq-Navigation-bar-display {
	display: inline-block;
}
.ciq-Navigation .ciq-markets-display {
	display: inline-block;
}
.ciq-Navigation .ciq-calendar-display {
	display: inline-block;
}
.ciq-Navigation .ciq-quotes-display {
	display: inline-block;
}
.ciq-Navigation .ciq-chart-display {
	display: inline-block;
}
.ciq-Navigation .ciq-quoteboard-display {
	display: none;
}