body {
	font-family: Open Sans Condensed, sans-serif;
	font-weight: 300;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: .1em;
	margin: 0px;
	background: #18252e;
	color: #FFFFFF
}

customer {
	display: flex;
	flex-direction: row;
	border-bottom: 1px solid #4a6877;
	box-sizing: border-box;
}

customer > * {
	display: inline-block;
	padding: 10px 10px 5px 10px;
	cursor: pointer;
	width:50%;
	text-align: center;
	border-bottom: 5px solid transparent;
	transition: border .5s
}

customer:hover > * {
	border-bottom: 5px solid #0ccd87 !important;
}

customer.selected {
	font-weight: bold;
	background-color: #068de6;
}

relocate {
	display: block;
	position: fixed;
	bottom: 25px;
	text-align: center;
	background-color: #eee;
	cursor: pointer;
	height: 34px;
	margin: 20px;
	padding: 10px;
	background-color: #068de6;
	color: #ffffff;
	font-family: Open Sans Condensed, sans-serif;
	font-weight: 300;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: .1em;
	transition: background-color .4s ease-out;
	box-sizing: border-box;
}

relocate:hover {
	background-color: #2cabff;
}
