body {
	margin: 0px;
}

section {
	display: flex;
	flex-direction: row;
	padding: 10px;
}

section > field {
	width:30%;
}
section > input {
	display: inline-block;
	padding: 0 10px;
	border-bottom: solid gray 1px;
	margin: 0 10px;
	width: 70%;
}

input {
	background-color: #eee;
	border: solid #888 1px;
}

input:hover {
	background-color: #ddd;
}

save, next {
	text-align:center;
	background-color: #eee;
	border: solid #888 1px;
	cursor: pointer;
	padding: 3px 10px;
}

save:hover, next:hover {
	background-color: #ddd;
}