body {
	margin: 0px;
	font-family: Open Sans Condensed, sans-serif;
	font-weight: 300;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: .1em;
	margin: 0px;
	background: #18252e;
	color: #FFFFFF
}

section {
	display: flex;
	flex-direction: row;
	padding: 10px;
}

section > field {
	width:30%;
}
section > input {
	display: inline-block;
	padding: 5px;
	border: 2px solid #4a6877;
	background-color: #cad5dd;
	margin: 0px 5px;
	width: 70%;
}

input {
	background-color: #eee;
	border: solid #888 1px;
}

input:hover {
	background-color: #ddd;
}

 next:hover, prev:hover {
	background-color: #2cabff;
}

next, prev {
	text-align: center;
	background-color: #eee;
	cursor: pointer;
	margin: 5px;
	padding: 10px;
	background-color: #068de6;
	color: #ffffff;
	font-family: Open Sans Condensed, sans-serif;
	font-weight: 300;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: .1em;
	transition: background-color .4s ease-out;
}