/* The Finsemble _colorPalette controls your primary theming options throughout the application. */
/* Within this document, you can modify each of these SASS variables, which are distributed throughout the subsequent .scss files */
/* ~~ Color Glossary ~~ */
/* Default Finsemble Colors */
/* blue: #039BFF; */
/* dark background: #1C2A36; */
/* white: #FFFFFF; */
/* dark blue: #133F7C; */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* Need to modify a single instance of a color within the app? */
/* Option 1: Search the src/components/sass folder by a specific SCSS $variable */
/* Option 2: Search the src/components/sass fodler by the HTML/CSS .class */
/* Note: By editing the individual .scss files, this could hinder _colorPalette from managing your theme. */
/* The Primary-Accent-Color controls button colors on hover, the border of toolbar buttons on hover, and menu header text color. It also controls the icon color for buttons and apps. */
/* Scrim Overlay is used as for the background in the drag-to-share overlay. */
/* Scrim Negative Overlay is used as for the background in the "unavailable" drag-to-share overlay. */
/* Secondary-Accent-Color is used for toolbar buttons and the component overlay when resizing grouped windows. */
/* This effects the main toolbar background color. */
/* Main toolbar text color. Default is white on dark backgrounds. Switch to #000 for light colors in $toolbar-background-color. */
/* This effects the active component header background and border colors. */
/* This effects the default component header background colors. */
/* This effects the dialog background color as well as the border for inactive windows. */
/* This effects the active component header button on hover. */
/* This effects the inactive component header button on hover. */
/* This effects the component header's close button on hover. */
/* This effects a highlighted icon background within inactive window headers. Most common case is the highlighted docking confirmation. */
/* General Typography  */
/* This effects the toolbar pimary button text color. */
/* This effects the toolbar secondary button text color. */
/* This effects the inactive component header text color. Opacity is used for improved visibility of the active component. */
/* This effects the component header icon color on hover. */
/* This effects the menu button text color on hover. Default is the primary accent color. */
/* This controls workspace icon color when pinned in the toolbar. */
/* Other Icons: */
/* Component and App Icons are either designated SVG's or will have the $pimary-accent-color variable applied by default */
/* If you wish to change this, please see _toolbar.scss line 100 */
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Roboto);
.ff-share {
  cursor: -webkit-grab; }

.hidden {
  display: none !important; }

.fsbl-button {
  margin: 0 auto;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  background: #FAFAFA;
  border: 1px solid #EEEEEE;
  color: #000;
  transition: .2s ease; }

.fsbl-button i {
  vertical-align: middle;
  margin: 0 6px; }

.fsbl-share-scrim {
  position: fixed;
  display: flex;
  height: 100%;
  width: 100%;
  z-index: 1000000;
  /*background-color: purple;*/
  top: 0;
  left: 0;
  justify-content: center;
  align-content: center;
  font-size: 100px;
  flex-direction: column;
  align-items: center;
  color: #fff;
  transition: all .3s ease;
  opacity: 0.85; }

.fsbl-share-scrim i {
  position: fixed;
  display: flex;
  height: 100%;
  width: 100%;
  z-index: 1000000;
  background-color: rgba(32, 104, 195, 0.93);
  top: 0;
  left: 0;
  justify-content: center;
  align-content: center;
  font-size: 100px;
  flex-direction: column;
  color: #FFF !important;
  align-items: center; }

.fsbl-share-scrim i.no {
  background-color: rgba(150, 10, 5, 0.93); }

.fsbl-button:hover {
  background: #039bff;
  border: 1px solid #039bff;
  transition: 0.2s ease-in;
  cursor: pointer; }

.fsbl-button:hover {
  color: #FFF;
  transition: 0.2s ease-out; }

.fsbl-button-lg {
  width: 210px;
  font-size: 14pt;
  padding: 14px 0px;
  margin: 15px auto; }

.fsbl-button-md {
  width: 210px;
  font-size: 13pt;
  padding: 9px 0px;
  margin: 10px auto; }

.fsbl-button-sm {
  width: 70px;
  padding: 5px 0px;
  margin: 5px auto; }

/*widgets*/
.ciq--div {
  padding: .25em; }

.flex-start {
  align-self: flex-start; }

/* Gives the control icons the proper width on websites using bootstrap. */
i, i:before, i:after, .fsbl-window-manager-icon {
  box-sizing: content-box; }

body.dialog input:focus {
  border: 1px solid #039bff; }

/*!
* Copyright 2017 by ChartIQ, Inc.
* All rights reserved.
*/
.icon-fsbl-chat.badge:after {
  position: relative;
  height: 0.625rem;
  width: 0.625rem;
  top: -0.625rem;
  right: 0.325rem;
  color: #FFD803; }

body {
  padding: 0px !important;
  box-sizing: border-box;
  position: absolute;
  /*Without this, opening the side panels ruin everything*/
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

html.desktop-active:before {
  background: #133F7C; }

/* Create a series of empty pseudo-elements... */
html:before, html:after, body:before, body:after {
  content: "";
  background: #1D4970;
  position: fixed;
  display: block;
  z-index: 2147483645; }

/* ...and position them! */
html:before {
  height: 1px;
  left: 0;
  right: 0;
  top: 0; }

html:after {
  width: 1px;
  top: 0;
  right: 0;
  bottom: 0; }

body:before {
  height: 1px;
  right: 0;
  bottom: 0;
  left: 0; }

body:after {
  width: 1px;
  top: 0;
  bottom: 0;
  left: 0; }

.menu-button {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5em;
  background: #fff;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  color: #039bff;
  display: inline-block;
  position: relative;
  line-height: 27px;
  height: 27px;
  padding: 0 10px;
  cursor: pointer;
  border: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: all .2s 0s, opacity .2s 0s;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }

html.groupMask {
  /* ...and position them! */ }
  html.groupMask body {
    background-color: #133F7C;
    border: 5px solid #039bff;
    margin: 0px; }
  html.groupMask html:before {
    height: 0px; }
  html.groupMask html:after {
    width: 0px;
    top: 0;
    right: 0;
    bottom: 0; }
  html.groupMask body:before {
    height: 0px;
    right: 0;
    bottom: 0;
    left: 0; }
  html.groupMask body:after {
    width: 0px;
    top: 0;
    bottom: 0;
    left: 0; }

.cq-drag {
  cursor: -webkit-grab;
  -webkit-app-region: drag; }

.cq-drag-area:active {
  cursor: -webkit-grabbing; }

.fsbl-header {
  text-align: center;
  display: flex;
  height: 32px;
  position: fixed;
  align-items: flex-end;
  flex-direction: row;
  justify-content: center;
  background: #233958;
  width: 100%;
  z-index: 2147483641;
  top: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7); }
  html.desktop-active .fsbl-header {
    background: #133F7C;
    color: #FFF; }

.fsbl-header-left {
  height: 100%;
  margin-left: 2px;
  left: 0px;
  align-content: center;
  align-items: center;
  justify-content: flex-start;
  display: flex; }

.fsbl-header-center {
  height: calc(100% - 5px);
  align-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  width: 100%;
  -webkit-user-select: none; }

.fsbl-header-right {
  margin-right: 2px;
  height: 100%;
  align-content: center;
  display: flex;
  justify-content: flex-end; }

/* This div captures the hover event for it's parent. It doesn't stretch to the border, so that mouseout is properly detected. */
.fsbl-hover-detector-right {
  position: absolute;
  width: 75%;
  height: 75%;
  left: 0px;
  bottom: 0px; }

.fsbl-hover-detector-left {
  position: absolute;
  width: 75%;
  height: 75%;
  right: 0px;
  bottom: 0px; }

.fsbl-hover-detector-top {
  position: absolute;
  width: 100%;
  height: 75%;
  right: 0px;
  bottom: 0px; }

.fsbl-icon {
  position: relative;
  color: rgba(255, 255, 255, 0.7);
  font-size: 15px;
  width: 21px;
  padding: 0px 6px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background .2s ease;
  cursor: pointer;
  box-sizing: content-box !important; }
  html.desktop-active .fsbl-icon {
    color: #FFF; }
  .fsbl-icon[data-hover=true] {
    background-color: #133F7C; }
    html.desktop-active .fsbl-icon[data-hover=true] {
      background: #039bff;
      transition: background .2s ease; }

/* So it sits over the border*/
.fsbl-icon.fsbl-close {
  margin-right: -1px; }
  .fsbl-icon.fsbl-close[data-hover=true] {
    background: #EF1436;
    color: #FFF; }
  html.desktop-active .fsbl-icon.fsbl-close[data-hover=true] {
    background: #EF1436;
    color: #FFF; }

.fsbl-icon-highlighted {
  -webkit-transition: background-color 300ms ease-in-out;
  transition: background-color 300ms ease-in-out;
  background-color: #115FCC;
  color: #FFF; }
  html.desktop-active .fsbl-icon-highlighted {
    background-color: #039bff; }

.fsbl-minimize {
  align-items: flex-end; }

.fsbl-ejector {
  -webkit-transition: background-color 300ms ease-in-out;
  transition: background-color 300ms ease-in-out;
  color: white;
  background-color: #039bff; }

.linkerSection {
  display: flex;
  height: 100%; }

.linker-groups {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center; }

.linker-group {
  width: 5px;
  height: 18px;
  margin-left: 4px;
  border-radius: 2px; }

.linker-group:nth-last-child(1) {
  margin-right: 5px; }

.fsbl-linker {
  cursor: pointer;
  display: flex;
  height: 100%;
  /* So it sits over the border*/
  margin-left: -1px;
  align-items: center;
  justify-content: center;
  align-content: center;
  transition: background .3s ease;
  position: relative; }
  .fsbl-linker[hover=true] {
    background: #133F7C;
    color: #000; }
  html.desktop-active .fsbl-linker[hover=true] {
    background: #039bff;
    color: #FFF; }

.ff-minimize {
  padding-bottom: 5px; }

.ff-maximize, .ff-close, .ff-detached, .ff-attached {
  padding-top: 2px; }

/* perfect-scrollbar v0.6.12 */
.ps-container {
  -ms-touch-action: none;
  touch-action: none;
  overflow: hidden !important;
  -ms-overflow-style: none; }

@supports (-ms-overflow-style: none) {
  .ps-container {
    overflow: auto !important; } }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .ps-container {
    overflow: auto !important; } }

.ps-container.ps-active-x > .ps-scrollbar-x-rail,
.ps-container.ps-active-y > .ps-scrollbar-y-rail {
  display: block;
  background-color: transparent; }

.ps-container.ps-in-scrolling {
  pointer-events: none; }

.ps-container.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail {
  background-color: #eee;
  opacity: 0.9; }

.ps-container.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail > .ps-scrollbar-x {
  background-color: #999; }

.ps-container.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail {
  background-color: #eee;
  opacity: 0.9; }

.ps-container.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  background-color: #999; }

.ps-container > .ps-scrollbar-x-rail {
  display: none;
  position: absolute;
  /* please don't change 'position' */
  opacity: 0;
  -webkit-transition: background-color .2s linear, opacity .2s linear;
  -moz-transition: background-color .2s linear, opacity .2s linear;
  -o-transition: background-color .2s linear, opacity .2s linear;
  transition: background-color .2s linear, opacity .2s linear;
  bottom: 0px;
  /* there must be 'bottom' for ps-scrollbar-x-rail */
  height: 15px; }

.ps-container > .ps-scrollbar-x-rail > .ps-scrollbar-x {
  position: absolute;
  /* please don't change 'position' */
  background-color: #aaa;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, -webkit-border-radius .2s ease-in-out;
  transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, -webkit-border-radius .2s ease-in-out;
  -moz-transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out, -moz-border-radius .2s ease-in-out;
  -o-transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out;
  transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out;
  transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out, -webkit-border-radius .2s ease-in-out, -moz-border-radius .2s ease-in-out;
  bottom: 2px;
  /* there must be 'bottom' for ps-scrollbar-x */
  height: 6px; }

.ps-container > .ps-scrollbar-x-rail:hover > .ps-scrollbar-x, .ps-container > .ps-scrollbar-x-rail:active > .ps-scrollbar-x {
  height: 11px; }

.ps-container > .ps-scrollbar-y-rail {
  display: none;
  position: absolute;
  /* please don't change 'position' */
  opacity: 0;
  -webkit-transition: background-color .2s linear, opacity .2s linear;
  -moz-transition: background-color .2s linear, opacity .2s linear;
  -o-transition: background-color .2s linear, opacity .2s linear;
  transition: background-color .2s linear, opacity .2s linear;
  right: 0;
  /* there must be 'right' for ps-scrollbar-y-rail */
  width: 15px; }

.ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  position: absolute;
  /* please don't change 'position' */
  background-color: #aaa;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, -webkit-border-radius .2s ease-in-out;
  transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, -webkit-border-radius .2s ease-in-out;
  -moz-transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out, -moz-border-radius .2s ease-in-out;
  -o-transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out;
  transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out;
  transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out, -webkit-border-radius .2s ease-in-out, -moz-border-radius .2s ease-in-out;
  right: 2px;
  /* there must be 'right' for ps-scrollbar-y */
  width: 6px; }

.ps-container > .ps-scrollbar-y-rail:hover > .ps-scrollbar-y, .ps-container > .ps-scrollbar-y-rail:active > .ps-scrollbar-y {
  width: 11px; }

.ps-container:hover.ps-in-scrolling {
  pointer-events: none; }

.ps-container:hover.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail {
  background-color: #eee;
  opacity: 0.9; }

.ps-container:hover.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail > .ps-scrollbar-x {
  background-color: #999; }

.ps-container:hover.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail {
  background-color: #eee;
  opacity: 0.9; }

.ps-container:hover.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  background-color: #999; }

.ps-container:hover > .ps-scrollbar-x-rail,
.ps-container:hover > .ps-scrollbar-y-rail {
  opacity: 0.6; }

.ps-container:hover > .ps-scrollbar-x-rail:hover {
  background-color: #eee;
  opacity: 0.9; }

.ps-container:hover > .ps-scrollbar-x-rail:hover > .ps-scrollbar-x {
  background-color: #999; }

.ps-container:hover > .ps-scrollbar-y-rail:hover {
  background-color: #eee;
  opacity: 0.9; }

.ps-container:hover > .ps-scrollbar-y-rail:hover > .ps-scrollbar-y {
  background-color: #999; }

.ps-container:hover > .ps-scrollbar-y-rail:hover {
  background-color: transparent;
  width: 6px; }

.ps-container > .ps-scrollbar-y-rail:hover > .ps-scrollbar-y, .ps-container > .ps-scrollbar-y-rail:active > .ps-scrollbar-y {
  width: 9px; }

.ps-container > .ps-scrollbar-y-rail {
  right: 6px !important; }

/*.toolbar-wrap {
	background-color: $toolbar-background-color;
	color: $toolbar-primary-font-color;
	text-align: center;
	display:flex;
	height:100%;
	flex-direction:column;
	justify-content: space-around;
}

.toolbar-icon{
	padding-right:10px;
	padding-left:10px;
}

.toolbar-row {
	display:flex;
	flex-direction: row;
	height:40px;
	width:100%;
	position:fixed;
	top:0;
}

.toolbar-row-left {
	align-items:center;
	align-self: center;
	display:flex;
	height:100%;
}

.toolbar-row-center {
	align-items: center;
	display:flex;
}

.toolbar-row-right {
	display: flex;
	margin-left:auto;
	align-items:center;
	align-self: center;
	height: 100%;
}

.ff-company:before, .ff-chart-pie:before, .ff-chart-alt-2, .ff-chart-simple, .ff-chart-advanced .ff-chart-alt-1:before {
	font-size: 24px;
}

.pinned-workspace-icon {
	color: $workspace-icon-color;
}



.primary-hover:hover {
	background-color:$secondary-accent-color;
	color:$primary-hover-font-color;
	cursor:pointer;
}

.primary-hover.active {
	background-color:$primary-accent-color;
	color:$primary-hover-font-color;
}

.primary-hover.active:hover {
	background-color:$toolbar-background-color;
	color:$toolbar-primary-font-color;
	border: 1px solid $primary-accent-color;
	transition: background .1s ease;
	cursor:pointer;
}
.secondary-hover {
	border:1px solid transparent;
}
.secondary-hover:hover {
	background: $secondary-accent-color;
	color:$secondary-hover-font-color;
	transition: background .1s ease;
	border: 1px solid $light-hover-accent;
	cursor:pointer;
}

.menu-icon {
  width: 60px;
  height: 30px; }

.divider:before {
  height: 20px;
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  content: '';
  margin: 0 .25em 0 .25em; }

.pinned-icon {
	color: $primary-accent-color;
}*/
/* New Toolbar Starts Here*/
.finsemble-toolbar {
  display: flex;
  align-items: stretch;
  width: 100%;
  background: #5f6274;
  color: #FFF;
  align-content: center;
  height: 39px; }

.finsemble-toolbar.horizontal {
  flex-direction: row; }

.finsemble-toolbar.vertical {
  flex-direction: column; }

.finsemble-toolbar-section {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: stretch;
  overflow: hidden; }

.finsemble-toolbar-section.right {
  justify-content: flex-end;
  order: 2;
  flex: 1;
  flex: 0 0 auto; }

.finsemble-toolbar-section.left {
  order: 0;
  justify-content: flex-start;
  flex: 0 0 auto; }

.finsemble-toolbar-section.center {
  justify-content: flex-start;
  order: 1;
  flex: 1 1 auto; }

.finsemble-toolbar-section.center.overflow {
  justify-content: space-between; }

.finsemble-toolbar-button {
  display: table;
  padding: 0 .4em 0 .4em;
  height: 100%;
  border: 1px solid #5f6274; }

.finsemble-toolbar-button-label {
  font-size: .95em;
  font-weight: 300;
  /*font-variant: small-caps;*/
  text-align: left;
  letter-spacing: .25px;
  display: table-cell;
  vertical-align: middle;
  align-content: center; }

.finsemble-toolbar-button:hover {
  background: #133F7C;
  color: #FFF;
  border: 1px solid transparent;
  cursor: pointer; }

@media screen and (max-device-width: 1400px) {
  .finsemble-toolbar-workspace-button-label > .finsemble-toolbar-button-label {
    width: 115px; } }

@media screen and (min-device-width: 1400px) {
  .finsemble-toolbar-workspace-button-label > .finsemble-toolbar-button-label {
    width: 130px; } }

.finsemble-toolbar-workspace-button-label > .finsemble-toolbar-button-label {
  border: 1px solid #1D4970;
  border-radius: 3px;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  margin-top: 8px;
  padding: 3px 6px; }

.finsemble-toolbar-workspace-button-label > .finsemble-toolbar-button-label:hover {
  border: 1px solid #039bff; }

.finsemble-toolbar-workspace-button-label.finsemble-toolbar-button:hover {
  background: none;
  border: 1px solid transparent;
  cursor: pointer; }

.finsemble-toolbar-button-icon {
  height: 100%;
  padding-top: 2px;
  display: table-cell;
  vertical-align: middle; }

.finsemble-toolbar-button-icon.left {
  padding-right: 5px; }

.finsemble-toolbar-button-icon.right {
  padding-left: 5px; }

.divider {
  display: flex;
  align-self: center; }

.divider:before {
  height: 20px;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  content: '';
  margin: 0 .25em 0 .25em; }

img.pinned-icon {
  padding-top: 12px;
  max-width: 17px; }

.pinned-icon {
  color: #4495d1;
  font-size: 26px;
  padding-right: .25em; }

.pinned-workspace-icon {
  color: #FFD803 !important; }

.toolbar-button-label-left {
  order: -1; }

.toolbar-button-label-right {
  order: 1; }

.finsemble-button-label {
  padding-top: 4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.finsemble-toolbar-brand-logo {
  width: 28px;
  height: 25px;
  margin: 4px 4px;
  padding: 2px 0px 0px 0px !important; }

.form-group {
  display: flex;
  flex-direction: row;
  margin: 25px 0;
  padding: 0px 20px;
  justify-content: center; }

.form-group label {
  padding-top: 7px;
  flex: .4; }

.form-group input, .form-group select {
  flex: .65; }

.pin-workspace:hover {
  color: #039bff; }

.pinned-workspace-pin {
  color: #039bff; }

/* Excluded so that activated pins don't appear inactive
.pinned-workspace-pin:hover {
	color: $menu-primary-font-color;
}
*/
/* The Finsemble _colorPalette controls your primary theming options throughout the application. */
/* Within this document, you can modify each of these SASS variables, which are distributed throughout the subsequent .scss files */
/* ~~ Color Glossary ~~ */
/* Default Finsemble Colors */
/* blue: #039BFF; */
/* dark background: #1C2A36; */
/* white: #FFFFFF; */
/* dark blue: #133F7C; */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* Need to modify a single instance of a color within the app? */
/* Option 1: Search the src/components/sass folder by a specific SCSS $variable */
/* Option 2: Search the src/components/sass fodler by the HTML/CSS .class */
/* Note: By editing the individual .scss files, this could hinder _colorPalette from managing your theme. */
/* The Primary-Accent-Color controls button colors on hover, the border of toolbar buttons on hover, and menu header text color. It also controls the icon color for buttons and apps. */
/* Scrim Overlay is used as for the background in the drag-to-share overlay. */
/* Scrim Negative Overlay is used as for the background in the "unavailable" drag-to-share overlay. */
/* Secondary-Accent-Color is used for toolbar buttons and the component overlay when resizing grouped windows. */
/* This effects the main toolbar background color. */
/* Main toolbar text color. Default is white on dark backgrounds. Switch to #000 for light colors in $toolbar-background-color. */
/* This effects the active component header background and border colors. */
/* This effects the default component header background colors. */
/* This effects the dialog background color as well as the border for inactive windows. */
/* This effects the active component header button on hover. */
/* This effects the inactive component header button on hover. */
/* This effects the component header's close button on hover. */
/* This effects a highlighted icon background within inactive window headers. Most common case is the highlighted docking confirmation. */
/* General Typography  */
/* This effects the toolbar pimary button text color. */
/* This effects the toolbar secondary button text color. */
/* This effects the inactive component header text color. Opacity is used for improved visibility of the active component. */
/* This effects the component header icon color on hover. */
/* This effects the menu button text color on hover. Default is the primary accent color. */
/* This controls workspace icon color when pinned in the toolbar. */
/* Other Icons: */
/* Component and App Icons are either designated SVG's or will have the $pimary-accent-color variable applied by default */
/* If you wish to change this, please see _toolbar.scss line 100 */
.ff-share {
  cursor: -webkit-grab; }

.hidden {
  display: none !important; }

.fsbl-button {
  margin: 0 auto;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  background: #FAFAFA;
  border: 1px solid #EEEEEE;
  color: #000;
  transition: .2s ease; }

.fsbl-button i {
  vertical-align: middle;
  margin: 0 6px; }

.fsbl-share-scrim {
  position: fixed;
  display: flex;
  height: 100%;
  width: 100%;
  z-index: 1000000;
  /*background-color: purple;*/
  top: 0;
  left: 0;
  justify-content: center;
  align-content: center;
  font-size: 100px;
  flex-direction: column;
  align-items: center;
  color: #fff;
  transition: all .3s ease;
  opacity: 0.85; }

.fsbl-share-scrim i {
  position: fixed;
  display: flex;
  height: 100%;
  width: 100%;
  z-index: 1000000;
  background-color: rgba(32, 104, 195, 0.93);
  top: 0;
  left: 0;
  justify-content: center;
  align-content: center;
  font-size: 100px;
  flex-direction: column;
  color: #FFF !important;
  align-items: center; }

.fsbl-share-scrim i.no {
  background-color: rgba(150, 10, 5, 0.93); }

.fsbl-button:hover {
  background: #039bff;
  border: 1px solid #039bff;
  transition: 0.2s ease-in;
  cursor: pointer; }

.fsbl-button:hover {
  color: #FFF;
  transition: 0.2s ease-out; }

.fsbl-button-lg {
  width: 210px;
  font-size: 14pt;
  padding: 14px 0px;
  margin: 15px auto; }

.fsbl-button-md {
  width: 210px;
  font-size: 13pt;
  padding: 9px 0px;
  margin: 10px auto; }

.fsbl-button-sm {
  width: 70px;
  padding: 5px 0px;
  margin: 5px auto; }

/*widgets*/
.ciq--div {
  padding: .25em; }

.flex-start {
  align-self: flex-start; }

/* Gives the control icons the proper width on websites using bootstrap. */
i, i:before, i:after, .fsbl-window-manager-icon {
  box-sizing: content-box; }

body.dialog input:focus {
  border: 1px solid #039bff; }

.form-group {
  display: flex;
  flex-direction: row;
  margin: 25px 0;
  padding: 0px 20px;
  justify-content: center; }

.form-group label {
  padding-top: 7px;
  flex: .4; }

.form-group input, .form-group select {
  flex: .65; }

body.dialog {
  -webkit-appearance: none;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  font-size: 12pt;
  font-weight: 300;
  /* Styling for General Typography */
  /* Always Show Number Input Arrows, Give A Bit Of Space */ }
  body.dialog html:before, body.dialog html:after, body.dialog body:before, body.dialog body:after {
    content: "";
    background: #1D4970;
    position: fixed;
    display: block;
    z-index: 2147483647; }
  body.dialog h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: #000;
    font-size: 18pt;
    margin: -5px 0px 20px 0px; }
  body.dialog h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #000;
    text-align: center;
    font-size: 15pt;
    margin: 35px 0px; }
  body.dialog p {
    margin: 8px 0px; }
  body.dialog .dialog {
    background-color: #FFF;
    padding: 20px; }
  body.dialog .dialog-question {
    font-weight: 300;
    color: #000;
    font-size: 15pt;
    margin-bottom: 35px;
    text-align: center;
    word-wrap: break-word; }
  body.dialog input[type=number]::-webkit-inner-spin-button,
  body.dialog input[type=number]::-webkit-outer-spin-button {
    opacity: 1; }
  body.dialog input::-webkit-outer-spin-button,
  body.dialog input::-webkit-inner-spin-button {
    margin-left: 5px; }
  body.dialog input:focus {
    box-shadow: 0 0 5px rgba 81, 203, 238, 1;
    border: 1px solid #039BFF;
    outline: none; }
  body.dialog input {
    -webkit-appearance: none;
    color: #000;
    text-align: left;
    font-size: 12pt;
    font-weight: 300;
    vertical-align: middle;
    background-color: #FFF;
    padding-left: 15px;
    width: 100%;
    height: 33px;
    max-width: 100%;
    padding: 3px 10px;
    border: 1px solid #bdd9ff;
    box-sizing: border-box;
    transition: .2s ease-in; }

/* The Finsemble _colorPalette controls your primary theming options throughout the application. */
/* Within this document, you can modify each of these SASS variables, which are distributed throughout the subsequent .scss files */
/* ~~ Color Glossary ~~ */
/* Default Finsemble Colors */
/* blue: #039BFF; */
/* dark background: #1C2A36; */
/* white: #FFFFFF; */
/* dark blue: #133F7C; */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* Need to modify a single instance of a color within the app? */
/* Option 1: Search the src/components/sass folder by a specific SCSS $variable */
/* Option 2: Search the src/components/sass fodler by the HTML/CSS .class */
/* Note: By editing the individual .scss files, this could hinder _colorPalette from managing your theme. */
/* The Primary-Accent-Color controls button colors on hover, the border of toolbar buttons on hover, and menu header text color. It also controls the icon color for buttons and apps. */
/* Scrim Overlay is used as for the background in the drag-to-share overlay. */
/* Scrim Negative Overlay is used as for the background in the "unavailable" drag-to-share overlay. */
/* Secondary-Accent-Color is used for toolbar buttons and the component overlay when resizing grouped windows. */
/* This effects the main toolbar background color. */
/* Main toolbar text color. Default is white on dark backgrounds. Switch to #000 for light colors in $toolbar-background-color. */
/* This effects the active component header background and border colors. */
/* This effects the default component header background colors. */
/* This effects the dialog background color as well as the border for inactive windows. */
/* This effects the active component header button on hover. */
/* This effects the inactive component header button on hover. */
/* This effects the component header's close button on hover. */
/* This effects a highlighted icon background within inactive window headers. Most common case is the highlighted docking confirmation. */
/* General Typography  */
/* This effects the toolbar pimary button text color. */
/* This effects the toolbar secondary button text color. */
/* This effects the inactive component header text color. Opacity is used for improved visibility of the active component. */
/* This effects the component header icon color on hover. */
/* This effects the menu button text color on hover. Default is the primary accent color. */
/* This controls workspace icon color when pinned in the toolbar. */
/* Other Icons: */
/* Component and App Icons are either designated SVG's or will have the $pimary-accent-color variable applied by default */
/* If you wish to change this, please see _toolbar.scss line 100 */
.ff-share {
  cursor: -webkit-grab; }

.hidden {
  display: none !important; }

.fsbl-button {
  margin: 0 auto;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  background: #FAFAFA;
  border: 1px solid #EEEEEE;
  color: #000;
  transition: .2s ease; }

.fsbl-button i {
  vertical-align: middle;
  margin: 0 6px; }

.fsbl-share-scrim {
  position: fixed;
  display: flex;
  height: 100%;
  width: 100%;
  z-index: 1000000;
  /*background-color: purple;*/
  top: 0;
  left: 0;
  justify-content: center;
  align-content: center;
  font-size: 100px;
  flex-direction: column;
  align-items: center;
  color: #fff;
  transition: all .3s ease;
  opacity: 0.85; }

.fsbl-share-scrim i {
  position: fixed;
  display: flex;
  height: 100%;
  width: 100%;
  z-index: 1000000;
  background-color: rgba(32, 104, 195, 0.93);
  top: 0;
  left: 0;
  justify-content: center;
  align-content: center;
  font-size: 100px;
  flex-direction: column;
  color: #FFF !important;
  align-items: center; }

.fsbl-share-scrim i.no {
  background-color: rgba(150, 10, 5, 0.93); }

.fsbl-button:hover {
  background: #039bff;
  border: 1px solid #039bff;
  transition: 0.2s ease-in;
  cursor: pointer; }

.fsbl-button:hover {
  color: #FFF;
  transition: 0.2s ease-out; }

.fsbl-button-lg {
  width: 210px;
  font-size: 14pt;
  padding: 14px 0px;
  margin: 15px auto; }

.fsbl-button-md {
  width: 210px;
  font-size: 13pt;
  padding: 9px 0px;
  margin: 10px auto; }

.fsbl-button-sm {
  width: 70px;
  padding: 5px 0px;
  margin: 5px auto; }

/*widgets*/
.ciq--div {
  padding: .25em; }

.flex-start {
  align-self: flex-start; }

/* Gives the control icons the proper width on websites using bootstrap. */
i, i:before, i:after, .fsbl-window-manager-icon {
  box-sizing: content-box; }

body.dialog input:focus {
  border: 1px solid #039bff; }

/* perfect-scrollbar v0.6.12 */
.ps-container {
  -ms-touch-action: none;
  touch-action: none;
  overflow: hidden !important;
  -ms-overflow-style: none; }

@supports (-ms-overflow-style: none) {
  .ps-container {
    overflow: auto !important; } }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .ps-container {
    overflow: auto !important; } }

.ps-container.ps-active-x > .ps-scrollbar-x-rail,
.ps-container.ps-active-y > .ps-scrollbar-y-rail {
  display: block;
  background-color: transparent; }

.ps-container.ps-in-scrolling {
  pointer-events: none; }

.ps-container.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail {
  background-color: #eee;
  opacity: 0.9; }

.ps-container.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail > .ps-scrollbar-x {
  background-color: #999; }

.ps-container.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail {
  background-color: #eee;
  opacity: 0.9; }

.ps-container.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  background-color: #999; }

.ps-container > .ps-scrollbar-x-rail {
  display: none;
  position: absolute;
  /* please don't change 'position' */
  opacity: 0;
  -webkit-transition: background-color .2s linear, opacity .2s linear;
  -moz-transition: background-color .2s linear, opacity .2s linear;
  -o-transition: background-color .2s linear, opacity .2s linear;
  transition: background-color .2s linear, opacity .2s linear;
  bottom: 0px;
  /* there must be 'bottom' for ps-scrollbar-x-rail */
  height: 15px; }

.ps-container > .ps-scrollbar-x-rail > .ps-scrollbar-x {
  position: absolute;
  /* please don't change 'position' */
  background-color: #aaa;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, -webkit-border-radius .2s ease-in-out;
  transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, -webkit-border-radius .2s ease-in-out;
  -moz-transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out, -moz-border-radius .2s ease-in-out;
  -o-transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out;
  transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out;
  transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out, -webkit-border-radius .2s ease-in-out, -moz-border-radius .2s ease-in-out;
  bottom: 2px;
  /* there must be 'bottom' for ps-scrollbar-x */
  height: 6px; }

.ps-container > .ps-scrollbar-x-rail:hover > .ps-scrollbar-x, .ps-container > .ps-scrollbar-x-rail:active > .ps-scrollbar-x {
  height: 11px; }

.ps-container > .ps-scrollbar-y-rail {
  display: none;
  position: absolute;
  /* please don't change 'position' */
  opacity: 0;
  -webkit-transition: background-color .2s linear, opacity .2s linear;
  -moz-transition: background-color .2s linear, opacity .2s linear;
  -o-transition: background-color .2s linear, opacity .2s linear;
  transition: background-color .2s linear, opacity .2s linear;
  right: 0;
  /* there must be 'right' for ps-scrollbar-y-rail */
  width: 15px; }

.ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  position: absolute;
  /* please don't change 'position' */
  background-color: #aaa;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, -webkit-border-radius .2s ease-in-out;
  transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, -webkit-border-radius .2s ease-in-out;
  -moz-transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out, -moz-border-radius .2s ease-in-out;
  -o-transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out;
  transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out;
  transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out, -webkit-border-radius .2s ease-in-out, -moz-border-radius .2s ease-in-out;
  right: 2px;
  /* there must be 'right' for ps-scrollbar-y */
  width: 6px; }

.ps-container > .ps-scrollbar-y-rail:hover > .ps-scrollbar-y, .ps-container > .ps-scrollbar-y-rail:active > .ps-scrollbar-y {
  width: 11px; }

.ps-container:hover.ps-in-scrolling {
  pointer-events: none; }

.ps-container:hover.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail {
  background-color: #eee;
  opacity: 0.9; }

.ps-container:hover.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail > .ps-scrollbar-x {
  background-color: #999; }

.ps-container:hover.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail {
  background-color: #eee;
  opacity: 0.9; }

.ps-container:hover.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  background-color: #999; }

.ps-container:hover > .ps-scrollbar-x-rail,
.ps-container:hover > .ps-scrollbar-y-rail {
  opacity: 0.6; }

.ps-container:hover > .ps-scrollbar-x-rail:hover {
  background-color: #eee;
  opacity: 0.9; }

.ps-container:hover > .ps-scrollbar-x-rail:hover > .ps-scrollbar-x {
  background-color: #999; }

.ps-container:hover > .ps-scrollbar-y-rail:hover {
  background-color: #eee;
  opacity: 0.9; }

.ps-container:hover > .ps-scrollbar-y-rail:hover > .ps-scrollbar-y {
  background-color: #999; }

.ps-container:hover > .ps-scrollbar-y-rail:hover {
  background-color: transparent;
  width: 6px; }

.ps-container > .ps-scrollbar-y-rail:hover > .ps-scrollbar-y, .ps-container > .ps-scrollbar-y-rail:active > .ps-scrollbar-y {
  width: 9px; }

.ps-container > .ps-scrollbar-y-rail {
  right: 6px !important; }

body.menu {
  margin: 0px;
  font-family: Roboto;
  font-weight: 300;
  overflow-y: hidden;
  overflow-x: hidden;
  height: 100%;
  -webkit-user-select: none;
  background-color: white; }

.menu-header {
  display: flex;
  flex-direction: row; }

.menu-section-label {
  padding: 10px 0px 10px 20px;
  color: #039bff;
  text-transform: uppercase;
  font-weight: 700;
  font-family: Roboto Condensed;
  width: 100%; }

.menu {
  background: #fff;
  color: black; }

.menu .menu-section {
  overflow-x: hidden;
  overflow-y: auto;
  list-style-type: none;
  width: 100%;
  padding-left: 0;
  margin-top: 0px;
  margin-bottom: 0px; }

.menu-secondary {
  background: #ECF0F1;
  padding-bottom: 10px;
  padding-top: 10px; }

.menu-primary .menu-item:hover {
  background: #ECF0F1; }

.menu-secondary .menu-item:hover {
  background: #DADFE1; }

.menu-item {
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  padding-right: 10px;
  cursor: pointer; }

.menu-item-function {
  padding: 6px 0px 6px 20px; }

.menu-item-label {
  align-self: flex-start;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 8px 0px;
  height: 100%;
  flex: .75; }

.menu-item-label-fullwidth {
  flex: 1; }

.menu-item-actions {
  align-self: center;
  display: flex;
  justify-content: flex-end;
  flex: .25; }

.menu-item-action {
  display: flex;
  padding: 0em .15em; }

.ff-pin, .ff-delete {
  margin-top: 1px;
  padding-top: 5px;
  width: 25px;
  text-align: center;
  border: 1px solid transparent; }

.ff-pin:hover {
  color: black;
  width: 25px;
  border: 1px solid #039bff;
  border-radius: 4px; }

.finsemble-item-pinned {
  color: white;
  width: 25px;
  background-color: #039bff;
  border-radius: 4px; }

.finsemble-item-pinned:hover {
  color: white;
  width: 25px;
  background-color: #0287DE;
  border-radius: 4px; }

.ff-delete:hover {
  color: white;
  background-color: #EE5C5C;
  border-radius: 4px; }

/*
.app-launcher-pinned:hover {
	color: $menu-primary-font-color;
}
*/
.ff-new-workspace, .ff-save-1, .ff-saveas-1 {
  padding-right: 7px;
  margin-top: 2px; }
