<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Test Component</title>
	<script src="/FSBL.js"></script>
	<script src="./testComponent.js"></script>
	<style>
		.centered {
			display:flex;
			height:100%;
			flex-direction:column;
			align-content: center;
		}
		body {
			margin-left: 0px;
		}
	</style>
</head>
<body>
<div class="centered">
	<h2>Seed Project Example Component</h2>

	<div id="linker">
		<input type="text" id="linkerInput">
		<button id="linkerButton">Change Symbol</button>
	</div>

	<div id="client">
		<button id="dialogButton">Spawn A Dialog</button>
	</div>
</div>
</body>
</html>