<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>testComponent</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="testComponent.css" />
    <script src="../../vendor.bundle.js"></script>
    <script src="testComponent.js"></script>
  </head>
  <body>
    <h1>testComponent</h1>
    <button id='showWelcomeBtn'>Show Welcome Component</button>
  </body>
</html>
