<!DOCTYPE html>
<html>
	<head>
		<script src="../../vendor.bundle.js"></script>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<title>YesNoDialog</title>
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="yesNoDialog.css" />
	</head>

	<body>
		<div id="YesNoDialog-component-wrapper">
			<h2>
				YesNoDialog
			</h2>
		</div>
		<script src="yesNoDialog.js"></script>
	</body>
</html>
