<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>CustomNotification</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" type="text/css" href="CustomNotification.css?{cachebuster}">
   <script src="../../vendor.bundle.js?{cachebuster}"></script>
   <script src="CustomNotification.js?{cachebuster}"></script>
</head>
<body>
<h1>CustomNotification</h1>
<pre id="customData"></pre>
</body>
</html>

