button {
  margin-left: 5px;
  margin-top: 35px;
}

.text {
  margin-bottom: 20px;
}

#dummyClipboardDataTextArea {
  width: 100%;
  height: 30vh;
}

#bookmarkName {
  width: 30%;
}

#createBookmarkBtn{
  margin-top: 0px;
}

.previousFileListDiv {
  width: 80%;
  float: left;
}

.createBookmarkDiv {
  width: 100%;
  float: left;
  margin-top: 10px;
}

.rangeInputDiv {
  float: left;
  width: 25%;
  padding-left: 5px;
  padding-right: 5px;
}

.rangeInput {
  width: 100%;
}

.bookmarkListDiv {
  width: 80%;
  float: left;
  padding-bottom: 10px;
}

.focusBtn{
  padding-left: 5px;
  margin-top: 35px
}
