<html>
<!--
	 /*!
    * Copyright 2017 by ChartIQ, Inc.
    * All rights reserved.
    */
-->

<head>
	<link rel="stylesheet" type="text/css" href="../../samples/src/assets/css/finsemble.css">
	<link rel="stylesheet" type="text/css" href="ServiceManager.css">
	<title>Service Manager</title>
</head>

<body>
	<div class="drag-area center header-Main" id="header">Service Manager <span class="right countContainer">Active Services:<span id="activeCount"></span><span></span></div>
	<div class="buttons"><button id="restart-app">Restart App</button></div>
	<div class="header">Debug Logs:</div>
	<div class="logContainer" id="debugLogs"></div>
</body>
<script src='serviceManager.js'></script>

</html>