 /*!
* Copyright 2017 by ChartIQ, Inc.
* All rights reserved.
*/
.header{
    background: lightslategray;
    font-weight:bold;
}
.center{
      text-align: center;
}
.countContainer{
    font-size: 20px;

}
.logContainer{
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    max-height: 500px;
    overflow: scroll;

}
.right{
    float: right;
}
.header-Main{
    font-size: 30px;
    background-color: #1c2a35;
    color:white;
}
.workerName{
    font-weight:bold;
}