.settings/
.project
node_modules
public/build/
.vscode
.idea
.DS_Store
npm-debug.log
yarn-error.log
crash_service.exe
debug.log
.webpack-file-cache
package-lock.json
installer-tmp/
pkg/
pkg-development/
pkg-production/
.yarn/
.env
.iocd-cli/
assets/
config/
temp/
dist/
components/
modifications/