<!DOCTYPE html>
<html>

<head>
    <script src="../../vendor.bundle.js"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>No config entry found for this window.</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="nonConfiguredComponent.css">
    <script src="../../vendor.bundle.js"></script>
    <script src="nonConfiguredComponent.js"></script>
</head>

<body>
    <div id="container">
        <div id="content">
            <div>No config entry found for this window.</div>
            <div id="contentURL">No config entry found for this window.</div>
            <div>Please close this window and re-save your workspace</div>
        </div>
    </div>
</body>

</html>