body {
	margin:0px;
	font-family: Roboto;
}
$column-border-color: #91c5ff;
$left-nav-background-color: #0c3860;
$left-nav-header-background-color: #30507c;
$left-nav-font-color: #ffffff;
$section-toggle-background-color: $left-nav-background-color;
$section-toggle-font-color:  #ffffff;;

$active-section-toggle-background: #2068c3;
$affirmative-button-background: $active-section-toggle-background;
$section-toggle-hover-background-color: $left-nav-header-background-color;

$scrollbar-color: #039bff;
$auto-load-workspace-pill-color: $scrollbar-color;
$header-font-color: $scrollbar-color;
$active-workspace-background-color: rgba(238, 238, 238, 0.97);
$active-workspace-border-color: $scrollbar-color;

$list-border-color: #91c5ff;
$action-button-border-color: #dddddd;
$action-button-hover-border-color: #aaaaaa;

$positive-action-button-border-color: $list-border-color;
$positive-action-button-hover-border-color: #319bfb;
$negative-action-button-hover-border-color: #d0021b;
$negative-action-button-border-color:  #ee5c5c;

.inputAndSelectionDialog-component-class {
	background-color: #ffffff;
}

.content-main-wrapper {
	flex-direction: column;
}

.complex-menu-wrapper {
	display: flex;
	height: 100%;
	overflow: hidden;
	justify-content: flex-start;
}
.complex-menu-left-nav-header-img {
	width: 29px;
	height: 31px;
	margin-right: 15px;
	padding-left: 16px;
	padding-top:11px;
	padding-bottom:7px;
}
.complex-menu-content-section, .complex-menu-left-nav {
	display: flex;
}

.complex-menu-left-nav {
	width: 182px;
	font-size: 16px;
	flex-direction: column;
	color: $left-nav-font-color;
	background-color: $left-nav-background-color;
}

.complex-menu-left-nav-header {
	background-color: $left-nav-header-background-color;
	font-weight: 500;
	font-size: 21px;
	margin-bottom:30px;
	height: 49px;
	display: flex;
	align-items: center;
    align-content: center;
}

.content-section-header {
	display:flex;
	flex-direction: row;
	width:100%;
	font-size: 18px;
	font-weight: bold;
	color: $header-font-color;
	margin-bottom:8px;
	flex-direction: column;

	font-family: Roboto;
	font-size: 16px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
}
.Rectangle-10 {
	width: 370px;
	height: 189px;
	border: solid 1px #91c5ff;
  }
.content-section-template-wrapper {
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom:10px;

	font-family: Roboto;
	font-size: 15px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	color: #000000;
}
.content-section-description-wrapper {
	display:inline;
	margin-bottom:10px;
	font-family: Roboto;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	color: #666666;
	width:calc(100% - 40px);
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.workspace-input-name-wrapper {
	display:flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 250px;
	height: 35px;
}
.content-section-components-wrapper {
	display:flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-bottom:10px;
	font-family: Roboto;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	color: #000000;
}
.content-section-components-name {
	justify-content: space-between;
	margin-bottom:3px;
	font-family: Roboto;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	color: #000000;
	padding-left: 8px;
    padding-top: 4px;
}
.workspace-content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.user-preferences {
	height: 100%;
	display:flex;
	flex-direction: column;
}

.complex-menu-header {
	display: flex;
    justify-content: flex-end;
    padding: 6px 6px 0px 0px;
    font-size: 18px;
}

.ff-close {
	cursor: pointer;
}

.ff-close:hover {
	text-shadow: 1px 1px #d8d8d8;
}

.complex-menu-section-toggle {
	padding: 4px 30px 4px 0px;
	padding-left: 30px;
}

.complex-menu-section-toggle:hover {
	cursor:pointer;
	background-color: $section-toggle-hover-background-color;
}

.active-section-toggle {
	background-color: $active-section-toggle-background;
}

.workspace-input-row {
	align-items: center;
	justify-content: space-between;
}


.action-buttons-wrapper {
	display:flex;
	flex-direction: row;
}
.complex-menu-content-row {
	flex: 1;
	padding:.75em;
	align-content: flex-start;
}

#UserPreferences-component-wrapper {
	height: 100%;
	width: 100%;
}

.complex-menu-content-section {
	display: flex;
	flex-direction: row;
}

.workspace-section-wrapper {
	display:flex;
	justify-content: space-between;
}

.workspace-list {
	border: 1px solid $list-border-color;
	width: 100%;
	height: 210px;
	overflow-y: auto;
	margin-right:33px;
}

.workspace-item {
	user-select: none;
	height:28px;
	padding:4px 20px;
	display: flex;
	align-items: center;
	border: 1px solid transparent;
}

.workspace-item > div {
	width: 100%;
	height:100%;
	display:flex;
	align-items: center;
	outline-color: transparent;
}
.template-item {
	margin: 0px;
	height: 24px;
	font-size: 15px;
	padding: 0px 0px 0px 10px;
	cursor: pointer;
}

.focused-workspace-item {
	background-color: $active-workspace-background-color;

}
.auto-start-workspace-item:before {
	content: "";
	width:5px;
	height: 18px;
	display:inline-block;
	border-radius: 4px;
	margin-left:-15px;
	margin-right: 9px;
	background-color: $auto-load-workspace-pill-color;
}

.negative-action-button, .action-button {
	padding: .25em 0;
	display:flex;
	align-items:center;
	justify-content: center;
	margin: .5em;
	font-size:15px;
}

.action-button {
	width: 113px;
	/*total height will be 35px, including borders.*/
	height: 33px;
	border: 1px solid $action-button-border-color;
}

.action-button:hover {
	cursor:pointer;
	border: solid 1px $action-button-hover-border-color;
}

.positive-action-button {
	border: 1px solid $positive-action-button-border-color;
}

.positive-action-button:hover {
	border: 1px solid $positive-action-button-hover-border-color;
}

.negative-action-button {
	border: 1px solid $negative-action-button-border-color;
}

.negative-action-button:hover{
	cursor:pointer;
	border:1px solid $negative-action-button-hover-border-color;
}

.workspace-action-button {
	width:110px;
	padding: 0;
	margin: 0 8px;
}
.workspace-item > .workspace-editor {
	padding-left:0px;
}
.workspace-item-editing {
	border-top: 1px solid $active-workspace-border-color;
	border-bottom: 1px solid $active-workspace-border-color;
}
.workspace-editor {
	border:0;
	background-color: transparent;
	padding-left: 20px;
	height: 100%;
	width: 100%;
	font-size: 16px;
	outline-color: transparent;
}
.no-top-border {
	border-top: 1px solid transparent;
}


::-webkit-scrollbar-track
{
	border-radius: 3px;
	background-color: transparent;

}

::-webkit-scrollbar {
	width: 9px;
	background-color: transparent;
	border-radius: 3px;
}

::-webkit-scrollbar-thumb {
	cursor: pointer;
	border-radius: 9px;
	background-color: $scrollbar-color;
}

.content-main-row {
	display:flex;
	flex-direction: row;
	width: 100%;
}

.content-main-column {
	display: flex;
	flex-direction: column;
	margin: 8px;
	height: 181px;
	overflow-y: auto;
	user-select: none;
}

.templates-column {
	border: solid 1px $column-border-color;
	width: 362px;
}

.components-column {
	border: solid 1px $column-border-color;
	width: 153px;
	background-color:  #ecf0f1;
}

.ff-info {
	color: #039bff;
	font-size:15px;
	margin-left: 8px;
	margin-right: 8px;
}

.affirmative-button {
	background-color: $affirmative-button-background;
	border: solid 1px $column-border-color;
	color: white;
}

.invalid-workspace-error {
	color: red;
}

.invalid-workspace > input {
	border: 1px solid $negative-action-button-border-color !important;
}
.invalid-workspace > input::-webkit-input-placeholder {
	color: $negative-action-button-border-color !important;
	opacity: 0.8;
}
.input-field-wrapper {
	display:flex;
	flex-direction: column;
}