/*!
* Copyright 2017 - 2020 by ChartIQ, Inc.
* All rights reserved.
*/
@import url("../../../assets/css/_globals.css");

@import url("../../../assets/css/_menus.css");

html {
	height: 100%;
}

.ComponentList {
	width: 382px;
}

.appLauncher {
	max-height: 500px;
}

.addComponent {
	font-size: 0.8em;
	align-self: flex-end;
	cursor: pointer;
	padding-right: 1.3em;
}

.empty-delete {
	width: 1em;
}

::-webkit-scrollbar-track {
	border-radius: 3px;
}

::-webkit-scrollbar {
	width: 9px;
	background-color: var(--scrollbar-color);
	border-radius: 3px;
}

::-webkit-scrollbar-thumb {
	cursor: pointer;
	border-radius: inherit;
	background-color: rgba(0, 0, 0, 0.2);
}
