.actions-menu-wrapper {
	height: 17px;
	color: #fff;
	display: table;
	position: absolute;
	top: 10px;
	right: 10px;
}
.actions-menu-wrapper span {
	line-height: 17px;
	font-size: 10px;
	cursor: pointer;
}
.actions-menu-wrapper span i {
	margin-right: 5px;
	font-size: 14px;
}
.actions-menu {
	background: #303d47;
	z-index: 10;
    top: 22px;
	position: absolute;
	width: 132px;
	max-height: 214px;
	overflow-y: auto;
  	color: #495a69;
}
.actions-menu ul {
	padding: 0;
}
.actions-menu li {
	font-size: 11px;
	cursor: pointer;
	padding: 5px 8px;
  	color: #ffffff;
}