@import url("../../../../../assets/css/_globals.css");

body {
	margin: 0px;
	font-size: var(--procMonitor-font-size);
	font-weight: var(--procMonitor-font-weight);
	font-family: var(--font-family);
	color: var(--procMonitor-font-color);
	background-color: var(--procMonitor-background-color);
}

#container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.spacer1 {
	height: 50px;
}

.spacer2 {
	height: 15px;
}

.spacer3 {
	height: 15px;
}

.spacer4 {
	height: 0px;
}

h1 {
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
}

button {
	width: 200px;
	text-align: center !important;
	margin: 0 auto;
	max-width: 2000px;
	-webkit-appearance: none;
	background-color: #2068c3;
	color: #fff;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	font-size: 125%;
	border: 0px;
	border-radius: 3px;
	padding: 10px 15px;
	vertical-align: middle;
	transition: all 0.2s ease;
}

button:hover {
	background-color: #039bff;
	cursor: pointer;
	transition: all 0.2s ease;
}

#quitFS {
	color: #ee5c5c;
	background-color: #ffffff;
	font-size: 100%;
	width: 140px;
}
