<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
		<title>Notify to Finsemble!</title>
		<meta content="" name="description" />
		<meta content="width=device-width, initial-scale=1" name="viewport" />
		<link href="nofity.css" rel="stylesheet" type="text/css" />
		<script src="notify.js"></script>
	</head>
	<body>
		<div id="container">
			<div id="bounds"></div>
			<div class="spacer1"></div>
			<div class="spacer2"></div>
			<h1>Send notifications!</h1>
			<div class="spacer3"></div>
			<div>Feed source: <input id="feed-source" type="text" /></div>
			<br />
			<br />
			<button class="button" id="send-notification">
				Send Two Notifications
			</button>
			<br />
			<button class="button" id="send-timed">Send Timed Notification</button>
			<br />
			<br />
			<button class="button" id="get-last-issued">Get Last Issued</button>

			<br />
			<br />
			<div style="font-size: 1.2em">
				<div style="width: 180px">Last Issued from "Feed": <span id="feed-last-issued"> </span></div>
				<div style="width: 180px">Last Issued from Service: <span id="service-last-issued"> </span></div>
			</div>
			<div class="spacer4"></div>
		</div>
	</body>
</html>
