<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>demoComponent2</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="demoComponent2.css" />
    <script src="../../vendor.bundle.js"></script>
    <script src="demoComponent2.js"></script>
  </head>
  <body>
    <h1>demoComponent2</h1>
    <div>
      <label><b>Data transmitted from demoTransmitChannel</b></label><br/>
      <label for="Symbol">Symbol:</label>
      <input type="text" id="symbol" name="Symbol"><br><br>
      <label for="Price">Price:</label>
      <input type="text" id="price" name="Price"><br><br>
      <label for="DT">DateTime:</label>
      <input type="text" id="dt" name="DT"><br><br>
      <label><b>Data to be added</b></label><br/>
      <label for="input">Input:</label>
      <input type="text" id="input" name="input"><br><br>
      <label><b>Click the below button to transmit the above data</b></label><br/>
      <button id='transmit'>Transmit</button>
    </div>
  </body>
</html>
