<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>symbolBroadcaster</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" type="text/css" href="symbolBroadcaster.css?{cachebuster}">
    <script src="symbolBroadcaster.js?{cachebuster}"></script>
</head>
<body>
<h1>symbolBroadcaster</h1>
<input type="text" id="symbol"> <button id="publish">Publish</button>
</body>
</html>

