<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>demoComponent</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="demoComponent.css" />
    <link rel="stylesheet" type="text/css" href="./../welcome/welcome.css" />
    <script src="../../vendor.bundle.js"></script>
    <script src="demoComponent.js"></script>
  </head>
  <body>
    <h1>demoComponent</h1>
    <button id="screenCapBtn">Screen Cap</button>
  </body>
</html>
