<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<script src="../../vendor.bundle.js"></script>
		<title>Welcome to Finsemble!</title>
		<link rel="stylesheet" type="text/css" href="welcome.css" />
		<script src="welcome.js"></script>
	</head>

	<body class="finsemble">
		<div id="container">
			<div id="bounds"></div>
			<div class="spacer1"></div>
			<img src="./finsembleDarkBG_noText.png" id="finsembleLogo" height="100" />
			<div class="spacer2"></div>
			<h1>Welcome to Finsemble!</h1>
			<div class="spacer3"></div>
			<button class="button" id="launchTutorial" onclick="launchTutorial()">Launch Docs</button>
			<div class="spacer4"></div>
		</div>
	</body>
</html>
