<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
				content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<script src="switchUser.js"></script>
	<link rel="stylesheet" href="switchUser.css">
	<title>Switch User</title>
</head>
<body class="switch-user">
<h1>Switch User</h1>
<ul class="user-list">
	<li data-user-id="super"><span>Super User</span></li>
	<li data-user-id="normal"><span>Normal User</span></li>
	<li data-user-id="limited"><span>Limited User</span></li>
</ul>
</body>
</html>
