<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>multiWindowAppExample - parent page - HTML5 boilerplate</title>
</head>

<body>

	<h1>Parent Page</h1>
	  <button id="spawn">Spawn Child</button>
</body>

<script>
console.log('init parent');

function openPopup(e) {
	let child;
	
	child = window.open('child.html');
	
	child.childValue = 123;

	child.addEventListener('customevent', (e) => {
		alert(child.childValue);
	});
};

document.querySelector('#spawn').addEventListener('click', openPopup);
</script>
</html>
