body{
	background-color: #1c2a36;
	height: 100vh;
	width: 100vw;
	overflow-x: hidden
}
.dropzones {
	height:50vh;
	width:50vw;
	overflow-x: hidden;
	overflow-y: hidden;
	margin:2px 0 0 0 ;
	background-color: black;
	color:white;
}
#layoutContainer {
	height:50vh;
	width:50vw;
	overflow-x: hidden;
	overflow-y:hidden;
	margin:2px 0 0 0 ;
	background-color: black;
	color:white;
}
.layoutContainer {
	height:25vh;
	width:25vw;
	overflow-x: hidden;
	margin:2px 0 0 0 ;
	background-color: black;
	color:white;
}
.divide{
	width:100vw;
	background-color: #1c2a36;
	color:white;
	outline: none;
	border: none

}
.lm_item lm_row{
	width:500px;
	height:50vh
}