body{
	background-color: #1c2a36;
	height: 100vh;
	width: 100vw;
	overflow-x: hidden
	/* overflow: auto; */
}
#layoutContainer{
	height: 100vh;
	width:100vw;
	overflow-x: hidden;
	overflow-y:hidden;
	margin:0 0 0 0 
}