body, #canvas-wrapper, #canvas-wrapper div {
    margin:0;
    padding: 0;
    overflow: hidden !important;
}

body {
    background: #1c2a36;
    color: #ffffff;
    font-family: Roboto;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}
#canvas-wrapper, #canvas {
    float: left;
    width: 100%;
    height: 100%;
}

#tiles {
    width: 100%;
    height: 100%;
}

h1 {
    width: 100%;
    text-align: center;
    top: 30%;
    font-size: 22px;
    font-weight: 300;
    position: absolute;
}
.lm_goldenlayout {
    background: #151f29;
    overflow: hidden;
}
.lm_content {
    background: #1c2a36;
}
.lm_header .lm_controls {
    display: none;
}
.lm_dropTargetIndicator {
    box-shadow: none;
    background: #004ba3;
    border: 2px solid #0a8cf4;
    outline: none;
    opacity: .7;
}
.lm_dragProxy, .lm_dragProxy * {
    background: none !important;
    border: 0 !important;
    outline: none !important;
    box-shadow: none !important;

}
.lm_header .lm_tabs {
    width: 100%;
    padding: 0;
}
.lm_header .lm_tab,
.lm_header .lm_tab.lm_active {
    margin-right: 0;
    background: #1c2a36;
    display: block;
    float: none;
}
.lm_dropTargetIndicator {
    margin-top: -45px;
}