<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>testNotifications</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" type="text/css" href="testNotifications.css?{cachebuster}">
   <script src="/vendor.bundle.js?{cachebuster}"></script>
   <script src="testNotifications.js?{cachebuster}"></script>
</head>
<body>
<h1>testNotifications</h1>
<button id="notifyButton1">Notify me</button>
<button id="notifyButton2">Notify me w/ action</button>
<button id="notifyButton3">Notify me w/ showWindow</button>
</body>
</html>

