@import '_globals';
@import '_formElements';
body.dialog {
    -webkit-appearance: none;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    font-size: 12pt;
    font-weight:300;

html:before,html:after,body:before,body:after{
    content:"";
    background:$window-frame-inactive-color;
    position:fixed;
    display:block;
    z-index:2147483647;
}

    /* Styling for General Typography */
    h2 {
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
        color: #000;
        font-size: 18pt;
        margin: -5px 0px 20px 0px;
    }
    h3 {
	    font-family: 'Roboto', sans-serif;
	    font-weight: 300;
	    color: #000;
        text-align: center;
	    font-size: 15pt;
	    margin: 35px 0px;
    }
    p {
        margin: 8px 0px;
    }
    .dialog {
        //margin: 40px 20px;
        background-color: #FFF;
	    padding: 20px;
    }
    .dialog-question {
        font-weight: 300;
        color: #000;
        font-size: 15pt;
        margin-bottom:35px;
        text-align:center;
        word-wrap: break-word;
    }

    /* Always Show Number Input Arrows, Give A Bit Of Space */
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button { margin-left: 5px; }

    input:focus {
        box-shadow: 0 0 5px rgba (81,203, 238, 1);
        border: 1px solid #039BFF;
        outline: none;
    }

    input {
        -webkit-appearance: none;
        color: #000;
        text-align: left;
        font-size: 12pt;
        font-weight: 300;
        vertical-align: middle;
        background-color: #FFF;
        // -webkit-border-radius: 4px;
        // -moz-border-radius: 4px;
        // border-radius: 4px;
        padding-left: 15px;
        width: 100%;
        height: 33px;
        max-width: 100%;
        padding: 3px 10px;
        border: 1px solid #bdd9ff;
        box-sizing: border-box;
        transition: .2s ease-in;
    }

}
