@font-face {
  font-family: "jpmuitk-icons";
  src: url("data:application/x-font-woff;charset=utf-8;base64, d09GRgABAAAAAF4MAAsAAAAAXcAAAQABAAAAAAAAAAAAAAAAAAAAAAAAAABPUy8yAAABCAAAAGAAAABgDxIGoWNtYXAAAAFoAAAAVAAAAFQXVtMCZ2FzcAAAAbwAAAAIAAAACAAAABBnbHlmAAABxAAAVtgAAFbYaXm/C2hlYWQAAFicAAAANgAAADYRB0NfaGhlYQAAWNQAAAAkAAAAJAfCBEFobXR4AABY+AAAAgAAAAIA9gAaCGxvY2EAAFr4AAABAgAAAQKNd3dEbWF4cAAAW/wAAAAgAAAAIACJAX9uYW1lAABcHAAAAc4AAAHOJD/uyHBvc3QAAF3sAAAAIAAAACAAAwAAAAMD/AGQAAUAAAKZAswAAACPApkCzAAAAesAMwEJAAAAAAAAAAAAAAAAAAAAARAAAAAAAAAAAAAAAAAAAAAAQAAA6XsDwP/AAEADwABAAAAAAQAAAAAAAAAAAAAAIAAAAAAAAwAAAAMAAAAcAAEAAwAAABwAAwABAAAAHAAEADgAAAAKAAgAAgACAAEAIOl7//3//wAAAAAAIOkA//3//wAB/+MXBAADAAEAAAAAAAAAAAAAAAEAAf//AA8AAQAAAAAAAAAAAAIAADc5AQAAAAABAAAAAAAAAAAAAgAANzkBAAAAAAEAAAAAAAAAAAACAAA3OQEAAAAAAgAA/7wEAAO8ACkAMQAAATQnLgEnJic0NjU0JiMiBhUcARUGBw4BBwYVFAcOAQcGByEmJy4BJyY1ATI2NyEeATMDTxgYTTAxMQEmGxskMTExTRgYDg0vISAmBAAmICAwDQ7+sjVPBf7tBU82AgxiQ0NVFhYIAQIBGCMjGAECAQgWFlZDQ2JxRERWGxsgIBscVUREcv2wRC4uRAAAAwAA/7wEAAO8ABoARQBNAAA3PgE3PgE1NDY3PgEzMhYXHgEVFBceARcWFyEBNCcuAScmJzQ2NTQmIyIGFRwBFQYHDgEHBhUUBw4BBwYHISYnLgEnJjUxATI2NyEeATNzER8NGBYyMS5pKShpLTEyBwgbFBQa/OUC3BgYTTAxMQEmGxskMTExTRgYDg0vISAmBAAmICAwDQ7+sjVPBf7tBU82kRIoGzKOZl2HKiYYGCYqh1xUPTxYHx8ZAXtiQ0NVFhYIAQIBGCMjGAECAQgWFlZDQ2JxRERWGxsgIBscVUREcv2wRC4uRAAAAAABATD/vALQA7wASAAAATQmIyIGFREUFjMyNjUTNDY3PgEzMhYVERQGIyImNRE0NjcyFhceARUTFBYzMjY1ETQmJy4BIyIHDgEHBhURFBYXHgE3MjY1AwJhPSorPAsJCAwBCggKFg0ZJUIvL0NjRyI9GBcaAQsJCAsfHR1NKismJjkQEBcVFTggP1oBAuwqPT0q/tsJCwsJASUMGAgJCSUZ/WovQ0MvApZFYwEaFxg9Iv3LCAwMCAI0KkwdHSAREDkmJiv9ah85FRQZAVtAApUAAwAA/7wEAAO8ABAAIQBGAAATAQYHBiYnJicmJyY0NzY3MSUWFx4BBwYHATY3NhYXFhcxATI3PgE3NjU0Jy4BJyYjIgcOAQcGFRQXHgEXFhcWFx4BFxYzMaACq0haWrpYWEVCISEhIUICtkUkIwMhIUP9VUdYWLZXWEX+qmpdXosoKCgoi15dampdXosoKAoKJhwcJCQqKlwyMTMDB/1VRSEhBSYmSUZWVrRWVkYLRldXtlhYSAKrRCEgAiQjRfyqKCiLXV5qal1diygpKSiLXV1qMzIxXCoqJCQcHCcKCQABAAD/5QQAA5MAFAAAAREjESMRIycjFSMRIxEVIREjESMRAuHNKM0EJc0pBAApzQOT/HsCSP24wMABXv6iKQHX/lIDhQAAAAAFAAn/vAP3A7wADAAZACYANAB+AAABIiY1NDYzMhYVFAYjAyImNTQ2MzIWFRQGIwEiJjU0NjMyFhUUBiMBIiY1NDYzMhYVFAYjMQEiBhUUFhcDLgEjIgYHJz4BNTQmIyIGFRQWFwMuASMiBhUUFjMyNjU0JicTHgEzMjY3Fw4BFRQWMzI2NTQmJxMeATMyNjU0JiMxA5sWICAWFyAgF+4WICAWFyAgF/7KFyAgFxYgIBb+7hcgIBcWICAWAzYlNhYTrQQHBBAdDK0FBjYlJjYRDrgHDwcmNjYmJTYRDbgHDggQHQytBQY2JSY2GBOtBAgEJjY2JgMpIRYXICAXFyD9kyAWFyAgFxYgAQAgFhcgIBcWIP4kIBcXICAXFyAD3DYmGCgM/jgBAQsKjwkWDCU2NiUVIw3+vwMDNiYmNTUmFCMNAUECAwsKjwoVCyY2NiYYKA0BxwEBNSYmNgABAAn/vAP3A7wASAAAARQWFwMuASMiBgcnPgE1NCYjIgYVFBYXAy4BIyIGFRQWMzI2NTQmJxMeATMyNjcXDgEVFBYzMjY1NCYnEx4BMzI2NTQmIyIGFQNAFhOtBAcEEB0MrQUGNiUmNhEOuAcPByY2NiYlNhENuAcOCBAdDK0FBjYlJjYYE60ECAQmNjYmJTYDYBgoDP44AQELCo8JFgwlNjYlFSMN/r8DAzYmJjU1JhQjDQFBAgMLCo8KFQsmNjYmGCgNAccBATUmJjY2JgAABAAA/7wEAAO8AAsAFwAjAFMAAAEyFhUUBiMiJjU0NiEyFhUUBiMiJjU0NiEyFhUUBiMiJjU0NgMyNjcyNjc4ATE+ATMyFh8BJzQ2Nz4BNz4BNTQnLgEnJiMiBw4BBwYVFBceARcWMwEUIS4uISEuLgENIS4uISAvLwENIC4uICEuLsw2ZC4CAgEHDgcIDwfONgUFAQMCJisoKItdXmpqXV2MKCgoKIxdXWoCCy8gIS4uISAvLyAhLi4hIC8vICEuLiEgL/3VFBMBAQIDAwNM2QoSCAMEAjqISWdaWoYnJycnhlpaZmdaWoYnJgAFAAD/vAQAA7wALgBcAGgAdACAAAAlPgE1NCcuAScmIyIHDgEHBhUUFx4BFxYzMTI2PwEWNjM+ATMyFh8BJzQ2Nz4BNwcOASMxIicuAScmNTQ3PgE3NjMyFx4BFxYVFAYHFAYHDgEVFycuASMiBgciBiMBMhYVFAYjIiY1NDYhMhYVFAYjIiY1NDYhMhYVFAYjIiY1NDYDjyUmJSWBVlZjYlZXgSUlJSWBV1ZiL1oqDAEDAgYOBwoSB6YsBgYCAwHHL2U0al1diykoKCmLXV1qal5diygoKikCAgMEPeoECwYFCgUBAQL+XyEuLiEgLi4BDSAuLiAhLi4BDSEuLiEhLi7eNnxCXlJSeyQjIyR7UlJeXVJTeiQjEBAGAQEDAgMDPbILFgsEBAHOExQmJ4VZWWVmWVmFJicnJoVZWmVHhzwBAwIGDAPxVQICAgIBAecuISEuLiEhLi4hIS4uISEuLiEhLi4hIS4AAAAAAQAAAAsEAANtAEwAACUeATMyNjcwNjM4ATE+ATMyFh8BJzQ2Nz4BNz4BNTQnLgEnJicmJy4BJyYjIgcOAQcGFRQWFx4BFx4BFQc3PgEzMhYXMhYzHgEzMjY3AncaOR4dOBkBAQQHBAUIBHEeAwIBAgEVFxUVSTExOBolJVo0NDlUSUpuHyAiHgEDAQQEK6MFDAcFCwYBAQEkUCo/czFxDA0MCwEBAgICLH8GCwQCAwEiTys7MzROGBcDLyYnOA8PISFxTUxWP3IxAgQCBw8IuEACAwIDARARJiIAAAQAAAAKBAADbQBEAJMAwADuAAAlIiYnLgEjIgYPAT8BNCYnLgEnLgE1NDc+ATc2MzIXHgEXFhcWFx4BFxYVFAYHFDAHDgEnFycuASMiBgcOASMiJicOASMlPgE1NicuAScmLwImJy4BJyYjIgcOAQcGFRQWFx4BFx4BDwE3PgEzMhYXFjIXHgEzMjY/ARceATMyNj8BOgE3PgEzMhYfASc0Njc+ATMFMjc+ATc2NTQnLgEnJiMiBw4BBwYVFBYXHgEXHgEVBzc+ATMyFhcWMhceATMHIjQjLgEjIgYPAT8BNCYnLgEnLgE1NDc+ATc2MzIXHgEXFhUUBw4BBwYjIiYnAZsqUCYFCAQECAW7CCgCAgIBAh8hHyBvSkpUNjIzWiUmGzgxMEgVFBgXAQIBASWMAgUCAgQCHDkdHDYaMHA7AhsTFAETE0EsLTIKBBkjIlQvMDJNRERlHR0eHAICAgUFASF+Bg8IBw4GAgEBIkomOGouCAgYNBsXLhULAQMCAwgEBgsFThYEBAECAf3iTUNDZR0dHR1lQ0NNTENEZB0dHhwCAgMEBSF5BxAIBw4HAQIBIkklnwIBBAcDBAgEwAkpAwIBAgEgISAgb0pLVFVKS28gICAgb0pLVSlRJTcREAICAgJIIakFCgQCAwEycTxVS0twICAODTQlJC4EGBlOMzI6KlAkAQIDBAGZNgEBAQEMDAsKICHFH0UlMy4tRRUUAgEILCMiMg0NHR5mREVNN2YsAgQDCRUNjDEDAwMCAQEPDyEgBQQLCwkIBQEBAgMCHlsIDwcCA6IeHWVERE5NRERlHh0dHmVERE42ZiwCBAQJFA2JLwMDAwIBAQ8PBgEBAgICSiWoBQoEAgMBMnE8VktLcSAgICBwTEtVVktLcCEgERAAAAAAAQAA/7wEAAO8ACwAACUyNjc+ATMyFh8BJzQ2Nz4BNz4BNTQnLgEnJiMiBw4BBwYVFBceARcWMzI2NwLIAgIBBg8HCA8HzjYFBQEDAiYrKCiLXV5qal1djCgoKCiMXV1qNmQuBwEBAgMDA0zZChIIAwQCOohJZ1pahicnJyeGWlpmZ1pahicmFBMAAAACAAb/vAP6A7wALABZAAAlFycuASMiBgciBiMOASMiJy4BJyY1NDc+ATc2MzIXHgEXFgcUBgcOAQcOAQcHPgEzMhYfASc0Njc+ATc+ATU0Jy4BJyYjIgcOAQcGFRQXHgEXFjMyNjc+ATMDnT3nBQsFBQsFAQEBLmQ0aVxciignJyiKXFxpaVxdiSgoASkoAQIBBAMB4QgRCQkSCKMrBgUDAwEkJiUkgFVVYmFVVn8lJSUlf1ZVYTBcLAECAa3xVQICAgIBExQmJ4VZWWVmWVmFJicnJoVZWmVHhzwBAwIGDAN5AwMDAz2yCxYLBAQBNnxCXlJSeyQjIyR7UlJeXVJTeiQjEhEBAQADAAD/vAQAA7wABAAJABMAABcRIREhNyERIRETFTM1IREjFzMRAAMU/OwpAsH9P8MqAsF1AZ1EAxP87SkCwf0/A9eedP0/KQMUAAAAAQAA/7wEAAO8AAsAAAkBBwkBFwkBNwkBJwIA/kBAAcD+QkABvgG+QP5CAcBAAfsBwUD+P/5BQAG//kFAAb8BwUAAAAAEAGL/vAOeA7wAAwAIAAwAEQAAASE1IQEhESERKQERISUhNSEVAjsBY/6d/icBY/6dAdkBY/6d/icBY/6dAyCc/AADE/ztAxNRnJwACABy/7wDjgO8AAUACQAPABQAHgAoAC0AMgAAATUhFSE1FxUhNSU1IRUhNRcVITUhBSMRMxEhETMRISEjETMRIREzESEDNSEVISE1IRUhAjkBVf6rJgEJ/QoBVf6rJgEJ/vcBtBMmAQkm/r7+ORMmAQkm/r4TAVX+qwHHAVX+qwOpE76rE3JyExO+qxNycr79CgLQ/TAC9v0KAtD9MAL2/OQmJiYmAAAABQB2/7wDigO8AAQACQANABkAMgAAJSMTMwMjETMRIyMDMxMDNDY7ATIWHQEhNTEFNTQmKwEiBh0BIxUzExQWMyEyNjUTMzUjApIoHSgdpSYmfx0oHRwWEb4RFv70ATUvIb4hL9s6QC8iAYEhL0A42x4Cnv1iAp79YgKe/WIDUBAWFhA1NTU1IC4uIDUo/PkhLS0hAwcoAAAGAID/vAOAA7wADAAXADAANAA4ADwAACUVFAYjISImPQEDIQMBNDY7ATIWHQEhNQUjNTQmKwEiBh0BIxUzExQWMyEyNjUTMzUDIxMzAxEzESMDMxMC5BcQ/ogQFz8CQz7+mBcQuhAW/vkCBNUuILogLtU4Py4gAXghLT828ygdKMAmox0nHgwCEBcXEAIDBfz7A2IQFxcQNjY2NiAuLiA2J/z5IS0tIQMHJ/z9Ao39cwKN/XMCjf1zAAAAAAMAdv+8A4oDvAAGAA0AEAAAExEhETEBIRMRIREhESEJASF2AxT+gf5rLQE7AX/9RgFoASn+1wO8/AAClQFr/CoDq/6r/aoDmf7nAAAFAGz/vAOUA7wABgANABEAFQAZAAATESERMQEhExEhESERIQkBIREDETMRNyE1IWwDKP54/mAuAUMBif00AXIBMP7QTSLB/mwBlAO8/AAClQFr/CoDq/6r/aoDmf7nARn83AF8/oSyKAAAAAAGAIv/vAN1A7wAMgB/AIYAjQCUAJcAACUeARcjLgEnLgEjIgYHDgEVFBYXHgEzMjY3PgE3Mw4BBw4BIyImJy4BNTQ2Nz4BMzIWFxcUFhceATMyNjc+ATU0JicuAS8BLgEnLgE1NDY3PgEzMhYXHgEVIy4BJy4BIyIGBw4BFRQWFx4BHwEeARceARUUBgcOASMiJicuATUzNxc3MwcjJwERIRExASETESERIREhCQEhAbQICgEWAggFBhAKDRQIBwgHBwcVDQ0TBwQFAhYCCQkKGxEPGQoNDQoJCx4TEBkJQAQDBRUOBgwFCwoEBQQOCRcLEAUICAgICBYPDRYKCQkVAQQDBRIMCg8EBQQFBQQPDBgIDgQICAoKChgODxkJCQkWnDEwGT0ZPv4VAur+lv6AKgErAWv9agFWARn+5/YIEwsIDQUFBAgJCRsSDxgJCgkKCgUNCQ4WCQsLCQkMJBkTHgwNDQgJZgcMBAkIAgEEDQkHCgMDBQIFAwUDBRALCxMHCAcGBwYVDgcKBAcGBAQFCgUGCgICBQMFAgUEBhELDhUGBgYICAgWDnORkaqqArn8AAKVAWv8KgOr/qv9qgOZ/ucAAAgAi/+8A3UDvAARACAANgBFAE8AVgBdAGAAAAEzMhYXHgEVFAYHDgErARUjNRcuASsBFTMyNjc+ATU0JhcyNjc+ATc+ATc+ATU0JicuASsBFTMnMzIWFx4BFRQGBw4BKwE3MxUjFTMVIxUjAREhETEBIRMRIREhESEJASEBPE0LEgcHBwYGBxMMNhdaBAoHLi4IDAUFBQd8BgkEBwsEAwUCAQEHBgYUDikpQEURGwoICQUFCR8WRKx1XlNTF/4GAur+lv6AKgErAWv9agFWARn+5wEDBwYGEgwKEQcIB0iqGAICOwQDAwwICQ17AQEDCAcFDQgFCQQPGQkICYKWDQwLHREOGAsTFKoVMxVNA2P8AAKVAWv8KgOr/qv9qgOZ/ucAAAAEAHb/vAOKA7wAAwAKABEAFAAAASE1IQMRIRExASETESERIREhCQEhAWIBPP7E7AMU/oH+ay0BOwF//UYBaAEp/tcBHigCdvwAApUBa/wqA6v+q/2qA5n+5wAAAAQAi/+8A3UDvAAGAA0AEAATAAATESERMQEhExEhESERIQkBIQcRN4sC6v6W/oAqASsBa/1qAVYBGf7nVdIDvPwAApUBa/wqA6v+q/2qA5n+5+f++oMAAAAFAIv/vAN1A7wABgATABoAIQAkAAAlIzUzNTMVJxQWMzI2NTQmIyIGFQMRIRExASETESERIREhCQEhAfpPQwy4ZEdHZGRHR2S3Aur+lv6AKgErAWv9agFWARn+5/cMXWknR2NjR0dkZEcCnvwAApUBa/wqA6v+q/2qA5n+5wAAAAYAi/+8A3UDvAAGAA0AEAAoAC4AfAAAExEhETEBIRMRIREhESEJASEDIycuAScxFAYHIzcnMxceARc+ATczBxczIzUzFTM3LgEnLgEjIgYHDgEVFBYXHgEXHgEXHgEXHgEVFAYHDgEjIiYnLgE1Nx4BFx4BMzI2Nz4BNTQmJy4BJy4BJy4BNTQ2Nz4BMzIWFx4BFQeLAur+lv6AKgErAWv9agFWARn+5zIbIgcHAhoZG0I6GiQDBAICGBUZPEB9ahdTfwEGBQUPCQkOBgUFBAQEEAwLEQYHCwUFBAgJCRYOEhsJCAoVAQgHBxEKCRAFBgYGBgYVDg4VBgYHCAgIFg4OFgkJCRUDvPwAApUBa/wqA6v+q/2qA5n+5/3zMAkMAwEkI1hRMgQHAwQgHE9aqZVkCAwEBAQDAwMKBgYIAgMFAwIFAgMHBgUNCQsSBwcICAgIFQ0BCg4FBQQDBAQLBgcKBAMGAwMJBQYPCAsQBwcGBgcHEgwCAAABAAAAiQQAAu8ABQAACQIHCQEDwv4+/j4+AgACAALv/h4B4kL93AIkAAAAAAUAAP+8A+kDpQADAAwAJQAsADAAAAEnARcHJzUBMxcVASMBNz4BHwE3JyYGDwEVFzM3PgEnBxYGDwEnATcXBwUnEwc3JwcDjcz9sswH2wJdDtv9ow4BamYVNhJ1D3UZRxtt3A5uGwIYDxICFGfN/aYQvwT++QxIMeeoPwJ9zP2yzBbaDwJd2w/9pAMSZhUCEnUPdRgDGm4P3G4aSBkPEjcUZs39pAS/EEgMAQf8P6fmAAAAAAMAAP/CA+wDogADAA4AEQAAJScBFzcnJgYPARc3PgEnAQMlASjNAjbNjnIVPhdr12wXAhX8XkoBDh3NAjbN3XIVAxZs2GwXPhX9oP7ySgAAAgAA/7wEAAO8AAsAGQAABTUhESERIRUhESERKQERIREhEQcnNxcHJxEBif6qA5r+qgGJ/AACGAHo/AAB7JIfx8YfkUQ2A5T8bDYEAPwABAD8AAJxkh/Hxx+S/Y8AAAAAAgAA/7wEAAO8AAsAFAAABTUhESERIRUhESERIREXNycHFzcRAYn+qgOa/qoBifwAAhSSH8fGH5FENgOU/Gw2BAD8AAKIkh/Gxh+S/XgAAAABAAD/4AQAA5cACQAAAQMhBQMlBQMlIQIAeP54AUB8ATwBPH0BQf54A5f+leD+lOLiAWzgAAAAAAIAAP/gBAADlwAJABQAAAEDIQUDJQUDJSEFJyEbASEHEycHEwIAeP54AUB8ATwBPH0BQf54/vb3ASteXgEr92L09GIDl/6V4P6U4uIBbODSqwEa/uar/uiurgEYAAAAAAEAAP/3BAADgQAFAAATAREzEQEAAYrsAYoDgf32/oABgAIKAAIAAP/3BAADgQAGAAwAABMBETMRASEJASEBESMAAYrsAYr8AAGx/p4DY/6dngOB/fb+gAGAAgr+AwHV/iv+mgABAGb/vAOaA7wAIwAAAQ4BIyImJy4BIyIGDwERMxE+ATMyFhceATMyNjc+ATcRDgEHA2YaQSQ3ZzMzazlwWgQLNA5PSTRkNDVuPCM+Gg8ZDAwaDgOJBAgWCwsTIQMI/CwBygYQHgsMEwcEAQQCAisDBAEAAAIAZv+8A5oDvAAaAD8AAAEOASMiJicuASMiBgcRPgEzMhYXHgEzMjY3EREOASMiJicuASMiBg8BETMRPgEzMhYXHgEzMjY3PgE3EQ4BBzEDZho+JDdqMzNrOD5QGA5QSDRkNDVrOyRBGhpBJDdnMzNrOXBaBAs0Dk9JNGQ0NW48Iz4aDxkMDBoOAZIDCBMKCyAMBwG3BhASCwsXCAP+PQH3BAgWCwsTIQMI/CwBygYQHgsMEwcEAQQCAisDBAEAAAQAAP/DBAADtQADAAcADAARAAABIREhByERIQEhESERAyERIRECJwHS/i4HAeD+IP3nAdL+LgcB4P4gA7X+LkD+IAPy/i4B0v3u/iAB4AAACAAA/7wEAAO8AAMABwALAA8AEwAXABsAHwAAAREhESUhESEXESERJSERIQERIRElIREhEyERISchESECUQGF/lEB2f4nKgGF/lEB2f4n/gMBhf5RAdn+JyoBhf57KgHZ/icDkv57AYUq/id5/nwBhCr+KAPW/nsBhSr+J/4DAYQq/igAAwAAAHMEAAMFAEkAlgDUAAABLgEnLgEnLgE1JjQ1NDY3PgE3FjY3PgEHPgE3PgEnLgEnJgYHDgEXHgEXJhYXHgE3HgEXHgEXHgEVBhQHDgEHDgEHDgEVITQmJyUOATc2MAc+ATc+AScuAScuASc0Jjc2MjM+ATc+ATc2JicuAScmNicuASMiBgcOARcWFAcOAQcOARceATcUFgcOAQcOARUzMjY3PgE3JS4BJyY2NxY2Nz4BNz4BNzYmJyY2Jy4BJy4BBwYWBw4BFx4BFx4BMzIGFQ4BBw4BBwYyFx4BFx4BFzM0JicC1RcxFwcWAwMBAQ8DCQUBDwkCAgoSBQQBAwEHDU0tLlIRCAECAgQFEAcBAwkQAQQEAwoGAwMBBAMrDB84Gh4fAns4MP4pBgYOBQMMGA0FAwQGJgoGBAEBAgIPAwoTCQQIAwQIAgYGAQEDBQg7KhkvDhAEAQECAQQCAgwEDioSAQMFNQoeKLYCDQIMHA8Cuw0sCgUCAQcQCAcOBgQGAwYDAxMFAQETGhc/GUkZGQQGCwYMBwoUCwEBAhwHBxMDBR0GEh8OChcEtygfAQgIBggCCAgIEQkGDQcEDwQPJxEEJgkGNQUHEggWLxUtMAIBKy0VLhcKFgkFMAYJKwQOHA0JEAcEAwQNHA0NDQIHDBMWQiUyUhEcAwMHAgEFBAEBBgUIBwQCBgcDFAICAgQDAgQCAw0EDRsOHDccKioTFhk6HBAgEAcNBwUTAgoIAgkUCAwKAwovIxcCDRYIGAUHDAYZBwECAQEDAgEDAgQEBh9LIh05EA4CCh2cOAkJBgMEAQMDHgIIBwICAwgLAQMSCwkWDiMvCgAABgAAAHMEAAMFAFIAnwDIARIBPgF8AAAlPgE3PgE3PgE3PgE3NDY1NCYnLgEnNCYnLgEnLgEnJjY3NiYnJjY3NhYXFgYHDgEXFgYHDgEHDgEHDgEHDgEVHAEXHgEXHgEXHgEXIT4BNzYGNyUuAScuAScuATUmNDU0Njc+ATcWNjc+AQc+ATc2NCcuAScmBgcOARceARcmFhceATceARceARceARUUBgcOAQcOAQcOARUhNCYnJhYnBSM+ATc+ATc8ASMiJic2Jjc+ATMyFhcWBhcOAQcqASMGFBUOARcOAQc3PgE3MjYnLgEnLgE1LgE3NjI3PgE3PgE3NiYnLgEnJjYnLgEjIgYHDgEXFhQHDgEHDgEXHgE3FBYHDgEHDgEVMzI2Nz4BNzYGNwUuASc2JicmIicqASc2Jjc+ATMyFhcWBhcGIiMGFBUeARceARcjBiYnJhYnFzM0JicuAScmNjUWNjc+ATc+ATc2JicmNic0JicuAQcGFgcOARceARceATMyBhUOAQcOAQcGMhceARceARcBBwoYDRInEw8jDAsGAQEPBQgDAgIFBQgCBAMDAggDBAkCBAUUKY4NBAQFAgMFBwMEAgkIBwEBAQQGAhEDBSYXFjIWFyYH/dYEDgoQGgoBzhcxFwcWAwMBARACCQUCDwgDAQoRBAQBBAYOTS0uUhEIAQMBBAUQBwICCg8CAwQDCgYDAwEDBCsMHjkaHh8CfDkwEyYT/c1wDDQUEhcCAg8fDwwJBgUjHBsmBggIDQoUCQUKBQMBBQ8RIQpeDBoNBQMDByUKBgUBAQICEAIKFAkEBwQECQIGBQECAwUHPCkaLw4QBAEBAgEDAwIMBA4rEQIDBTULHii2Ag0CDB0QECkZAkgJEgoPBQIBBwsKFwkMBwYFJh0bIgYICgwOHg8EARMTFTYNZgwLCQkQBwG3KB4OLAoFAwgQBwcOBwMGAwcDBBIEARMaGD4aSBgZBAYLBg0GChUKAgICGwcHEwQFHgUSHw4KFwTGChEFBwMFBA0LCx0ODBgMCAwGCxwNBQ0DBQYHCBMKBgsFCRkJHDoWLRk/FCsTCQ0IDBINCwwHBRcIChMIAw8DEyYTGhUJCQILCycZDhcKEBsLQggGCAIICAgRCQYNBwQPBA8nEQQmCQY1BQcSCBYvFS0wAgErLRUuFwoWCQUwBgkrBA4cDQkQBwQDBA0cDQ4MAgcMExZCJTJSEQYNBwMUBwgGGBQCQQECJk4nHB4aHChQKAIBAQEIAhMyDwscECAGBAIGBQkGBAIGBwMUAwEBAQQEAQQCBAwEDRwOGzgbKioTFhk6HBAgEAcNBwQTAwoIAgkTCA0JBAowIhYDDRcICBUNBwgQBg8zEgsBBCZOJx0dGhooUScDAToEFBkICAcVAREICA4GPiIwCgQIDAYZBwECAQEDAgEDAgQEBh9LIh05EA4DCx2cOAkJBgMEAgIDHgIIBwICAwgLAQMSCwkWDgAAAwAA/7wEAAO8ABoAJgBCAAABDgEHIz4BNz4BNTQmIyIGFyM+ATMyFhUUBgcDIiY1NDYzMhYVFAYDIgcOAQcGFRQXHgEXFjMyNz4BNzY1NCcuAScmAl4qDgIuAh4qFBw/Kjw7AS8BVlA9WCQcUxIYGBIRGBgcal1eiygoKCiLXl1qal1eiygoKCiLXl0BySoqLzREJhMvHCw2OjhOS0c/KTka/uQYEhEYGBESGAMPKCmLXV1qal5diygoKCiLXV5qal1diykoAAAEAAD/vAQAA7wAHAA4AFMAXwAABSInLgEnJjU0Nz4BNzYzMhceARcWFRQHDgEHBiMRIgcOAQcGFRQXHgEXFjMyNz4BNzY1NCcuAScmByIGBzMmNjMyFhUUBgcOAQczPgE3PgE1NCYjEyIGFRQWMzI2NTQmAgBhVVZ/JSUlJIBVVmFhVVZ/JSUlJX9WVWFqXV6LKCgoKIteXWpqXV6LKCgoKIteXWFQVgEvATs8Kj8cFCoeAi4CDiocJFg9AhIYGBIRGBgaJSWAVVZhYVVWfyUlJSV/VlVhYVZVgCUlA9YoKYtdXWpqXl2LKCgoKItdXmpqXV2LKSjxTE45OjcrHC8TJkQ1MCoqGjkoP0j+NRgREhgYEhEYAAAAAgAA/7wEAAO8AAgAEgAAExEhESERIREBNQU1IxEHFwkBN1UBKwEAASv+Vf8Aq1UfAeEB4R8B5v3WAVX+qwIqAVaAzXf/AEQeAYH+fx4AAAAEAAD/vAQAA7wACQATAB4AIwAAExEhESERIREJARcJAREjESERIxEBBTUjEQcXCQE3AQUzFQc1VQErAQABK/5V/lUrAYABgNX+qtUBgP8Aq1UfAeEB4R/+AP6AVVUB5v3WAVX+qwIqAVb+qhQBM/7N/hQBVv6qAewB6tyA/u1JIQGe/mIhAbiAb0SzAAMAAP+8BAADvAALAA8AGQAAARUhESERITUhESERGQEhEQEjEScHFzcnBxEBif6qA5r+qgGJ/AAEAP4YLJIfx8YfkQO8NvxsA5Q2/AAEAPwABAD8AAQA/XiSH8fHH5ICiAAAAAACAAD/vAQAA7wACwAUAAABFSERIREhNSERIREhETcXByc3FxEBif6qA5r+qgGJ/AACFJIfx8YfkQO8NvxsA5Q2/AAEAP14kh/Hxx+SAogAAAMAAP+8BAADvAAbACcANQAABSInLgEnJjU0Nz4BNzYzMhceARcWFRQHDgEHBgMiBhUUFjMyNjU0JgciBhURFBYzMjY1ETQmAgBqXV2LKSgoKYtdXWpqXV2LKSgoKYtdXWkQFxcQERcXEgkMDAkJDAxEKCiLXl1qal1diygpKSiLXV1qal1eiygoAwQXEBAYGBAQF5wMCf68CQwMCQFECQwAAAAABAAA/7wEAAO8ABsANwBEAFMAAAUiJy4BJyY1NDc+ATc2MzIXHgEXFhUUBw4BBwYDIgcOAQcGFRQXHgEXFjMyNz4BNzY1NCcuAScmBzIWFRQGIyImNTQ2MwciBhURFBYzMjY1ETQmIwIAYldXgSUmJiWBV1diYldXgSUmJiWBV1dial1diykoKCmLXV1qal1diykoKCmLXV1pERcXERAXFxABCQwMCQkMDAkgJSaBV1ZjYldWgiUmJiWCVldiY1ZXgSYlA9wpKItdXWpqXV6LKCgoKIteXWpqXV2LKCn8FxAQGBgQEBecDAn+vAkMDAkBRAkMAAUA7P+8AxQDvAADAAcACwAPABMAABMzESMBMxEjASEVIRUhFSEVIRUh7E9PAdlPT/4nAdn+JwHZ/icB2f4nA7z8AAQA/AADYk/sT+xPAAAAAQDN/7wDMwO8AAUAAAkCNwkBAvH93AIkQv4fAeEDvP4A/gA9AcMBwgAAAAACAAD/0QQAA6YABQALAAAJAjcJASUJATcJAQPB/fICDj/+MwHN/g398wINQP4yAc4Dpv4W/hU7AbABrzv+Fv4VOwGwAa8AAAACAA7/vAPyA60AJgBRAAABIiYnNxYyNwE2NC8BJiIPASc3Njc2MhcWHwEWFxYUBwYHAQ4BIzEBJyYnJjQ3NjcBNjc2MhcWHwEHJyYiBwEGFB8BHgEzMjY/ARcHDgEjIiYnAjsmSBwdLYAtAQItLTAtgC22HbYcJCRLJCQdMBwPDg4PHP7+HUgl/i4wHA8ODg8cAQIdJCRLJCQcMB0wLYAt/v4tLTAWOB8fOBasHawcRycnRxwBBBwdHS0tAQItgC0wLS22HbYcDg8PDhwwHSQkSyQkHP7+HRz+8TAcJCRLJCQdAQIcDw4ODxwwHTAtLf7+LYAtMBYXFxasHawcHR0cAAAAAAYAAAAyBAADRgALAA8AGwAfACsALwAAEzIWFRQGIyImNTQ2BSEVIQUyFhUUBiMiJjU0NgUhFSEFMhYVFAYjIiY1NDYFIRUhTyAvLyAhLi4BXAJ2/Yr+xSAvLyAhLi4BXAJ2/Yr+xSAvLyAhLi4BXAJ2/YoDRi8gIS4uISAvT0+dLyAhLi4hIC9PT54uICEuLiEgLk5PAAAABAB2/7wDigO8ABEAIgA4AEQAAAEhNTQ3PgE3NjMyFx4BFxYdAQMVIzUuATU0NjMyFhUUBgcxEzU0Jy4BJyYjIgcOAQcGHQEjESERIwUiBhUUFjMyNjU0JgLZ/k4RETsoJy0tJyg7ERHFKBkiLiEhLiIZ7BQURi4vNTUvLkYUFIoDFIr/ABAXFxAQFxcCC7EtJyc7ERERETsnJy2x/sdRUQYrGyEuLiEbKwYBObE1Li9FFRQUFUUvLjWx/bECT8UYEBAXFxAQGAAFAHb/vAOKA7wABAAWACwAOABIAAAXESERIRM0Nz4BNzYzMhceARcWHQEhNQU1NCcuAScmIyIHDgEHBh0BIxEhESMBIiY1NDYzMhYVFAYnIgYVFBYXFTM1PgE1NCYjngLE/TyJERE7KCctLScoOxER/k4B2RQURi4vNTUvLkYUFIoDFIr/ABAXFxAQFxcQIS4iGSgZIi4hHQIA/gAC2S0nJzsREREROycnLbGxsbE1Li9FFRQUFUUvLjWx/bECT/7sFxAQGBgQEBd2LiEbKwZRUQYrGyEuAAAEAAD/vAQAA7wABAAJABIAHAAAFxEhESE3IREhEQEzESEVIQEXATchETMRIREhFyEAAYr+dicBO/7FAvcq/rABCv7KHgE04vwAKwOq/gQnAgBEAYr+dicBO/7FAeEBUCr+yR0BNPL+AAHV/FUqAAAAAwAAAKgEAALPAAMABwALAAATITUhNSE1IREhNSEABAD8AAQA/AAEAPwAAZRPnk792U8AAAIAAABZBAADHgAMAA8AAAEXBycHJwcnNwERIRElCQECorYF04CA0wW1/qMEAPwVAesB6gHk1gbBZWXBBtYBFf1gAqAl/osBdQAAAAADAAAAZgQAAxEAAwAHABUAADchESEXIQkBASclESERBQcXNxc3FzcABAD8AE4DZP5O/k4DCrYBM/xWATO2BdOAgNMFZgKrK/62AUr+Ls7p/cYCOunOBrpiYroGAAQAAP+8BAADvAAEAAkAEgAcAAAXESERITchESERASMRITUhAScBASERMxMhESEVIQABiv52JwE7/sUCKioBUP72ATYd/ssBr/wAKQIDqv4EAidEAYr+dicBO/7FA1z+sCoBNh7+zAGD/dgB/fxVKgADAAABVQQAAiIACwAXACMAAAEiBhUUFjMyNjU0JiEiBhUUFjMyNjU0JiEiBhUUFjMyNjU0JgH/Kjw8Kis8PP49Kzw8Kyo8PAMIKjw8Kis8PAIiPCorPDwrKjw8Kis8PCsqPDwqKzw8Kyo8AAABAMX/vAM7A7wACAAAAREDBwkBJwMRAeHwLAE7ATss5QO8/H8BAi/+rgFSL/7+A4EAAAAAAQDF/7wDOwO8AAgAAAUREzcJARcTEQIf8Cz+xf7FLOVEA4D+/y4BU/6tLgEB/IAAAgEU/7wC7AO8AAMABwAABTMRIwEzESMBFE5OAYpOTkQEAPwABAAAAAEADP+8A9IDvABLAAAlJicuAScmIyIGBw4BIyImLwEuAS8BLgEnLgEvAS4BJzQ2Nz4BJy4BLwEuASMiBgcOAQcOAQcGFhcWFx4BFxYXHgEXHgEzMjY3NiYnA9EQHB1EJCMeDhgJHS0LBg8PAygeDwYCBQMNHSMCERQBEBQXAhYRMxkDFjEcHzAOAQIBHyoIDQU8GRoZNx4fJUZYRU6NNDFUNjkYItUQFhUnDg0GBhMZCw0CIx0QBgMFAg4fKAITGQkJHhsgTi0kRB8DGhsZCQEBARMzGyh3bS8pKEokJCZHSDI4PRZBRFsjAAAAAgAM/7wD0gO8AEQAkAAAJQ4BIyImJy4BJyYnLgEnJicuATc+ATc+ATM+ATMyFh8BHgEHDgEXHgEfAR4BFx4BHwEeAR8BHgEzMjY3PgEzMhYXHgEHAyIGBw4BIyImLwEuAS8BLgEnLgEvAS4BJzQ2Nz4BJy4BLwEuASMiBgcOAQcOAQcGFhcWFx4BFxYXHgEXHgEzMjY3NiYnJicuAScmIwOwLD8tLYJGRFVEJB4eNRgYGTUGCwUhFwECAgskFRIfDwM4QSEXFwICGhYCIx4OAgUDBRAfKQMSHRMTMSgEDAgvhh0aDCjRDhgJHS0LBg8PAygeDwYCBQMNHSMCERQBEBQXAhYRMxkDFjEcHzAOAQIBHyoIDQU8GRoZNx4fJUZYRU6NNDFUNjkYIhAcHUQkIx4yNRE5MzFGRSUjIkgnJy1gZCMSJg4BAggTEhIERHUtHy4WFSQYAycgDgMFAwURHiQDDxQZGgIDUh0bNDEBIAYGExkLDQIjHRAGAwUCDh8oAhMZCQkeGyBOLSRFHgMbGhkJAQEBEzMbKHdtLykoSiQkJkdIMjg9FUJEWyMQFhUnDg0AAAEBAP+8AwADvAA7AAABMS4BJy4BJwM1NDY3MjY3PgE1NCYrASIGFRQWFx4BMx4BHQEDDgEHDgEHDgEVFBY7ARMzEzMyNjU0JicCrQIEAgwRAyoMCgICAQ0PFhTQFBYPDQECAgoMKgMRDAIEAiIxDxS4HBIbuRQPMSIB/AEBAgYXDwENDQwNBQEBBREPIg8PIg8RBQEBBQ0MDf7zDxcGAgEBEkIpHBX+bgGSFB0pQhIAAwD3/7wDCQO8ADoAdAB8AAABIyImNTQ2Nz4BNz4BNxM3NCYnJiInLgE1NDY7ATIWFRQGBwYiIw4BHQETHgEXHgEXHgEVFAYrAQMjAzczMjY1NCYnLgEnLgEnAyc0Njc2Mjc+ATU0JisBIgYVFBYXFjIXHgEVBwMOAQcOAQcOARUUFjsBGwEDFzUjFTcnBwHLoBwYMikCAgEJCwIoAQUIAQEBEhQcH8ofHBQTAgEBBwQpAgsJAQIEJzIXHaAbNRpGxAoFJx0EBAMPFQMpARERAQEBCgcGD8oQBQcJAgECEBEBKQMVDwIEBB4nBQrDEhEbExITCgoBPyAiK0oVAQEBBBAIAQEMBAQEAQEIGhMlHR0lExoJAQQEAwv+/gkQBAEBAhRKKyIg/n0BgyYIFB84EAECAgkcEgEGDREVCAEBBAgHFQcHFQcIBAEBCBUREP79Eh0IAQICEDgfFAj+/wEB/msBExMBlJQAAgAA/7wEAAO8AAgAEgAANyMDBTUnAScBASERMxEhESEVIS8qBAE79gFAHv7DA9X8ACsDqv4EAif3/soEKQYBNR7+zgOv/dgB/fxVKgAAAAABAIn/vAO8A7wAAgAAExEBiQMzA7z8AAIAAAAAAgBm/7wDmgO8AAMABwAAExEJARcJARFmAzT8zDQCn/1hA7z8AAIAAgBd/l3+XANHAAAAAAMAAP+8BAADbQADAAcAGwAAFyERIQMhNSEHIgYVERQWOwERIREzMjY1ETQmI8UCdv2KJwLE/TxNIDExIE0CxFIgLCwgRAInATtPdisg/nogMgE2/soyIAGGICsABAAA/7wEAANtABMAFwAcADYAAAEUBisBNSEVIyImNRE0NjMhMhYVAREhEQE1IRUhISM1IRUjIgYVERQWOwERIREzMjY1ETQmIzED2RYRd/2KdRAZGRADYhEW/RMCKP2xAnb9igLtUP08TiAwMCB1AnZ3IS0tIQEkEBjn5xgQAYYQFRUQ/TkB2f4nAxRPT3Z2LSD+eiAw/ugBGDAgAYYgLQAAAAABAAAANwQAAvwAJQAAJSEiJy4BJyY1NDc+ATc2MyEVISIHDgEHBhUUFx4BFxYzITUXBzUDFf4VPjY2URgXFxhQNzY+Aoj9eDIrLEATEhITQSsrMgHr6+vDFhdNNDQ7OjQ0TRcWORISPSopLzApKj0SEoypqIwAAAABAAAAewQAA0AAJQAAEyEyFx4BFxYVFAcOAQcGIyE1ITI3PgE3NjU0Jy4BJyYjIRUnNxXrAes+NjZRGBcXGFA3Nj79eAKIMissQBMSEhNBKysy/hXr6wK1FxZNNDQ7OzQ0TRYXORISPikqLy8qKT4SEoyoqIsAAAABAAT/vAQAA7sAawAAASYnLgEnJicmJy4BBwYHDgEHNzQmJyIGFQcGFhceATM6ATM3PgEnLgEPATY3PgEXFhcWFx4BFxYXFhcWBgcGBwYHDgEnJicmJy4BJyY3NiYnJgYHBhceARcWFx4BMzI3PgE3Njc2Nz4BJyYnA/MLFRQ6JCUrLC8vYjIyMk+JNQIPCwoRBQEFBQMJBQEDAYALDAICEws8NklIn1FSSSchITMTEgoKAgEPEBAZMkxLq1paUTgrKzcLCwkBDgsKEgEJDAw9MDA/QIpGQD4+cTAxJBsSEhEBAgsCLTIuLlEjIhwbEhIRAgELElE8MgsQAQ8LhwYLBAMDGgITCwoNAwxAKCgZDxAuGR8fSSkpLS0tLVgqKidQNDMnDg4yJDExdEFAQgsRAgEOC0lISIE3NygoJg8QPSwtOisvL2IzMjIAAAEAAAGUBAAB4wADAAATITUhAAQA/AABlE8AAAAFAAAAJgQAA7wACAAMABUAGgAjAAABFSERIREhNSEXNTMVBSERITUhFSERATUzFSMFNSERIREhFSEBa/6VBAD+lf7WKtb9wAOq/sD+1v7AAWrW1gEAAUD8VgFAASoDvGv81QMra2tAQCv+q1VVAVX+VoCAK1X+qwFVVQAAAQDN/7wDMwO8AAUAAAEHCQEXAQEPQgHh/h9CAiQDvD7+Pv49PQIAAAIAAP/RBAADpgAFAAsAAAUJAQcJAQUJAQcJAQHzAg3980ABzv4y/owCDv3yPwHN/jMvAesB6jv+Uf5RPAHrAeo7/lH+UQAAAAQAAP+8BAADvAAQACEAMQBWAAA3ITI2NRE0JiMhIgYVERQWMwMhMhYVERQGIyEiJjURNDYzNyEyNj0BNCYjISIGHQEUFgMjIgYVERQWMyEyNjURNCYvAS4BKwEiBhURFAYjISImNRE0JiOUAtgFCAgF/SgFCAgFDQLyFx8fF/0OFx8fF5QBygYICAb+NgYICEu9BQgIBQPmBQgCApUCBQMnBggfFv4aFh8IBkIIBgFDBggIBv69BggBlSAW/qEWHx8WAV8WINcIBvIGCAgG8gYIAQ4IBvwbBQgIBQNQAwUClQICCAb/ABYgIBYBAAYIAAUAAP+8BAADvAAQACEAMgBXAGwAADchMjY1ETQmIyEiBhURFBYzAyEyFhURFAYjISImNRE0NjM3ITI2PQE0JiMhIgYdARQWMycjIgYVERQWMyEyNjURNCYvAS4BKwEiBh0BFAYjISImPQE0JiMnITIWHwEeARURFAYjISImNRE0NjO3ApIFBwcF/W4FBwcFDAKqFRwcFf1WFRwcFYYBngUHBwX+YgUHBwVJqwUHBwUDhgUHAgGHAgQDJAUHHBX+ShUcBwW3AxAKEgeOBwcdFPxiFB0dFGYIBQEkBQcHBf7cBQgBbhwV/sMUHBwUAT0VHMMHBdwFBwcF3AUH9AcF/HoFCAgFAv8CBQGHAgIHBegUHR0U6AUHMQgHjgcRCvzvFBwcFAOfFB0AAgAA/7wEAAO8ABkAOAAAEy4BNTQ2Nz4BMzIWFx4BFRQGBw4BIwYmJzEJAT4BNTQnLgEnJiMiBw4BBwYVFBceARcWMzI2NwE3lTQ2NzMzhUhJhDQzNzczNIRJSIUzA2v+0ikwICBuSkpUVEpJbiAgICBuSklUSYI0AS4+ASUzhUlIhTM0NzczNIRJSYUzMzcBNzT+1QEuNIJIVEpKbiAgICBuSkpUVEpKbiAgMCr+0j4AAAAAAgAA/7wEAAO8ABwAcQAAATQ3PgE3NjMyFx4BFxYVFAcOAQcGIyInLgEnJjUlLgEnDgEjIiYnLgE3LgEnDgEjIiYnDgEHFgYHDgEjIiYnDgEHHgEVFAYHHgEXPgEzMhYXHgEHHgEXPgEzMhYXPgE3JjY3PgEzMhYXPgE3LgE1NDY3AS0RETknJywtJyY6ERERETomJy0sJyc5EREC0wogFQ0bDhkwFB0OECNMKQ5DKipDDilMIxAOHRQwGQ4bDRUgCiUvLyUKIBUNGw4ZMBQdDhAjTCkOQyoqQw4pTCMQDh0UMBkOGw0VIAolLy8lAbwsJyc6ERAQETonJywsJyc6ERAQETonJyx6KU0jBgYUEx5QJRUgCiUwMCUKIBUlUB4TFAYGI00pDkIqKkMOKU0jBgYUEx1RJBYfCiUvLyUKHxYkUR0TFAYGI00pDkMqKkIOAAAAAAQAAP+8BAADvAAbADMAiAEBAAAlIicuAScmNTQ3PgE3NjMyFx4BFxYVFAcOAQcGAyIGBw4BFRQWFx4BMzI2Nz4BNTQmJy4BJyImJw4BBxYGBw4BIyImJw4BBx4BFRQGBx4BFz4BMzIWFx4BBx4BFz4BMzIWFz4BNyY2Nz4BMzIWFz4BNy4BNTQ2Ny4BJw4BIyImJy4BNy4BJw4BIwceATMyNjc+ATceARcGFBceARceATMyNjceARcOAQcOARUUFhceARcOAQcuASMiBgcOAQcGFBcOAQcuAScuASMiBgcOAQcuASc2NCcuAScuASMiBgcuASc+ATc+ATU0JicuASc+ATceATMyNjc+ATc2NCc+ATceARcCAiwnJzkREREROScnLC0nJjoREREROiYnLTNdJSQnJyQlXTM0XSQlJiYlJF02KkMOKUwjEA4dFDAZDhsNFSAKJS8vJQogFQ0bDhkwFB0OECNMKQ5DKipDDilMIxAOHRQwGQ4bDRUgCiUvLyUKIBUNGw4ZMBQdDhAjTCkOQypkFjMbGzMWDRcJFCgTAwMEGRMZPyMJEQgKEAcNFwoPEBAPChcNBxAKCRAJIz8ZExgFAwMTKBUJFg0WMxsbMxYNFgkVKBMDAwUYExk/IwkQCQoQBw0XCg8QEA8KFw0HEAoIEQkjPxkTGQQDAxMoFAkXDecQETonJywsJyc6ERAQETonJywsJyc6ERAB1SckJF4zM14kJCcnJCReMzNeJCQnqzAlCiAVJVAeExQGBiNNKQ5CKipDDilNIwYGFBMdUSQWHwolLy8lCh8WJFEdExQGBiNNKQ5DKipCDilNIwYGFBMeUCUVIAolMAsPEBAPCRcOBxEKDyAQGy8TGRoBAhMoFQkWDhYyGxszFg0XCRUoEwIBGhkTLxoQIBAKEQYNFwkQEBAQCRcNBhEKECAQGi8TGRoBAhMoFQkXDRYzGxsyFg4WCRUoEwIBGhkTLxsQIA8KEQcOFwkAAAABAE//vAOxA7wANAAALQE+ATU0JiclHgEzMjY1NCYjIgYVFBYXAS4BIyIGFRQWMzI2NwUOARUUFjMyNjU0JiMiBgcC4f5tAwMEAwGDEjEcNkxMNjZNAgL+eBEtGTZMTDYbLhIBiwUGTTY2TEw2FigQovQJEwoLFQr9EhVLNTVLSzUJEAf+/w8SSzU1SxMQ7wwaDjVLSzU1Sw4MAAAEAE//vAOxA7wACwAYACQAWQAABSImNTQ2MzIWFRQGASImNTQ2MzIWFRQGIwEyFhUUBiMiJjU0NhMiBgclPgE1NCYnJR4BMzI2NTQmIyIGFRQWFwEuASMiBhUUFjMyNjcFDgEVFBYzMjY1NCYjAy8bJycbGyYm/YcbJiYbGycnGwJeGyYmGxsnJxsWKBD+bQMDBAMBgxIxHDZMTDY2TQIC/ngRLRk2TEw2Gy4SAYsFBk02NkxMNgQlGxomJhobJQGAJRsaJiYaGyUCACYaGyUlGxom/UAODPQJEwoLFQr9EhVLNTVLSzUJEAf+/w8SSzU1SxMQ7wwaDjVLSzU1SwAAAgAn/7wD2QO8AAoAFQAAAREhNycHFzcnIREDBxchETMRIQcXNwOx/MGmHNXVHKQDZdQcpPyaKAM+pBzUAeP+wqcd19YcpQFmAdkcpv6aAT6mHNYAAgAA/7wEAAO8AAgAEgAAATMTJRUXARcBASERIxEhESE1IQPRKgT+xfb+wB4BPfwrBAAr/FYB/P3ZAoEBNQUpBv7LHwEz/FECKP4CA6srAAABAAAAMgQAA0YADAAAJQ4BIyImJwE3FwEXAQFsCRcLDBcJ/utY6QJpVv1sSAkNDQkBGlntAnhb/V0AAAACAAD/vAQAA7wABgAiAAABIzUzETMRJRQXHgEXFjMyNz4BNzY1NCcuAScmIyIHDgEHBgIn7Mkj/dkoKIteXWpqXV6LKCgoKIteXWpqXV6LKCgBRiUBFv7FdmpeXYsoKCgoi11eampdXYspKCgpi11dAAAAAAMAAP+8BAADvAAcADgAPgAABSInLgEnJjU0Nz4BNzYzMhceARcWFRQHDgEHBiMRIgcOAQcGFRQXHgEXFjMyNz4BNzY1NCcuAScmAyMVMxEjAgBhVVZ/JSUlJIBVVmFhVVZ/JSUlJX9WVWFqXV6LKCgoKIteXWpqXV6LKCgoKIteXWfI7CQaJSWAVVZhYVVWfyUlJSV/VlVhYVZVgCUlA9YoKYtdXWpqXl2LKCgoKItdXmpqXV2LKSj9ryUBOwAAAAYAAP+8BAADvAAcADkAPQBBAEUASQAANycmND8BNhYPAQYUHwEeATMyNj8BFwcOASMiJicBFxYUDwEGJj8BNjQvAS4BIyIGDwEnNz4BMzIWFwEzNSMlMzUjATM1IwMzNSNkLjY29jYQKvYrKy4UNh0eNRWkG6MaRCYlRBoDHy42NvY2ESv2KysuFTUeHTYUpBujGkQlJkMb/H3s7AE7T08B2ezsnk9PAC42mjf1Nycr9it6Ki4VFhYVoxukGhwcGgNVLjaaNvY2Jyv1K3orLhQXFxSkHKMaHR0a/t1PTu39O0/+duwAAAADAHb/vAOKA7wACwAcAEMAAAEiBhUUFjMyNjU0JhcVIzUuATU0NjMyFhUUBgcxAzU0Nz4BNzYzMhceARcWHQEzNTQnLgEnJiMiBw4BBwYdASMRIREhAgAQFxcQEBcXBCgZIi4hIS4iGe0RETsoJy0tJyg7EREnFBRGLi81NS8uRhQUigMU/Z0BRhgQEBcXEBAYdFFRBisbIS4uIRsrBgE5sS0nJzsREREROycnLRQUNS4vRRUUFBVFLy41sf2xAk8AAAAABAB2/7wDigO8AAsAGwAgAEcAACUyNjU0JiMiBhUUFjcyFhUUBgcVIzUuATU0NjMBESERIRM1NDc+ATc2MzIXHgEXFh0BMzU0Jy4BJyYjIgcOAQcGHQEjESERIQIAEBcXEBAXFxAhLiIZKBkiLiH+ngLE/TyJERE7KCctLScoOxERJxQURi4vNTUvLkYUFIoDFP2d9xcQEBgYEBAXdi4hGysGUVEGKxshLv52AgD+AAIosS0nJzsREREROycnLRQUNS4vRRUUFBVFLy41sf2xAk8AAAABAAAAiQQAAu8ABQAACQEXCQE3AgD+AD4BwgHCPgLv/dxCAeH+H0IAAQAA/7wEAAO8AEoAACUuAScuAScmNjEwNjc+ATEwNjc+AScuASMwNjc2Jy4BJyYjIgcOAQcGFx4BMSIGBwYWFx4BMTAWFx4BMTAWBw4BBw4BBw4BFSE0JgNXH08cECgICAQWCAgOGAYGDgEBEAEQAgEPDzwtLTs7LSw9Dw8BAhABEAEBDgYGGA4ICBYECAgoEB1OHx+KBACKYgsLBwMRCQp5JRUUUAocHyQXFghDRSknJz0SExMSPScnKURDCRYXIx8dCVEUFSV5CgkQBAYMCwtOTU1OAAAAAgAA/7wEAAO8AGwAuAAABSE+ATc+ATc+ATc+ATc+ATc+ATU0JjUvAS4BJy4BJzA2Jy4BJy4BJyY2NzYmMS4BJyY2Nz4BMzIWFx4BFQ4BFTAGFR4BBw4BBw4BBwYWMQ4BBw4BDwEVFAYVBhYXHgEXHgEXHgEXHgEXHgEXISUuAScuAScmNjEwNjc+ATEwNjc+AScuASMwNjc2Jy4BJyYjIgcOAQcGFx4BMSIGBwYWFx4BMTAWFx4BMTAWBw4BBw4BBw4BFSE0JicCAP5JBA0JESsbECwVDhkMCEETCwcCAQcEEAYEDAMBAgMZAwIFBgYQAgICAQwCARcWGkgtLUgZFhcCDQIBEwYGBgICGgICAQQLBQURAwgCAQgLE0EICxoOFSwQGiwRCA0F/kkBVx9PHBAoCAgEFggIDhgGBg4BARABEAIBDw88LS07Oy0sPQ8PAQIQARABAQ4GBhgOCAgWBAgIKBAdTh8figQAih8RBwsGDBcJBggDAgQDAhUXDSwvGCYBDQsGHQ4MORUBCwsGCQgXGxsNDAcLAzw6IDkXGhsbGhc5IDo8AwgIDQ4bGxcICQYLCwEVOQwOHQYLDQEmGC8sDRYWAgMEAgMIBgoWDAYLB3MLCwcDEQkKeSUVFFAKHB8kFxYIQ0UpJyc9EhMTEj0nJylEQwkWFyMfHQlRFBUleQoJEAQGDAsLTk1NTgsAAgAAAJEEAALmABwAOwAAJSInLgEnJjU0Nz4BNzYzMhceARcWFRQHDgEHBiMlJicuAScmIyIGBw4BDwEXFhceARcWMzI2Nz4BPwEnAgMsKCc7ERERETsnKCwtKCc7ERERETsnKC0B+y42Nn9JSVNDfkE3d00DEjc1NXVDQlNJj0k9aSoPAuARETsnKCwtKCc7ERERETsnKC0sKCc7ERHbNDY1VhsbJikiZ1ACEzgzM00WFzAxKmMrDgMAAAAEAAAAkQQAAuYAGwA6AEYAYgAAATIWFx4BFwYHDgEHBiMiJicuASc2Nz4BNzYzMQEmJy4BJyYjIgYHDgEPARcWFx4BFxYzMjY3PgE/ASclMhYVFAYjIiY1NDYTMjc+ATc2NTQnLgEnJiMiBw4BBwYVFBceARcWAgBCgUAwYDUnLzByQ0JLRHs8N2UvOzc3bjg5PgH+LjY2f0lJU0N+QTd3TQMSNzU1dUNCU0mPST1pKg8C/gVIZmZIR2ZmRy0oJzsREREROycoLSwoJzsREREROycoArwoKh9WOycsLUwZGSMoJGAxOzAvQxES/v80NjVWGxsmKSJnUAITODMzTRYXMDEqYysOA6plSEdlZUdIZf57ERE7JygsLSgnOxERERE7JygtLCgnOxERAAADAAAABQQAA3MAGAA0AF0AAAE3HgEzMjY1NCYnNx4BFRQHDgEHBiMiJicTMhYXBy4BJy4BIyIGFRQWFwcuATU0Nz4BNzYzJScHLgEjIgcOAQcGBxYXHgEXFhcHFzceATMyNz4BNzY3JicuAScmJzcBij4NHA8xRw0FQxETEBA4JSYqITwZdiE8GUQCDRIECQQxRwcGPhETEBA4JSYqAbc0sTBpOUZAP3w+PkMeHR06HR4fozSwLmg9VkpLfzU2KxgbGzsgICSkARI+BwdIMgQtAUMZOyErJiY5ERAUEwF6FBJAAQkEAQFIMg8cDD8ZPCErJiY5EBCzNLIYHBYVUjo6SCAfHzkaGhWjNLAYGh8fXTY2Lh4eHjsbHBekAAMAAAAKBAADbQACAAcAEwAACQEhJTMRIxEXIgYVFBYzMjY1NCYCAQH//AAB6ycnEwwREQwLEREDbfyd7AE7/sUwEQsMEREMCxEAAAAEAAD//gQAA3kAAwAHAAsAFwAACQEhARUBIQEDMxEjEyIGFRQWMzI2NTQmAgD+AAQA/gABvvyEAb4IKSkUDBERDAwREQN5/IUDe0z89wMJ/cMBRf6KEQwMEREMDBEAAAADAZn/vAJnA7wACwAXACMAAAEUFjMyNjU0JiMiBhEUFjMyNjU0JiMiBhEUFjMyNjU0JiMiBgGZPCsrPDwrKzw8Kys8PCsrPDwrKzw8Kys8AbsqPDwqKzw8/jwqPDwqKzw8AwgqPDwqKzw8AAABAG3/3gOTA5oAUwAABSInLgEnJic2Nz4BNzY3PgE1NCYnLgEnLgEnJjY3NDY3NiYnJjY3PgE3Mx4BFx4BBw4BFx4BFR4BBw4BBw4BBw4BFRQWFxYXHgEXFhcGBw4BBwYjAgA9OTlmLS0kEh8eRiMkHQUCBQUIDwMIFgcHBAQBAQEEBgQPHhNMQTFCTBMeDwQGBAEBAQQEBwcWCAMPCAYMAwUbJCRHISAVJC0tZjk5PSINDTEjIysIDAsZDAwIAgcVFh8MDzAYCismISALAQMBCEMgFlEmGTAFBTAZJlEWIEMIAQMBCx8iJisKFzAQDiERFQcCCAsMGQwMCCsjIzINDQAAAAIBT/+8ArEDvAADAAcAAAUhESE1ITUhAU8BYv6eAWL+nkQDE1GcAAAEAVX/vAKrA7wABQAJAA8AEwAAATUhFSE1MxUhNQERIREhNTMhESEBVQFW/qomAQr+0AFW/qomAQr+9gOWJr6YcnL8TAL2/OQmAtAABgBJ/7wDtwO8AAsAGABLAF4AagCVAAABIiY1NDYzMhYVFAYBIiY1NDYzMhYVFAYjAT4BJwEHMAYHDgEHDgEnLgEnMCYxLgEnLgEjIgYVFBYzMjY3MTA2Nz4BMTcwNz4BNzY3AT4BPwExPwEBBhYXFhceARcWFwEiJjU0NjMyFhUUBiciBgcOAQcwFDEOAQcGJicuAScuAScOAQ8CHgEXHgE5AR4BMzI2NTQmIwIADxYWDw8WFv66GiYmGhomJhoCjBcEJ/62JkURECAODA4HAQEBAQIFAxAnFjVLSzUrRAsqISFQSSYmXyssC/48DxkBAScH/s4nBBYJGxxFJCQaAaUaJSUaGyUlGxUnEAQFAgECAQYPDA0gEQMIBQIDAQJDEiwSIikMQys1TEw1AXMVDw8WFg8PFf6SKx4eKyseHisC9zhmIv5JNWYgIEIZFgsGAQIBAQIFAw4PVT09VTstcDM0LkozM4VBQRz+qxglAQE1CQGYImY4FCsrZDIyI/5eKx4eKyseHivbDw4DBQIBAQIBBgsWGUIgBg4IAwUBAkQMJx0zcC07VT09VQADAAAABQQAA3MAEAApAEIAACUUBiMhIiY1ETQ2MyEyFhURASEyFh8BHgEzITIWHQEuASMhIgYHNTQ2MwUhIiYvAS4BIyEiBhURFBYzITI2NRE0JiMD2wgI/G4HDQoIA5IICvxeAQAGBAQzCRMMAikICAQJBfxuBQkEDQcDkv3XBAcDMwkRDv8AFyIiFwOSFh8eFz4HDg0IAiIICwsI/d4DEAIEMwgICAhhAgEBAqoHCSUDAzQICB8W/QAXIiEYArcXHQAAAQAB/7wD/wO8AKsAAAEuAScuAScuAScuAScuAScuASMiBgcOAQcOAQcOAQcOAQcOARceARceARceARceARceARceATc+ATc+ATc+ATc+ATc+ATc+ATc+ATc+AScOAQcOAQcOAQcOAQcOAQcOAQcOAQcOAQcOAQcGJicuAScuAScuAScuAScuASc0Njc+ATc+ATc+ATc+ATc+ATc2MjcyFjM2FhceARceARceARceARceARcWNjc+AScD/wIGBAQNBxApGRxBJSRPKRUrFhEhESxVKCI/HB0wFBYgCQcGAgEKCgYPCgkVDBc6ISFLKClXLCtTKCZHIA8dDQ0YCgkOBgMGAwIEAgICAQEDAQIFAwUNBwgUCgYLBgYOBw4fERElEydUKyxYKihLIiA4FhcgCQIEAQEBAQIDBhwVEzEcHUIjFSsWCxYLBgsFAgUCJUokJkcfITYVERkIAgICAQgGDh8HAgEBAgAPHQ8TJBIkQx8gNxYVHggFBQECBBgTECoZGTogI04oIUMhIUAfFCYTEiMRIToYGSYNDQwBAREPDyoaDh0QESISECEQCBEJCRIKDh4PBwwHBw8HDx0OEiMRCREICQ8IEBwMDRYJExcDBAkMDCYZGTsiI04pChYLCRMKEygTKlAlIjsZGSkOCQwEAgMBAQEBAQoLDCYZG0AlH0MjCBAICAwFCQoPBQoFAAAABAAA/7wEAAO8AAkAEwAdACcAAAEXBycRIxEHJzcRJzcXETMRNxcHASEVIRcHJzcXByEnNxcHJzchNSECAsEalSSVGsHBGZYklRrB/kQBbv6SlRrBwRqVA3SVGsHBGpX+kgFuA7zBGpX+kgFulRrB/ADBGZUBb/6RlRnBAg8llRnBwRqVlRrBwRmVJQACAT//vALBA7wACAARAAABBxc3ETMRFzcDJzcXETMRNxcCAMEalSSVGsHBGpUklRoDvMEalf6SAW6VGvzBwRmVAW/+kZUZAAADAIP/vAN9A7wADgAdAEgAABMzFRQWMyEyNj0BMxEhESUzFRQWOwEVITUzMjY9AScOAR0BIyIGHQEjKgExDgEVERQWMyEyNjURNCYrATU0JisBNTQmKwEqATGbpwYFAWYFB6b9NgEMsgcFQv6yQgUHDgUFQgUGswEBBQUHBQLiBQcHBbIHBUIHBcoBAQM5MAUHBwUw/JsDZWswBQdTUwcFMBgBBwQwBwUjAQcE/IMFBwcFA30FByMFBzAFBwAAAAABAAD/vAQAA7wACwAAAREhFSERMxEhNSERAd3+IwHdRAHf/iEDvP4hRf4kAdxFAd8AAAAAAQBJ/7wDtwO8AAkAAAEFCQEFNSETAyUDqPy5ARz+zANu/hmemwHbA7wG/hn98APgASEBJRIAAAACAEv/vAO1A7wACgAVAAAJASUXBRMDIRUlAQMTAQU1IRMDJScFAXb+6wNGB/5NiYoBu/yWASvU//7rAwT+Kp+bAckF/SABzgHoBuYR/vj+/P0DAg8Bwv4+/hYCsQEqASwRnAYABAAA/7wEAAO8ABgAHAAgACUAAAEhESMVIRUzESERMzUhFTMRIREzNSE1IxETIREhASERIQEhESERASsBqsABK8D+VcD91sD+VcABK8AqAVb+qgErAVX+q/2rAVX+qwO8/lVAa/5WAapAQP5WAaprQAGr/oABVfxVAVb+qgFW/qoAAAAAAwAA/7wEAAO8AAwAGAAdAAABMxUhESERITUzFSE1FyM1IRUjNSMVITUjASERIREC1SsBAPwAAQArAaorK/5WK9UDqtX9KwOq/FYDvFb8VgOqVlZW1lZWVqur/KoCgP2AAAAAAAMAAAALBAADbQASACYAQgAAJQ4BIyEiJicuATUTPgEzITIWFwE0NjMhFyEyFh0BISoBBw4BBwMRBTU0JiMhJyEiBhURFBYXHgEzITI2NxM1NCYrAQMxAQUD/QQDBAEBAa4BBQMC/AUDAfxEBwYBL1UBuAUH/WICAwIMEwSNA3gcE/5aVv7AFBsFBAYSCwL8DhgDrxgTOzUDBAMBAQQCAe4EBAsEAR0FCHwIBW8BAhEM/nECmutvFBx8HBT8+wcPBggJEg4B7wMXHgAAAAQAAP+8BAADvAAJABMAGAAcAAABBxc3FTM1FzcnAxc3JzM1IzcnBwERIREhJyERIQLgfxFiGWIRgJaAEWPz82MRgP3dA7L8TicEAPwAAvt/EWLy8mIRf/3ggBFjGGMRgAK5/E8DsSj8AAAAAAEAAACBBAAC9wAIAAABISUnCQE3JSEEAPx/AQIv/q4BUi/+/gOBAdvwLP7F/sUs5QAAAAABAAAAgQQAAvcACAAAEyEFFwkBBwUhAAOB/v4vAVL+ri8BAvx/AZ3wLAE7ATss5gABAAAAARmanFSau18PPPUACwQAAAAAANbz8qgAAAAA1vPyqAAA/7wEAAO8AAAACAACAAAAAAAAAAEAAAPA/8AAAAQAAAAAAAQAAAEAAAAAAAAAAAAAAAAAAACABAAAAAAAAAAAAAAAAgAAAAQAAAAEAAAABAABMAQAAAAEAAAABAAACQQAAAkEAAAABAAAAAQAAAAEAAAABAAAAAQAAAYEAAAABAAAAAQAAGIEAAByBAAAdgQAAIAEAAB2BAAAbAQAAIsEAACLBAAAdgQAAIsEAACLBAAAiwQAAAAEAAAABAAAAAQAAAAEAAAABAAAAAQAAAAEAAAABAAAAAQAAGYEAABmBAAAAAQAAAAEAAAABAAAAAQAAAAEAAAABAAAAAQAAAAEAAAABAAAAAQAAAAEAAAABAAA7AQAAM0EAAAABAAADgQAAAAEAAB2BAAAdgQAAAAEAAAABAAAAAQAAAAEAAAABAAAAAQAAMUEAADFBAABFAQAAAwEAAAMBAABAAQAAPcEAAAABAAAiQQAAGYEAAAABAAAAAQAAAAEAAAABAAABAQAAAAEAAAABAAAzQQAAAAEAAAABAAAAAQAAAAEAAAABAAAAAQAAE8EAABPBAAAJwQAAAAEAAAABAAAAAQAAAAEAAAABAAAdgQAAHYEAAAABAAAAAQAAAAEAAAABAAAAAQAAAAEAAAABAAAAAQAAZkEAABtBAABTwQAAVUEAABJBAAAAAQAAAEEAAAABAABPwQAAIMEAAAABAAASQQAAEsEAAAABAAAAAQAAAAEAAAABAAAAAQAAAAAAAAAAAoAFAAeAGwA4gFKAboB3gKMAvQDagQgBI4F4gYoBqwG0gb0BxoHbge6CBgIPgh0CVYJ6AoWCkIKggs+C1QLrgvWDAYMLgxKDHoMjAysDOYNRg1uDbAO7hEcEYASDBI0EnoSrBLUEyYToBPIE94UAhSEFNAVNBWgFdgV8hYYFkYWfha0Fs4W5hb6F3AYShiiGVYZfhmMGaYZ1BomGmIanhtEG1IbkBukG8gcQBzUHS4d2B9OH5wgHCBGIG4gjCDGISYhmiH8ImYieiLmI+4kTCTiJXAlliXGJfwmfiaSJrgnjifwKPgpPiliKcIp3Cn4KioqbCqeKwQrOitUK2wAAAABAAAAgAF9AAgAAAAAAAIAAAAAAAAAAAAAAAAAAAAAAAAADgCuAAEAAAAAAAEADQAAAAEAAAAAAAIABwCWAAEAAAAAAAMADQBIAAEAAAAAAAQADQCrAAEAAAAAAAUACwAnAAEAAAAAAAYADQBvAAEAAAAAAAoAGgDSAAMAAQQJAAEAGgANAAMAAQQJAAIADgCdAAMAAQQJAAMAGgBVAAMAAQQJAAQAGgC4AAMAAQQJAAUAFgAyAAMAAQQJAAYAGgB8AAMAAQQJAAoANADsanBtdWl0ay1pY29ucwBqAHAAbQB1AGkAdABrAC0AaQBjAG8AbgBzVmVyc2lvbiAxLjEAVgBlAHIAcwBpAG8AbgAgADEALgAxanBtdWl0ay1pY29ucwBqAHAAbQB1AGkAdABrAC0AaQBjAG8AbgBzanBtdWl0ay1pY29ucwBqAHAAbQB1AGkAdABrAC0AaQBjAG8AbgBzUmVndWxhcgBSAGUAZwB1AGwAYQByanBtdWl0ay1pY29ucwBqAHAAbQB1AGkAdABrAC0AaQBjAG8AbgBzRm9udCBnZW5lcmF0ZWQgYnkgSWNvTW9vbi4ARgBvAG4AdAAgAGcAZQBuAGUAcgBhAHQAZQBkACAAYgB5ACAASQBjAG8ATQBvAG8AbgAuAAAAAwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==") format('woff');
}

[class^="jpmuitk-icon-"] {
  font-family: "jpmuitk-icons" !important;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  speak: none;
}

.jpmuitk-icon-font {
  font-family: "jpmuitk-icons" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  speak: none;
}
.jpmuitk-icon-alert-solid:before {
  content: "\e900";
}
.jpmuitk-icon-alert:before {
  content: "\e901";
}
.jpmuitk-icon-attach:before {
  content: "\e902";
}
.jpmuitk-icon-cancel:before {
  content: "\e903";
}
.jpmuitk-icon-chart:before {
  content: "\e904";
}
.jpmuitk-icon-charline:before {
  content: "\e905";
}
.jpmuitk-icon-chartline-solid:before {
  content: "\e906";
}
.jpmuitk-icon-chat-busy-solid:before {
  content: "\e907";
}
.jpmuitk-icon-chat-busy:before {
  content: "\e908";
}
.jpmuitk-icon-chat-group-solid:before {
  content: "\e909";
}
.jpmuitk-icon-chat-group:before {
  content: "\e90a";
}
.jpmuitk-icon-chat-solid:before {
  content: "\e90b";
}
.jpmuitk-icon-chat:before {
  content: "\e90c";
}
.jpmuitk-icon-clone:before {
  content: "\e90d";
}
.jpmuitk-icon-close:before {
  content: "\e90e";
}
.jpmuitk-icon-column-chooser-solid:before {
  content: "\e90f";
}
.jpmuitk-icon-column-chooser:before {
  content: "\e910";
}
.jpmuitk-icon-delete-solid:before {
  content: "\e911";
}
.jpmuitk-icon-delete:before {
  content: "\e912";
}
.jpmuitk-icon-document:before {
  content: "\e913";
}
.jpmuitk-icon-document-add:before {
  content: "\e914";
}
.jpmuitk-icon-document-csv:before {
  content: "\e915";
}
.jpmuitk-icon-document-pdf:before {
  content: "\e916";
}
.jpmuitk-icon-document-remove:before {
  content: "\e917";
}
.jpmuitk-icon-document-run:before {
  content: "\e918";
}
.jpmuitk-icon-document-schedule-time:before {
  content: "\e919";
}
.jpmuitk-icon-document-xls:before {
  content: "\e91a";
}
.jpmuitk-icon-down-arrow:before {
  content: "\e91b";
}
.jpmuitk-icon-edit:before {
  content: "\e91c";
}
.jpmuitk-icon-edit-solid:before {
  content: "\e91d";
}
.jpmuitk-icon-export-solid:before {
  content: "\e91e";
}
.jpmuitk-icon-export:before {
  content: "\e91f";
}
.jpmuitk-icon-favorite-solid:before {
  content: "\e920";
}
.jpmuitk-icon-favorite:before {
  content: "\e921";
}
.jpmuitk-icon-filter-solid:before {
  content: "\e922";
}
.jpmuitk-icon-filter:before {
  content: "\e923";
}
.jpmuitk-icon-flag-solid:before {
  content: "\e924";
}
.jpmuitk-icon-flag:before {
  content: "\e925";
}
.jpmuitk-icon-grid-solid:before {
  content: "\e926";
}
.jpmuitk-icon-grid:before {
  content: "\e927";
}
.jpmuitk-icon-group-solid:before {
  content: "\e928";
}
.jpmuitk-icon-group:before {
  content: "\e929";
}
.jpmuitk-icon-help-solid:before {
  content: "\e92a";
}
.jpmuitk-icon-help:before {
  content: "\e92b";
}
.jpmuitk-icon-home-solid:before {
  content: "\e92c";
}
.jpmuitk-icon-home:before {
  content: "\e92d";
}
.jpmuitk-icon-import-solid:before {
  content: "\e92e";
}
.jpmuitk-icon-import:before {
  content: "\e92f";
}
.jpmuitk-icon-info-solid:before {
  content: "\e930";
}
.jpmuitk-icon-info:before {
  content: "\e931";
}
.jpmuitk-icon-ladder:before {
  content: "\e932";
}
.jpmuitk-icon-left-arrow:before {
  content: "\e933";
}
.jpmuitk-icon-left-expand:before {
  content: "\e934";
}
.jpmuitk-icon-linked:before {
  content: "\e935";
}
.jpmuitk-icon-list:before {
  content: "\e936";
}
.jpmuitk-icon-locked-solid:before {
  content: "\e937";
}
.jpmuitk-icon-locked:before {
  content: "\e938";
}
.jpmuitk-icon-maximise:before {
  content: "\e939";
}
.jpmuitk-icon-menu-burger:before {
  content: "\e93a";
}
.jpmuitk-icon-message-solid:before {
  content: "\e93b";
}
.jpmuitk-icon-message:before {
  content: "\e93c";
}
.jpmuitk-icon-minimise:before {
  content: "\e93d";
}
.jpmuitk-icon-more:before {
  content: "\e93e";
}
.jpmuitk-icon-movement-down:before {
  content: "\e93f";
}
.jpmuitk-icon-movement-up:before {
  content: "\e940";
}
.jpmuitk-icon-pause:before {
  content: "\e941";
}
.jpmuitk-icon-phone-solid:before {
  content: "\e942";
}
.jpmuitk-icon-phone:before {
  content: "\e943";
}
.jpmuitk-icon-pin-solid:before {
  content: "\e944";
}
.jpmuitk-icon-pin:before {
  content: "\e945";
}
.jpmuitk-icon-place-in:before {
  content: "\e946";
}
.jpmuitk-icon-play-solid:before {
  content: "\e947";
}
.jpmuitk-icon-play:before {
  content: "\e948";
}
.jpmuitk-icon-print-solid:before {
  content: "\e949";
}
.jpmuitk-icon-print:before {
  content: "\e94a";
}
.jpmuitk-icon-redo:before {
  content: "\e94b";
}
.jpmuitk-icon-undo:before {
  content: "\e94c";
}
.jpmuitk-icon-refresh:before {
  content: "\e94d";
}
.jpmuitk-icon-remove:before {
  content: "\e94e";
}
.jpmuitk-icon-report-builder:before {
  content: "\e94f";
}
.jpmuitk-icon-right-arrow:before {
  content: "\e950";
}
.jpmuitk-icon-right-expand:before {
  content: "\e951";
}
.jpmuitk-icon-save-solid:before {
  content: "\e952";
}
.jpmuitk-icon-save:before {
  content: "\e953";
}
.jpmuitk-icon-search:before {
  content: "\e954";
}
.jpmuitk-icon-settings-solid:before {
  content: "\e955";
}
.jpmuitk-icon-settings:before {
  content: "\e956";
}
.jpmuitk-icon-share-solid:before {
  content: "\e957";
}
.jpmuitk-icon-share:before {
  content: "\e958";
}
.jpmuitk-icon-swap-switch:before {
  content: "\e959";
}
.jpmuitk-icon-tear-out:before {
  content: "\e95a";
}
.jpmuitk-icon-tick:before {
  content: "\e95b";
}
.jpmuitk-icon-time-solid:before {
  content: "\e95c";
}
.jpmuitk-icon-time:before {
  content: "\e95d";
}
.jpmuitk-icon-unlinked:before {
  content: "\e95e";
}
.jpmuitk-icon-unlocked-solid:before {
  content: "\e95f";
}
.jpmuitk-icon-unlocked:before {
  content: "\e960";
}
.jpmuitk-icon-up-arrow:before {
  content: "\e961";
}
.jpmuitk-icon-user-solid:before {
  content: "\e962";
}
.jpmuitk-icon-user:before {
  content: "\e963";
}
.jpmuitk-icon-visible-solid:before {
  content: "\e964";
}
.jpmuitk-icon-visible:before {
  content: "\e965";
}
.jpmuitk-icon-visible-off:before {
  content: "\e966";
}
.jpmuitk-icon-warning-solid:before {
  content: "\e967";
}
.jpmuitk-icon-warning:before {
  content: "\e968";
}
.jpmuitk-icon-more-vert:before {
  content: "\e969";
}
.jpmuitk-icon-user-circled:before {
  content: "\e96a";
}
.jpmuitk-icon-column-chooser-single-solid:before {
  content: "\e96b";
}
.jpmuitk-icon-column-chooser-single:before {
  content: "\e96c";
}
.jpmuitk-icon-cut:before {
  content: "\e96d";
}
.jpmuitk-icon-folder:before {
  content: "\e96e";
}
.jpmuitk-icon-loader:before {
  content: "\e96f";
}
.jpmuitk-icon-move-all:before {
  content: "\e970";
}
.jpmuitk-icon-move-updown:before {
  content: "\e971";
}
.jpmuitk-icon-paste:before {
  content: "\e972";
}
.jpmuitk-icon-plus:before {
  content: "\e973";
}
.jpmuitk-icon-sigma-solid:before {
  content: "\e974";
}
.jpmuitk-icon-sigma:before {
  content: "\e975";
}
.jpmuitk-icon-tree:before {
  content: "\e976";
}
.jpmuitk-icon-calendar:before {
  content: "\e977";
}
.jpmuitk-icon-folder-open:before {
  content: "\e978";
}
.jpmuitk-icon-pivot:before {
  content: "\e979";
}
.jpmuitk-icon-movement-right:before {
  content: "\e97b";
}
.jpmuitk-icon-movement-left:before {
  content: "\e97a";
}