@import './variables';
@import url(https://fonts.googleapis.com/css?family=Roboto);

.hidden {
    display: none !important;
}

.fsbl-button  {
    margin: 0 auto;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background: $dialog-button-background-color;
    border:$dialog-button-border;
    color: #000;
    transition: .2s ease;
 }
 .fsbl-button i {
     vertical-align: middle;
     margin: 0 6px;
 }
.fsbl-share-scrim {
    position: fixed;
    display: flex;
    height: 100%;
    width: 100%;
    z-index: 1000000;
    /*background-color: purple;*/
    top: 0;
    left: 0;
    justify-content: center;
    align-content: center;
    font-size: 100px;
    flex-direction: column;
    align-items: center;
    color: #fff;
    transition: all .3s ease;
    opacity: 0.85;
}

.fsbl-share-scrim .error-message {
    display: flex;
    height: 100%;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 1em;
    background-color:$scrim-negative-overlay;
}
.fsbl-share-scrim i {
    position: fixed;
    display: flex;
    height: 100%;
    width: 100%;
    z-index: 1000000;
    background-color: $scrim-overlay;
    top: 0;
    left: 0;
    justify-content: center;
    align-content: center;
    font-size: 100px;
    flex-direction: column;
    color: #FFF !important;
    align-items: center;
}
.fsbl-share-scrim i.no {
    background-color:$scrim-negative-overlay;
}

.fsbl-button:hover {
    background: $primary-accent-color;
    border:1px solid $primary-accent-color;
    transition: 0.2s ease-in;
    cursor: pointer;
}
.fsbl-button:hover {
    color: #FFF;
    transition: 0.2s ease-out;
}

.fsbl-button-lg {
    width: 210px;
    font-size: 14pt;
    padding: 14px 0px;
    margin: 15px auto;
}

.fsbl-button-md {
    width: 210px;
    font-size: 13pt;
    padding:9px 0px;
    margin: 10px auto;
}

.fsbl-button-sm {
    width: 70px;
    padding:5px 0px;
    margin:5px auto;
}

/*widgets*/
.ciq--div {
  padding:.25em;
}

.flex-start {
    align-self: flex-start;
}

/* Gives the control icons the proper width on websites using bootstrap. */
i, i:before, i:after, .fsbl-window-manager-icon {
    box-sizing: content-box;
}

body.dialog input:focus {
    border: 1px solid $primary-accent-color;
}
