@import './variables';
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.hidden {
    display: none !important;
}

.fsbl-share-scrim {
    position: fixed;
    display: flex;
    height: 100%;
    width: 100%;
    z-index: 1000000;
    /*background-color: purple;*/
    top: 0;
    left: 0;
    justify-content: center;
    align-content: center;
    font-size: 100px;
    flex-direction: column;
    align-items: center;
    color: #fff;
    transition: all .3s ease;
    opacity: 0.85;
}

.fsbl-share-scrim .error-message {
    display: flex;
    height: 100%;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 1em;
    background-color:$scrim-negative-overlay;
}
.fsbl-share-scrim i {
    position: fixed;
    display: flex;
    height: 100%;
    width: 100%;
    z-index: 1000000;
    background-color: $scrim-overlay;
    top: 0;
    left: 0;
    justify-content: center;
    align-content: center;
    font-size: 100px;
    flex-direction: column;
    color: #FFF !important;
    align-items: center;
}
.fsbl-share-scrim i.no {
    background-color:$scrim-negative-overlay;
}

/*widgets*/
.ciq--div {
  padding:.25em;
}

.flex-start {
    align-self: flex-start;
}

/* Gives the control icons the proper width on websites using bootstrap. */
i, i:before, i:after, .fsbl-window-manager-icon {
    box-sizing: content-box;
}

body.dialog input:focus {
    border: 1px solid $primary-accent-color;
}

/* Buttons */
.fsbl-button  {
    margin: 0 4px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    background: $dialog-button-background-color;
    color: $grey200;
    transition: .2s ease;
    text-transform: uppercase;
    font-stretch: normal;
    line-height: normal;
    cursor: pointer;
 }

 .fsbl-button i {
     vertical-align: middle;
     margin: 0 6px;
 }

// .fsbl-button:hover {
//     background: $primary-accent-color;
//     border:1px solid $primary-accent-color;
//     transition: 0.2s ease-out;
//     cursor: pointer;
//     color: #FFF;
// }

.fsbl-button-lg-positive {
    width: 223px;
    height: 40px;
    border:$dialog-button-border;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 1.6px;
    line-height: 38px;
    padding: 11px 32px;
//    margin: 15px auto;
}

.fsbl-button-lg-neutral {
    width: 223px;
    height: 40px;
    font-size: 13px;
    letter-spacing: 1.6px;
    line-height: 38px;
    padding: 11px 32px;
//    margin: 15px auto;
}

.fsbl-button-md-positive {
    width: 147px;
    height: 32px;
    border:$dialog-button-border;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 0.4px;
    line-height: 33px;
//    margin: 10px auto;
}

.fsbl-button-md-neutral {
    width: 147px;
    height: 32px;
    font-size: 13px;
    letter-spacing: 0.4px;
    line-height: 34px;
//    margin: 10px auto;
}

.fsbl-button-sm-positive {
    width: 110px;
    height: 20px;
    border:$dialog-button-border;
    font-weight: bold;
    font-size: 10px;
    letter-spacing: 1px;
    line-height: 20px;
    padding: 3px 11px;
//    margin: 5px auto;
}

.fsbl-button-sm-neutral {
    width: 110px;
    height: 20px;
    font-size: 10px;
    padding: 3px 11px;
    letter-spacing: 1px;
    line-height: 20px;
//    margin: 5px auto;
}