$menu-primary-font-color: #FFF;
$menu-primary-background-color: $coolGrey800;
$menu-primary-hover-color: $coolGrey300;
$menu-secondary-background-color: $coolGrey;
$menu-secondary-hover-color: $coolGrey300;
$menu-background-color: $coolGrey800;