
$component-font-color: $primary-accent-color;
$brand-logo-width: 70px;
$brand-logo-height: 15px;
$brand-logo-margin: 7px 4px 4px 4px;
$brand-logo-url: 'http://vignette2.wikia.nocookie.net/logopedia/images/6/6f/McDonalds.png/revision/latest?cb=20161217022233';