$menu-primary-font-color: black;
$menu-primary-background-color: #fff;
$menu-primary-hover-color: #ECF0F1;
$menu-secondary-background-color: #ECF0F1;
$menu-secondary-hover-color: #DADFE1;
$menu-background-color: white;