
$component-font-color: $primary-accent-color;
$brand-logo-width: 28px;
$brand-logo-height: 25px;
$brand-logo-margin: 4px 4px;
$brand-logo-url: 'http://vignette2.wikia.nocookie.net/logopedia/images/6/6f/McDonalds.png/revision/latest?cb=20161217022233';