.pin-workspace:hover {
	color: $primary-accent-color;
}

.pinned-workspace-pin {
	color: $primary-accent-color;
}
/* Excluded so that activated pins don't appear inactive
.pinned-workspace-pin:hover {
	color: $menu-primary-font-color;
}
*/