  /*!
  * Copyright 2017 by ChartIQ, Inc.
  * All rights reserved.
  */
  @import '../assets/sass/_globals';
  @import '../assets/sass/_toolbar';

  body, html {
    height: 100%;
    margin:0px;
    font-family: "Roboto";
    font-weight:300;
    font-size: 1em;
    color: $toolbar-primary-font-color;
    line-height:1em;
    vertical-align:middle;
    -webkit-user-select: none;
    overflow: hidden;
  }

  .fsbl-share-scrim {
    display: none !important;
  }

  .first-pinned-component{
    margin-left:0px !important;
  }

  .icon-only > i {
    height:22px;
    font-size:22px;
    width:auto;
  }
  .pinned-icon {
    color: #4495d1;
  }
