/*!
* Copyright 2017 - 2020 by ChartIQ, Inc.
* All rights reserved.
*/
@import  url('../../../assets/css/_globals.css');

@import  url('../../../assets/css/_menus.css');
body{
    margin:0px;
    overflow: hidden;
    background: rgba(0, 0, 0, 0);

}
#bodyHere{
    height:100%;
}

.headerContainer{
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
}
.tabSection{
    flex:1;
    background-color: red;
    width: 100%;
}
.actionButton{
    text-align: center;
    line-height: 10px;
    color: white;
    font-size: 9px;
    font-weight: 300;
    background-color: green;
    min-height: 10px;
    min-width:10px;
    width: 86px;
    height: 10px;
    border-radius: 0px;
    background-color: #3c4c58;
}
.actionButton.tabs-contract{
    background-image: url("../../../assets/img/triangle-arrow-up.svg");
    background-repeat: no-repeat;
    background-position: center;
}
.actionButton.tabs-expand{
    background-image: url("../../../assets/img/triangle-arrow-down.svg");
    background-repeat: no-repeat;
    background-position: center;
}
.fsbl-header  .actionButton{
    position: absolute;
    width:86px;
    height:10px;
    top:0px;
    z-index: 30001;
}
.actionButton:hover{
    background-color: #4c606f ;
}

img {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

html {
    height: 100%;
    overflow-x: hidden;
    margin-left: 0px;
}

html:before {
    background: transparent;
}

html:after {
    background: transparent;
}

.bestmatch {
    background-color: #ecf0f1;
}

body {
    margin-left: 0px !important;
    margin-right: 0px !important;
    font-family: var(--font-family);
    color: var(--dialog-font-color)
}

.content {
    width: calc(100% - 17px);
    padding: .75em;
    background-color: var(--content-section-background-color);
}

.ListHeader {
    display: flex;
    margin-left: 6px;
}

.filterInput {
    width: 163px;
    height: 24px;
    border-color: #dddddd;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    padding-left: 10px;
}

input {
    outline-color: transparent;
}

.filterInput:focus {
    border: 1px solid var(--scrollbar-color);
}

.ff-search {
    text-align: center;
    align-self: center;
    position: relative;
    right: 21px;
    width: 15px;
    height: 15px;
}

.appContainer {
    display: flex;
    flex-wrap: wrap;
}

img {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.appContainer .appItem {
    display: flex;
    flex-direction: column;
    margin: 8px;
    width: 170px;
    height: 104px;
    background-color: var(--app-catalog-app-item-background-color);
    box-shadow: 0 1px 4px 0 rgba(136, 136, 136, 0.5);
}

.appHeader {
    margin-top: 9px;
    display: flex;
    flex: 1;
    cursor: pointer;
}

.logo {
    margin-right: 11px;
    margin-left: 11px;
    width: 36px;
    width: 36px;
    height: 36px;
    background-color: white;
    background-size: 36px 36px;
}

.iconContainer {
    margin-right: 11px;
    margin-left: 11px;
    width: 36px;
    min-width: 36px;
    height: 36px;
    background-color: var(--app-catalog-icon-container-background-color);
    display: flex;
    align-items: center;
}

.icon {
    font-size: 20px;
    width: 100%;
    color: white;
    font-weight: 200;
    text-align: center;
    vertical-align: middle;
    align-self: center;
    padding-top: 3px;
}

.titleContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.titleContainer .title {
    width: 100%;
    max-height: 14px;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    word-break: break-word;
    padding-right: 7px;
    line-height: 1;
}

.titleContainer .vendor {
    width: 39px;
    height: 16px;
    font-size: 12px;
    font-weight: 300;
    font-style: italic;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #555555;
}

.appItem .containerFooter {
    display: flex;
    margin-bottom: 5px;
}

.hide {
    display: none;
}

.containerFooter .footerLeft {
    flex: 1;
}

.containerFooter .footerRight {
    margin-right: 15px;
}

.footerRight .openButton {
    cursor: pointer;
    align-self: flex-end;
    background-color: var(--app-catalog-button-background-color);
    border: var(--app-catalog-button-border);
    font-size: 12px;
    color: #ffffff;
    text-align: center;
    padding: 5px 10px 5px 10px;
    width: 49px;
    height: 16px;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.containerItem {
    flex: 1;
    width: 100%;
    overflow-y: auto;
}

.AppDetailsContainer {
    margin-top: 19px;
    margin-left: 28px;
    margin-right: 28px;
}

.ff-arrow-back {
    cursor: pointer;
    font-size: 10px;
    font-weight: 300;
    text-align: left;
    color: #000000;
    margin-bottom: 21px;
}

.detailsHeader {
    display: flex;
    flex-direction: row;
}

.detailsHeader .image {
    width: 36px;
    height: 36px;
    margin-right: 13px;
}

.detailsHeader .button {
    cursor: pointer;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    padding: 5px 17px 5px 17px;
    text-align: center;
    align-self: center;
    background-color: var(--app-catalog-button-background-color);
    border: var(--app-catalog-button-border);
}

::-webkit-scrollbar-track {
    border-radius: 3px;
    background-color: transparent;
}

::-webkit-scrollbar {
    width: 9px;
    background-color: transparent;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb {
    cursor: pointer;
    border-radius: 9px;
    background-color: var(--scrollbar-color);
}

/* Special tweaks for uncentered icons */
.ff-chart-pie {
    font-size: 22px;
    padding-top: 5px;
}

.ff-chart-simple, .ff-chart-advanced, .ff-chart-alt-1, .ff-chart-alt-2, .ff-insiders-2, .ff-document-2 {
    padding-top: 4px;
}