<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<title>colorComponent</title>
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" type="text/css" href="colorComponent.css" />
		<script src="../../vendor.bundle.js"></script>
		<script src="colorComponent.js"></script>
	</head>
	<body>
		<h1 id="colorName">???</h1>
		<button id="updateColor" onclick="updateColor()">Update Color</button>
	</body>
</html>
