<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<script>
		window.FSBL=parent.FSBL;
		FSBL.Clients.LinkerClient.subscribe("symbol", function(err,result){
			alert(result);
		});
	</script>
	<P>Line of text to make it scroll 1</P>
	<P>Line of text to make it scroll 2</P>
	<P>Line of text to make it scroll</P>
	<P>Line of text to make it scroll</P>
	<P>Line of text to make it scroll</P>
	<P>Line of text to make it scroll</P>
	<P>Line of text to make it scroll</P>
	<P>Line of text to make it scroll</P>
	<P>Line of text to make it scroll</P>
	<P>Line of text to make it scroll</P>
	<P>Line of text to make it scroll</P>
	<P>Line of text to make it scroll</P>
	<P>Line of text to make it scroll</P>
	<P>Line of text to make it scroll</P>
	<P>Line of text to make it scroll</P>
	<P>Line of text to make it scroll</P>
	<P>Line of text to make it scroll</P>
	<P>Line of text to make it scroll</P>
	<P>Line of text to make it scroll</P>
	<P>Line of text to make it scroll</P>
	<P>Line of text to make it scroll</P>
	<P>Line of text to make it scroll</P>
	<P>Line of text to make it scroll</P>
	<P>Line of text to make it scroll</P>
	<P>Line of text to make it scroll</P>
	<P>Line of text to make it scroll</P>
	<P>Line of text to make it scroll</P>
	<P>Line of text to make it scroll</P>
	<P>Line of text to make it scroll</P>
	<P>Line of text to make it scroll</P>
	<P>Line of text to make it scroll</P>
	<P>Line of text to make it scroll</P>
	<P>Line of text to make it scroll</P>
	<P>Line of text to make it scroll</P>
	<P>Line of text to make it scroll</P>
	<P>Line of text to make it scroll</P>
	<P>Line of text to make it scroll</P>
	<P>Line of text to make it scroll</P>
	<P>Line of text to make it scroll</P>
	<P>Line of text to make it scroll</P>
	<P>Line of text to make it scroll</P>
	<P>Line of text to make it scroll</P>
	<P>Line of text to make it scroll</P>
	<P>Line of text to make it scroll</P>
	<P>Line of text to make it scroll</P>
	<P>Line of text to make it scroll</P>
	<P>Line of text to make it scroll</P>
	<P>Line of text to make it scroll</P>
	<P>Line of text to make it scroll</P>
	<P>Line of text to make it scroll</P>
	<P>Line of text to make it scroll</P>
	<P>Line of text to make it scroll</P>
	<P>Line of text to make it scroll 100</P>
	<P>Line of text to make it scroll 101</P>
</body>
</html>

