@import "../../../assets/css/_globals.css";
@import "../../../assets/css/_menus.css";
@import "../../../assets/css/font-finance.css";
@import "../../../assets/css/finsemble.css";

*{
    padding: 0;
    margin: 0;
}
