<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<script src="../../vendor.bundle.js"></script>
		<title>No config entry found for this window.</title>
		<script src="../../vendor.bundle.js"></script>
		<script src="nonConfiguredComponent.js"></script>
	</head>

	<body>
		<div id="container">
			<div id="content">
				<div>No config entry found for this window.</div>
				<div id="contentURL">No config entry found for this window.</div>
				<div>Please close this window and re-save your workspace</div>
			</div>
		</div>
	</body>
</html>
