@import '../assets/sass/_dialogs';


.formGroup{
     display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding:1.5em;
}
.formGroup .label{
     flex-grow:1;
}
.formGroup .label input{
float:right;
}