<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Configure</title>
  <link rel="stylesheet" type="text/css" href="dynamic-config.css" media="screen" />
</head>

<body>
  <div class="container">
    <form name="configs" action="javascript:void(0)">
      <div class="form-group">
        <label for="comps">Components</label>
        <textarea id="comps" class="form-control" rows="6" name="comps"></textarea>
      </div>
      <div class="form-group">
        <label for="menus">Menu</label>
        <textarea id="menus" class="form-control" rows="6" name="menus"></textarea>
      </div>
      <div class="form-group">
        <label for="menus">Workspaces</label>
        <textarea id="workspaces" class="form-control" rows="6" name="workspaces"></textarea>
      </div>
      <div class="form-group">
        <label for="style">Style URL</label>
        <input id="css" class="form-control" name="cssOverridePath" />
      </div>
      <div class="form-group">
        <button class="btn" name="save" type="submit" id="submit">Save</button>
        <button class="btn" name="clear" type="reset" id="clear">Clear</button>
      </div>
    </form>
  </div>
</body>
<script src="index.js"></script>

</html>