/*!
* Copyright 2017 by ChartIQ, Inc.
* All rights reserved.
*/

.icon-fsbl-chat.badge:after{
    position: relative;
    height:0.625rem;
    width:0.625rem;
    top:-0.625rem;
    right:0.325rem;
    color:$workspace-icon-color;
}

body {
 	padding:0px !important;
	box-sizing: border-box;
	position: absolute;
	/*Without this, opening the side panels ruin everything*/
	top:0;
	left:0;
	right:0;
	bottom:0;
}

html.desktop-active:before{
  background:$active-header-background-color;
}


/* Create a series of empty pseudo-elements... */
html:before,html:after,body:before,body:after{
    content:"";
    background: $window-frame-inactive-color;
    position:fixed;
    display:block;
    z-index:2147483645;
}

/* ...and position them! */
html:before{
    height:1px;
    left:0;
    right:0;
    top:0;
}
html:after{
    width:1px;
    top:0;
    right:0;
    bottom:0;
}
body:before{
    height:1px;
    right:0;
    bottom:0;
    left:0;
}
body:after{
    width:1px;
    top:0;
    bottom:0;
    left:0;
}

.menu-button{
  margin-left:auto;
  margin-right:auto;
  margin-bottom:1.5em;
  background: #fff;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  color: $primary-accent-color;
  display: inline-block;
  position: relative;
  line-height: 27px;
  height: 27px;
  padding: 0 10px;
  cursor: pointer;
  border: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: all .2s 0s, opacity .2s 0s;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) ;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) ;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) ;
}


html.groupMask {
    body {
        background-color: $secondary-accent-color;
        border: 5px solid $primary-accent-color;
        margin: 0px;
    }

    /* ...and position them! */
    html:before{
        height:0px;
    }
    html:after{
        width:0px;
        top:0;
        right:0;
        bottom:0;
    }
    body:before{
        height:0px;
        right:0;
        bottom:0;
        left:0;
    }
    body:after{
        width:0px;
        top:0;
        bottom:0;
        left:0;
    }
}