<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>LoadtestReceiver</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="LoadtestReceiver.css" />
    <script src="../../vendor.bundle.js"></script>
    <script src="https://unpkg.com/ag-grid-enterprise/dist/ag-grid-enterprise.min.js"></script>
    <script src="LoadtestReceiver.js"></script>
  </head>
  <body>
    <h1>LoadtestReceiver</h1>
    <div id="msgGrid" style="height: 65%" class="ag-theme-balham-dark"></div>
    <div id='result'></div>
  </body>
</html>
