.full-height {
  height: 100%
}
.sidebar .nav-link {
  font-weight: 500;
  color: #333;
  cursor: pointer;
}
main {
  padding-top: 20px;
}
.info {
  font-size: 18px;
  text-align: center;
  padding: 60px
}
input.invalid {
  border: 1px solid red;
}
