:root {
    --slate1: #7B98B3;
    --slate2: #67829A;
    --slate3: #617383;
    --slate4: #495A69;
    --slate5: #3C4C58;
    --slate6: #303D47;
    --slate7: #1C2A36;

    --gray1: #EEE;
    --gray2: #DDD;
    --gray3: #CCC;
    --gray4: #BBB;
    --gray5: #999;
    --gray6: #777;
    --gray7: #555;

    --blue1: #66C2FF;
    --blue2: #3FB2FC;
    --blue3: #039BFF;
    --blue4: #0A8CF4;
    --blue5: #117DE9;
    --blue6: #005BC5;
    --blue7: #004BA3;

    --yellow1: #FFE869;
    --yellow2: #FFE347;
    --yellow3: #FFDD25;
    --yellow4: #FFD803;
    --yellow5: #F1CC00;
    --yellow6: #E0BD00;
    --yellow7: #CFAF00;

    --red1: #EE5C5C;
    --red2: #F64352;
    --red3: #FF2445;
    --red4: #EF1436;
    --red5: #D30E2D;
    --red6: #B70C06;
    --red7: #960A05;

    --green: #27cc8d;

    --slate: var(--slate4);
    --gray: var(--gray4);
    --blue: var(--blue4);
    --yellow: var(--yellow4);
    --red: var(--red4);
}