@import  url('_globals.css');

@import  url('_formElements.css');

body.dialog {
    -webkit-appearance: none;
    overflow: hidden;
    font-family: var(--font-family);
    color: var(--dialog-font-color);
  /* Styling for General Typography */
  /* Always Show Number Input Arrows, Give A Bit Of Space */;
}

body.dialog html:before, body.dialog html:after, body.dialog body:before, body.dialog body:after {
    content: "";
    background: var(--window-frame-inactive-color);
    position: fixed;
    display: block;
    z-index: 2147483647;
}

body.dialog p {
    margin: 8px 0px;
}

body.dialog .dialog {
    background-color: var(--dialog-background-color);
    padding: 32px;
}

body.dialog .dialog-title {
    height: 30px;
    font-weight: var(--dialog-title-font-weight);
    font-size: var(--dialog-title-font-size);
    text-align: left;
    color:  var(--dialog-font-color);
    padding: 0px 4px 4px 4px;
}

body.dialog .dialog-question {
    height: 45px;
    font-weight: var(--dialog-question-font-weight);
    color:  var(--dialog-font-color);
    font-size: var(--dialog-question-font-size);
    padding: 0px 4px;
    margin-bottom: 10px;
    text-align: left;
    word-wrap: break-word;
}

body.dialog .button-wrapper {
    display: flex;
    justify-content: flex-end;
}

body.dialog input[type=number]::-webkit-inner-spin-button,
  body.dialog input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
}

body.dialog input::-webkit-outer-spin-button,
  body.dialog input::-webkit-inner-spin-button {
    margin-left: 5px;
}

body.dialog input:focus {
    box-shadow: 0 0 5px rgba 81, 203, 238, 1;
    border: 1px solid var(--dialog-input-border-focus-color);
    outline: none;
}

body.dialog input {
    -webkit-appearance: none;
    font-family: var(--font-family);
    color: var(--dialog-input-font-color);
    text-align: left;
    font-size: var(--dialog-input-font-size);
    font-weight: var(--dialog-input-font-weight);
    vertical-align: middle;
    background-color: var(--dialog-input-background-color);
    width: 100%;
    height: 33px;
    max-width: 100%;
    padding: 3px 10px;
    border: 1px solid var(--dialog-input-border-color);
    box-sizing: border-box;
    transition: .2s ease-in;
}