.form-group {
    /* display: flex; */
    flex-direction: row;
    margin: 16px 0px;
    padding-right: 5px;
    justify-content: center;
}

.form-group label {
    padding-top: 7px;
    flex: .4;
}

.form-group input, .form-group select {
    flex: .65;
}