@import  url('_globals.css');

@import  url('_scrollbars.css');

body.menu {
    margin: 0px;
    font-family: var(--font-family);
    font-size: var(--menu-font-size);
    font-weight: var(--menu-font-weight);
    overflow-y: hidden;
    overflow-x: hidden;
    height: 100%;
    -webkit-user-select: none;
    background-color: var(--menu-background-color);
}

.menu-header {
    display: flex;
    flex-direction: row;
}

.menu {
    background: var(--menu-content-background-color);
    color: var(--menu-font-color);
    padding: 5px;
}

.menu .menu-section {
    overflow-x: hidden;
    overflow-y: auto;
    list-style-type: none;
    width: 100%;
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.menu-secondary {
    background: var(--menu-actions-background-color);
    border-bottom: 4px solid;
    border-color: var(--core-primary-3);
    padding-bottom: 4px;
}

.menu-primary {
    padding-top: 4px;
}

.menu-primary .menu-item:hover {
    background: var(--menu-content-hover-color);
}

.menu-secondary .menu-item:hover {
    background: var(--menu-actions-hover-color);
}

.menu-item {
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    padding-right: 10px;
    cursor: pointer;
    position:relative;
    border-radius: 20px;
    align-items: center;
}

.menu-item-function {
    padding: 6px 0px 6px 20px;
}

.menu-item-label {
    align-self: flex-start;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 6px;
    margin: 3px 0px;
    height: 22px;
    flex: 1;
    position: relative;
}

.menu-item-fullwidth {
    flex: 1;
}

.menu-item-actions {
    align-self: center;
    display: flex;
    justify-content: flex-end;
    flex: .25;
}

.menu-item-action {
    display: flex;
    width: 34px;
}

.menu-item .menu-item-action {
    align-self: baseline;
    justify-content: center;
    color: var(--menu-action-icon-color);
}

.ff-pin {
    padding: 4px 2px 1px 1px;
    width: 22px;
    text-align: center;
    border: 1px solid transparent;
} 

.ff-adp-trash-outline {
    font-size: var(--menu-font-icon-size);
    width: 22px;
    text-align: center;
}

.ff-pin:hover {
    color: var(--menu-font-color);
    width: 22px;
    border-radius: 4px;
}

.menu-item-action .ff-favorite {
    padding: 4px 2px 1px 1px;
    font-size: var(--menu-font-icon-size);
    width: 22px;
    text-align: center;
} 

.ff-favorite:hover {
    color: var(--menu-favorite-hover-color);
}

.finsemble-item-pinned {
    color: var(--menu-favorite-hover-color);
    width: 22px;
}

.finsemble-item-pinned:hover {
    color: var(--menu-favorite-active-hover-color);
    width: 22px;
    border-radius: 4px;
}

.menu-item-action .ff-adp-trash-outline:hover {
    color: var(--menu-delete-background-hover-color);
}

.ff-new-workspace, .ff-save-1, .ff-saveas-1, .ff-settings, .ff-list {
    padding-right: 7px;
    margin-top: 2px;
}

.ff-share {
    cursor: -webkit-grab;
}