@import  url('_globals.css');

@import  url('_scrollbars.css');

body.menu {
    margin: 0px;
    font-family: var(--font-family);
    font-size: var(--menu-font-size);
    font-weight: var(--menu-font-weight);
    overflow-y: hidden;
    overflow-x: hidden;
    height: 100%;
    -webkit-user-select: none;
    background-color: var(--menu-background-color);
}

.menu-header {
    display: flex;
    flex-direction: row;
}

.menu {
    background: var(--menu-content-background-color);
    color: var(--menu-font-color);
}

.menu .menu-section {
    overflow-x: hidden;
    overflow-y: auto;
    list-style-type: none;
    width: 100%;
    padding-left: 0;
    margin-top: 0px;
    margin-bottom: 0px;
}

.menu-secondary {
    background: var(--menu-actions-background-color);
}

.menu-primary .menu-item:hover {
    background: var(--menu-content-hover-color);
}

.menu-secondary .menu-item:hover {
    background: var(--menu-actions-hover-color);
}

.menu-item {
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    padding-right: 10px;
    cursor: pointer;
    position:relative;
}

.menu-item-function {
    padding: 6px 0px 6px 20px;
}

.menu-item-label {
    align-self: flex-start;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 8px 0px;
    height: 100%;
    flex: .75;
}

.menu-item-label-fullwidth {
    flex: 1;
}

.menu-item-actions {
    align-self: center;
    display: flex;
    justify-content: flex-end;
    flex: .25;
}

.menu-item-action {
    display: flex;
    padding: 0em .15em;
}

.menu-item .menu-item-action {
    align-self: center;
}

.ff-pin {
    padding: 4px 2px 1px 1px;
    width: 22px;
    text-align: center;
    border: 1px solid transparent;
} 

.ff-delete {
    padding: 4px 2px 1px 0px;
    width: 22px;
    text-align: center;
    border: 1px solid transparent;
}

.ff-delete:hover {
    color: var(--menu-font-color);
    background-color: var(--menu-delete-background-hover-color);
    border-radius: 4px;
}

.ff-pin:hover {
    color: var(--menu-font-color);
    width: 22px;
    border: 1px solid var(--menu-pin-border-color);
    border-radius: 4px;
}

.finsemble-item-pinned {
    color: var(--menu-font-color);
    width: 22px;
    background-color: var(--menu-pin-background-color);
    border-radius: 4px;
}

.finsemble-item-pinned:hover {
    color: var(--menu-font-color);
    width: 22px;
    background-color: var(--menu-pin-background-hover-color);
    border-radius: 4px;
}

.ff-delete:hover {
    color: var(--menu-font-color);
    background-color: var(--menu-delete-background-hover-color);
    border-radius: 4px;
}

/*
.app-launcher-pinned:hover {
	color:   var(--menu-primary-font-color);
}
*/
.ff-new-workspace, .ff-save-1, .ff-saveas-1, .ff-settings, .ff-list {
    padding-right: 7px;
    margin-top: 2px;
}

.ff-share {
    cursor: -webkit-grab;
}