@import  url('../css/perfect-scrollbar.css');

.ps-container:hover > .ps-scrollbar-y-rail:hover {
    background-color: transparent;
    width: 6px;
}

.ps-container > .ps-scrollbar-y-rail:hover > .ps-scrollbar-y, .ps-container > .ps-scrollbar-y-rail:active > .ps-scrollbar-y {
    width: 9px;
}

.ps-container > .ps-scrollbar-y-rail {
    right: 6px !important;
}