@import url("./fonts/Roboto/Roboto-Definition.css");
@import url('_colorPalette.css');
:root {
    /* Theme Variables:  Use these variables to make broad-sweeping changes to the colors and fonts. */

    /* Font Settings */
    --font-family: 'Roboto', sans-serif;
    --primary-font-color: white;
    --secondary-font-color: black;

    --primary-font-weight: 300;
    --secondary-font-weight: 500;
    --tertiary-font-weight: bold;

    /* Color Theme */
    --primary-accent-color: var(--blue6);
    --secondary-accent-color: var(--blue7);
    --tertiary-accent-color: var(--blue3);

    --primary-negative-color: var(--red5);
    --secondary-negative-color: var(--red1);
    --tertiary-negative-color: var(--red7);

    --primary-background-color: var(--slate7);
    --secondary-background-color: var(--slate6);
    --tertiary-background-color: var(--slate5);

    --scrollbar-color: var(--gray);

    /* Component Variables:  Use these variables to make small changes to colors and general appearance. */

    /** Toolbar */
    --toolbar-font-size: 15px;
    --toolbar-font-color: var(--primary-font-color);
    --toolbar-line-height: 1em;
    --toolbar-font-weight: var(--primary-font-weight);

    --toolbar-height: 39px;
    --toolbar-brand-logo-width: 20px;
    --toolbar-brand-logo-height: 20px;
    --toolbar-background-color: var(--primary-background-color);
    --toolbar-button-hover-color: var(--secondary-accent-color);
    --toolbar-resize-area-color: var(--slate5);

    --toolbar-icon-workspace-color: var(--yellow);
    --toolbar-icon-app-color: var(--tertiary-accent-color);
    --toolbar-icon-font-size: 22px;

    --toolbar-separator: 1px solid rgba(255, 255, 255, 0.3);

    /* Window Title bar */
    --titleBar-height: 25px;
    --titleBar-font-size: 14px;
    --titleBar-icon-font-size: 14px;
    --titleBar-active-font-color: var(--primary-font-color);
    --titleBar-inactive-font-color: var(--gray3);
    --titleBar-font-weight: var(--primary-font-weight);

    --titleBar-background-inactive-color: var(--secondary-background-color);
    --titleBar-background-active-color: var(--tertiary-background-color);
    --titlebar-tab-icon-font-color: var(--tertiary-accent-color);
    --titlebar-tab-active-font-color: var(--primary-font-color);
    --titlebar-tab-active-background-color: var(--primary-background-color);
    --titlebar-tab-inactive-font-color: var(--gray);
    --titlebar-tab-inactive-background-color: var(--titlebar-background-active-color);
    --titlebar-tab-ghost-background-color: var(--secondary-accent-color);
    --titlebar-tab-ghost-border-color: var(--primary-accent-color);
    --titlebar-tab-separator: 1px solid var(--gray7);
    --titlebar-tab-section-separator: 1px solid var(--gray5);

    --titleBar-button-hover-active-color: var(--primary-accent-color);
    --titleBar-button-hover-inactive-color: var(--secondary-accent-color);
    --titleBar-button-highlight-active-color: var(--primary-accent-color);
    --titleBar-button-highlight-inactive-color: var(--secondary-accent-color);
    --titleBar-button-hover-negative-color: var(--primary-negative-color);
    --titleBar-button-hover-linker-group: var(--gray3);

    /* Dialogs (e.g., singleInput and yesNo) */
    --dialog-title-font-size: 20px;
    --dialog-question-font-size: 14px;
    --dialog-font-color: var(--primary-font-color);
    --dialog-font-weight: var(--primary-font-weight);
    --dialog-title-font-weight: var(--primary-font-weight);
    --dialog-question-font-weight: var(--secondary-font-weight);

    --dialog-background-color: var(--primary-background-color);
    --dialog-input-font-size: 16px;
    --dialog-input-font-color: var(--primary-font-color);
    --dialog-input-font-weight: var(--primary-font-weight);
    --dialog-input-background-color: var(--primary-background-color);
    --dialog-input-border-color: var(--gray6);
    --dialog-input-border-focus-color: var(--gray);
    --dialog-input-border-error-color: var(--red2);

    /* Buttons and Inputs */
    --button-font-size: 13px;
    --button-font-weight: var(--primary-font-weight);
    --button-solid-font-color: var(--primary-font-color);
    --button-small-font-size: 10px;

    --button-affirmative-background-color: var(--primary-accent-color);
    --button-affirmative-border-color: var(--blue5);
    --button-affirmative-background-hover-color: var(--secondary-accent-color);
    --button-affirmative-border-hover-color: var(--blue6);

    --button-neutral-background-color: transparent;
    --button-neutral-border-color: transparent;
    --button-neutral-border-hover-color: var(--gray6);
    --button-neutral-solid-font-color: var(--secondary-font-color);

    --button-negative-background-color: var(--red6);
    --button-negative-border-color: var(--red4);
    --button-negative-background-hover-color: var(--red7);
    --button-negative-border-hover-color: var(--red5);

    --input-negative-border-color: var(--secondary-negative-color);

    /* Menus */
    --menu-font-size: 14px;
    --menu-font-weight: var(--primary-font-weight);
    --menu-font-color: var(--primary-font-color);
    --menu-active-workspace-font-weight: var(--secondary-font-weight);

    --menu-background-color: var(--secondary-background-color);
    --menu-actions-background-color: var(--slate4);
    --menu-actions-hover-color: var(--slate3);
    --menu-content-background-color: var(--secondary-background-color);
    --menu-content-hover-color: var(--slate3);

    --menu-pin-border-color: var(--secondary-accent-color);
    --menu-pin-background-color: var(--primary-accent-color);
    --menu-pin-background-hover-color: var(--secondary-accent-color);
    --menu-delete-background-hover-color: var(--secondary-negative-color);

    --menu-linker-selected-font-color: var(--primary-font-color);
    --menu-linker-selected-font-size: 18px;

    /* Search Menu */
    --search-input-font-color: var(--secondary-font-color);
    --search-input-background-color: white;

    --search-header-font-color: var(--tertiary-accent-color);
    --search-header-font-weight: var(--tertiary-font-weight);

    --search-result-font-color: var(--primary-font-color);
    --search-result-font-weight: var(--primary-font-weight);
    --search-result-highlighter-color: var(--slate3);
    --search-result-highlighter-background: var(--slate4);

    /* Window Frame */
    --window-frame-inactive-color: var(--slate5);
    --window-frame-active-color: var(--window-frame-inactive-color);

    /* Window Scrims and Masks */
    --groupMask-background-color: var(--secondary-accent-color);
    --groupMask-border-color: var(--primary-accent-color);

    --scrim-icon-font-color: var(--primary-font-color);
    --scrim-icon-font-size: 100px;

    --scrim-positive-background-color: var(--secondary-accent-color);
    --scrim-negative-background-color: var(--red7);

    /* Content Dialog (e.g., userPreferences and appCatalog) */
    --content-font-size: 16px;
    --content-header-font-size: 18px;
    --content-header-font-color: var(--tertiary-accent-color);
    --content-font-color: var(--primary-font-color);
    --content-font-weight: var(--primary-font-weight);

    --content-nav-header-font-size: 21px;
    --content-nav-header-font-weight: var(--primary-font-weight);
    --content-nav-header-background-color: var(--slate);
    --content-nav-background-color: var(--tertiary-background-color);
    --content-nav-highlighter: var(--slate3);
    --content-nav-highlighter-hover: var(--slate2);
    --content-background-color: var(--secondary-background-color);
    --content-hint-font-color: var(--gray);
    --content-component-list-font-size: 12px;

    --content-list-border-color: var(--gray6);
    --content-list-highlighter: var(--slate3);
    --content-list-item-flagged-color: var(--blue1);
    --content-list-editor-font-color: var(--primary-font-color);
    --content-list-editor-border-color: var(--gray);
    --content-list-editor-highlighted-text: var(--blue1);

    --content-button-label-font-size: 11px;
    --content-button-disabled-border-color: var(--gray7);
    --content-button-neutral-border-hover-color: var(--gray);
    --content-button-negative-border-hover-color: var(--red1);

    --content-checkbox-check-color: var(--primary-font-color);
    --content-checkbox-background-color: var(--blue);
    --content-checkbox-unchecked-border-color: var(--gray4);

    --content-card-background-color: var(--slate4);
    --content-card-bestMatch-background-color: var(--gray1);
    --content-card-icon-background-color: var(--secondary-accent-color);
    --content-card-icon-font-size: 20px;
    --content-card-title-font-size: 14px;
    --content-details-font-size: 12px;
    --content-back-font-size: 15px;
    --content-close-hover-color: var(--red2);

    /* Notifications */
    --notification-body-background-color: var(--toolbar-background-color);
    --notification-body-font-color: var(--primary-font-color);
    --notification-body-font-family: var(--font-family);
    --notification-logo-width: 14px;
    --notification-title-font-size: 13px;
    --notification-title-font-weight: bold;
    --notification-close-icon-hover-color: var(--secondary-negative-color);
    --notification-description-font-size: 13px;

    /* Process Monitor */
    --procMonitor-font-color: var(--primary-font-color);
    --procMonitor-font-size: 12px;
    --procMonitor-font-weight: var(--primary-font-weight);
    --procMonitor-process-name-font-weight: var(--secondary-font-weight);
    --procMonitor-component-name-font-weight: var(--primary-font-weight);

    --procMonitor-background-color: var(--primary-background-color);
    --procMonitor-list-border-color: var(--gray6);
    --procMonitor-close-component-font-color: var(--gray5);

    --procMonitor-warning-background-color: var(--yellow7);
    --procMonitor-negative-border-color: var(--tertiary-negative-color);
    --procMonitor-negative-background-color: var(--tertiary-negative-color);

    --procMonitor-close-hover-color: var(--red2);
}
