/* New Toolbar Starts Here*/
.finsemble-toolbar {
    display: flex;
    align-items: stretch;
    width: 100%;
    background: var(--toolbar-background-color);
    color: var(--toolbar-font-color);
    align-content: center;
    height: var(--toolbar-height);
}

.fullHeightFlex {
    height: 100%;
    display: flex;
}

.finsemble-toolbar.horizontal {
    flex-direction: row;
}

.finsemble-toolbar.vertical {
    flex-direction: column;
}

.finsemble-toolbar-section {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: stretch;
    overflow: hidden;
}

.finsemble-toolbar-section.right {
    justify-content: flex-end;
    order: 2;
    flex: 1;
    flex: auto;
}

.finsemble-toolbar-section.left {
    order: 0;
    justify-content: flex-start;
    flex: 0 0 auto;
}

.finsemble-toolbar-section.center {
    justify-content: flex-start;
    order: 1;
    flex: 1 1 auto;
}

.finsemble-toolbar-button {
    padding: 5px 6px;
    border: 1px solid var(--toolbar-background-color);
    display: inline-flex;
}

.finsemble-toolbar-button-label {
    font-size: var(--toolbar-font-size);
    font-weight: var(--toolbar-font-weight);
    text-align: left;
    letter-spacing: .25px;
    align-content: center;
    display: block;
    margin-top: 6px;
}

.finsemble-toolbar-button[data-hover=true] {
    background: var(--toolbar-button-hover-color);
    border: 1px solid transparent;
    cursor: pointer;
}

.finsemble-toolbar .resize-area {
    height: 100%;
    width: 6px;
    max-width: 6px;
    min-width: 6px;
    background-color: var(--toolbar-resize-area-color);
    justify-content: flex-end;
    order: 3;
    flex: 0 0 auto;
}

@media screen and (max-width: 170px) {
    /* remove */
    .workspace-menu-button {
        display: none !important;
    }
}

@media screen and (max-width: 270px) {
    #app-launcher {
        display: none !important;
    }

    .finsemble-toolbar-section.left .divider {
        display: none;
    }
}

@media screen and (max-width: 385px) {
    .finsemble-toolbar-section.right {
        display: none;
    }

    .finsemble-toolbar-section.left .divider:last-of-type {
        display: none;
    }

}
@media screen and (max-width: 390px) {
    /* hide buttons on right. show overflow. */
    .finsemble-toolbar-section.center {
        display: none;
    }

    .finsemble-toolbar-section.right .divider {
        display: none;
    }

}

.finsemble-toolbar-workspace-button-label > .finsemble-toolbar-button-label {
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.finsemble-toolbar-workspace-button-label.finsemble-toolbar-button[data-hover=true] {
    background: var(--toolbar-button-hover-color);
    border: 1px solid transparent;
    cursor: pointer;
}

.finsemble-toolbar-button-mover {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

.finsemble-toolbar-button-icon {
    height: 100%;
    padding-top: 2px;
    display: table-cell;
    vertical-align: middle;
}

.finsemble-toolbar-button-icon.left {
    padding-right: 5px;
}

.finsemble-toolbar-button-icon.right {
    padding-left: 5px;
}

.divider {
    display: flex;
    align-self: center;
}

.divider:before {
    height: 24px;
    border-right: var(--toolbar-separator);
    content: '';
    margin: 0 .25em;
}

img.pinned-icon {
    padding-top: 1px;
    width: 22px;
    height: 22px;
}

.pinned-icon {
    color: var(--toolbar-icon-app-color);
    font-size: var(--toolbar-icon-font-size);
    padding-right: .25em;
}

.pinned-workspace-icon {
    color: var(--toolbar-icon-workspace-color) !important;
}

.toolbar-button-label-left {
    order: -1;
}

.toolbar-button-label-right {
    order: 1;
}

.finsemble-button-label {
    padding-top: 1px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.finsemble-toolbar-brand-logo {
    width: var(--toolbar-brand-logo-width);
    height: var(--toolbar-brand-logo-height);
    margin: 2px 2px;
    padding: 2px 0px 0px 0px;
}

/* Special tweaks for pinned icons */
.ff-document-2 {
    padding-bottom: 2px;
}

.ff-chart-pie {
    font-size: 24px;
}

.ff-insiders-2 {
    padding-top: 3px;
}

.ff-company {
    padding-bottom: 2px;
}

.ff-minimize-all {
    padding-top: 4px;
}


.finsemble-toolbar-drag-handle {
    padding-left:5px;
    padding-right:5px;
    padding-top: 6px;
    -webkit-app-region: drag;
}
