@import url("./fonts/Roboto/Roboto-Definition.css");
@import url('_theme.css');

:root {
    /** Toolbar */

    --toolbar-height: 39px;
    --brand-logo-width: 20px;
    --brand-logo-height: 20px;
    --brand-logo-margin: 2px 2px;

    --toolbar-background-color: var(--primary-background-color);
    --toolbar-primary-font-color: var(--primary-font-color);
    --toolbar-icon-workspace-color: var(--yellow);
    --toolbar-icon-app-color: var(--blue3);

    --toolbar-button-padding: 0 .4em;
    --toolbar-button-label-font-weight: var(--primary-font-weight);
    --toolbar-button-label-font-size: .75em;
    --toolbar-button-label-margin-top: 6px;
    --toolbar-button-label-padding-top: 1px;

    --toolbar-line-height: 1em;
    --toolbar-font-weight: var(--primary-font-weight);
    --toolbar-icon-font-size: 22px;

    --toolbar-separator: 1px solid rgba(255, 255, 255, 0.3);

    /* Window Title bar */
    --titleBar-height: 32px;
    --breakpoint-small-window: 299px;
    --breakpoint-very-small-window: 175px;
    --titleBar-center-padding-bottom: 2px;
    --titleBar-icon-width: 21px;
    --titleBar-linker-group-width: 3px;

    --titleBar-background-color: var(--secondary-background-color);
    --titleBar-background-focus-color: var(--tertiary-background-color);

    --titlebar-tab-windowFocused-active-background-color: var(--slate3); /* Specifies the background color of the active tab in the active window. */
    --titlebar-tab-windowFocused-active-border-color: var(--slate2);
    --titlebar-tab-active-background-color: var(--slate4); /* Specifies the background color of the active tab in an inactive window. */
    --titlebar-tab-active-border-color: var(--slate3);
    --titlebar-tab-inactive-background-color: var(--primary-background-color); /* Inactive tabs are the same color for active and inactive windows. */
    --titlebar-tab-inactive-border-color: var(--slate3);

    --titleBar-button-hover-active-color: var(--primary-accent-color);
    --titleBar-button-hover-inactive-color: var(--secondary-accent-color);
    --titleBar-button-highlight-active-color: var(--primary-accent-color);
    --titleBar-button-highlight-inactive-color: var(--secondary-accent-color);
    --titleBar-button-hover-linker-group: var(--gray3);

    --titleBar-text-color: var(--primary-font-color);
    --titlebar-text-active-color: var(--primary-font-color);
    --titleBar-text-inactive-color: var(--gray3);
    --titleBar-font-weight: var(--primary-font-weight);
    --titleBar-font-size: 12px;



    /* Dialogs */
    --dialog-background-color: var(--primary-background-color);
    --dialog-font-color: var(--primary-font-color);
    --dialog-font-weight: var(--primary-font-weight);
    --dialog-body-padding: 32px;
    --dialog-input-background-color: var(--primary-background-color);
    --dialog-input-border-color: var(--gray6);
    --dialog-input-border-focus-color: var(--gray);

    /* Buttons */
    --button-affirmative-fill: var(--primary-accent-color);
    --button-affirmative-border: var(--blue5);
    --button-affirmative-border-hover: var(--blue2);
    --button-neutral-fill: var(--gray2);
    --button-neutral-border: var(--gray6);
    --button-neutral-border-hover: var(--gray2);
    --button-negative-fill: var(--red5);
    --button-negative-border: var(--red3);
    --button-negative-border-hover: var(--red1);

    --button-neutral-solid-text: #000000;
    --button-solid-text: var(--primary-font-color);

    /* Menus */
    --menu-font-size: 14px;
    --menu-background-color: var(--secondary-background-color);
    --menu-primary-font-color: var(--primary-font-color);
    --menu-primary-background-color: var(--secondary-background-color);
    --menu-primary-hover-color: var(--slate3);
    --menu-secondary-background-color: var(--slate4);
    --menu-secondary-hover-color: var(--slate3);

    --menu-pin-background-color: var(--slate1);
    --menu-pin-background-hover-color: var(--slate2);
    --menu-pin-border-color: var(--slate1);
    --menu-delete-background-color: var(--red1);

    --scrollbar-color: var(--slate1);

    /* Search Menu */
    --search-result-active-item-color: var(--slate3);
    --search-section-max-height: 30px;
    --search-input-height:var(--toolbar-height);
    --search-input-line-height: var(--toolbar-height);

    /* Window Frame*/
    --window-frame-inactive-color: var(--slate);
    /* --window-frame-active-color: var(--window-frame-inactive-color); */

    /* Window styles*/
    --scrim-overlay: var(--secondary-accent-color);
    --scrim-negative-overlay: var(--red7);

    /* Complex menus (e.g., Preferences and App Catalog) */
    /* Nav section is the left side of a complex menu */
    --complex-nav-header-background-color: var(--slate);
    --complex-nav-background-color: var(--tertiary-background-color);
    --complex-nav-active-item: var(--slate3);
    --complex-nav-active-item-hover: var(--slate2);
    --complex-nav-font-color: var(--primary-font-color);
    --complex-nav-padding-left: 30px;

    /* Content section is the right side of a complex menu.*/
    --complex-content-background-color: var(--secondary-background-color);
    --complex-content-font-color: var(--primary-font-color);
    --complex-content-hint-font-color: var(--gray);
    --complex-content-header-font-color: var(--tertiary-accent-color);

    --complex-content-list-border-color: var(--gray6);
    --complex-content-list-highlighter: var(--slate3);
    --complex-content-list-button-padding: 2px;
    --complex-content-list-item-flagged-color: var(--tertiary-accent-color);
    --complex-content-list-editor-font-color: var(--primary-font-color);
    --complex-content-list-editor-border-color: var(--gray);
    --complex-content-list-editor-highlighted-text: var(--tertiary-accent-color);

    --complex-content-button-fill-color: var(--gray7);
    --complex-content-button-border-color: var(--gray5);
    --complex-content-button-border-hover-color: var(--gray2);
    --complex-content-button-disabled-border-color: var(--gray7);
    --complex-content-button-neutral-border-hover-color: var(--gray);
    --complex-content-button-negative-border-hover-color: var(--red1);

    --complex-content-checkbox-check-color: var(--primary-font-color);
    --complex-content-checkbox-background-color: var(--blue);

    --complex-content-card-background-color: var(--slate4);
    --complex-content-card-logo-background-color: var(--secondary-accent-color);

    /* Notifications */
    --notification-body-background-color: var(--toolbar-background-color);
    --notification-body-font-color: var(--primary-font-color);
    --notification-body-font-family: var(--font-family);
    --notification-logo-width: 14px;
    --notification-title-font-size: 13px;
    --notification-title-font-weight: bold;
    --notification-close-icon-hover-color: var(--secondary-negative-color);
    --notification-description-font-size: 13px;


}
