/*!
* Copyright 2017 -2020 by ChartIQ, Inc.
* All rights reserved.
*/

body {
    padding: 0px !important;
    box-sizing: border-box;
    position: absolute;
  /*Without this, opening the side panels ruin everything*/
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/* html.desktop-active:before {
    background: var(--window-frame-active-color);
} */

/* Create a series of empty pseudo-elements... */


/* ...and position them! */
html:before {
    height: 1px;
    left: 0;
    right: 0;
    top: 0;
}

html:after {
    width: 1px;
    top: 0;
    right: 0;
    bottom: 0;
}

body:before {
    height: 1px;
    right: 0;
    bottom: 0;
    left: 0;
}

body:after {
    width: 1px;
    top: 0;
    bottom: 0;
    left: 0;
}

html.groupMask {
  /* ...and position them! */;
}

html.groupMask body {
    background-color: var(--groupMask-background-color);
    border: 5px solid var(--groupMask-border-color);
    margin: 0px;
}

html.groupMask html:before {
    height: 0px;
}

html.groupMask html:after {
    width: 0px;
    top: 0;
    right: 0;
    bottom: 0;
}

html.groupMask body:before {
    height: 0px;
    right: 0;
    bottom: 0;
    left: 0;
}

html.groupMask body:after {
    width: 0px;
    top: 0;
    bottom: 0;
    left: 0;
}

.fsbl-share-scrim {
    position: fixed;
    display: flex;
    height: 100%;
    width: 100%;
    z-index: 1000000;
    top: 0;
    left: 0;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    align-items: center;
    transition: all .3s ease;
    opacity: 0.85;
    font-size: var(--scrim-icon-font-size);
    color: var(--scrim-icon-font-color);
}

.fsbl-share-scrim .error-message {
    display: flex;
    height: 100%;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 1em;
    background-color: var(--scrim-negative-background-color);
}

.fsbl-share-scrim i {
    position: fixed;
    display: flex;
    height: 100%;
    width: 100%;
    z-index: 1000000;
    top: 0;
    left: 0;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    align-items: center;
    background-color: var(--scrim-positive-background-color);
    font-size: var(--scrim-font-icon-size);
    color: var(--scrim-font-icon-color) !important;
}

.fsbl-share-scrim i.no {
    background-color: var(--scrim-negative-background-color);
}
