@import url('./_theme.css');
@import url('./_themeWhitelabel.css');
@import url('./_fontIcons.css');
@import  url('./_windowFrame.css');
@import  url('./_scrollbars.css');
@import  url('./_toolbar.css');
@import  url('./_formElements.css');
@import  url('./_dialogs.css');
@import  url('./_menus.css');
@import  url('./_notification.css');
.hidden {
    display: none !important;
}

.flex-start {
    align-self: flex-start;
}

/* Gives the control icons the proper width on websites using bootstrap. */
i, i:before, i:after, .fsbl-window-manager-icon {
    box-sizing: content-box;
}

@import url('./_styleWhitelabel.css');