@import url('./_theme.css');
@import url('./_variablesWhitelabel.css');
@import url('./_themeWhitelabel.css');
@import url('./_fontIcons.css');
@import  url('./_windowFrame.css');
@import  url('./_windowTitleBar.css');
@import  url('./_scrollbars.css');
@import  url('./_toolbar.css');
@import  url('./_formElements.css');
@import  url('./_workspaceManagement.css');
@import  url('./_dialogs.css');
@import  url('./_menus.css');
@import  url('./_notification.css');
.hidden {
    display: none !important;
}

.fsbl-share-scrim {
    position: fixed;
    display: flex;
    height: 100%;
    width: 100%;
    z-index: 1000000;
    top: 0;
    left: 0;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    align-items: center;
    transition: all .3s ease;
    opacity: 0.85;
    font-size: var(--scrim-icon-font-size);
    color: var(--scrim-icon-font-color);
}

.fsbl-share-scrim .error-message {
    display: flex;
    height: 100%;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 1em;
    background-color: var(--scrim-negative-background-color);
}

.fsbl-share-scrim i {
    position: fixed;
    display: flex;
    height: 100%;
    width: 100%;
    z-index: 1000000;
    top: 0;
    left: 0;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    align-items: center;
    background-color: var(--scrim-positive-background-color);
    font-size: var(--scrim-font-icon-size);
    color: var(--scrim-font-icon-color) !important;
}

.fsbl-share-scrim i.no {
    background-color: var(--scrim-negative-background-color);
}

/* This should eventually replace fsbl-button. Currently fsbl-button is only used by buttons within dialogs. */
.finsemble-button {
    position: relative;
}

.fsbl-button {
    margin: 0px 6px;
    width: 124px;
    height: 35px;
    text-align: center;
    font-family: var(--font-family);
    color: var(--button-solid-text);
    font-weight: var(--button-font-weight);
    font-size: 15px;
    transition: .2s ease;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    letter-spacing: 0.4px;
    line-height: 34px;
}

.fsbl-button:hover {
    transition: 0.2s ease-out;
    cursor: pointer;
}

.fsbl-button-affirmative {
    border: 1px solid var(--button-affirmative-border-color);
    background-color: var(--button-affirmative-background-color);
}

.fsbl-button-affirmative:hover {
    border: 1px solid var(--button-affirmative-border-hover-color);
    background-color: var(--button-affirmative-background-hover-color);
}

.fsbl-button-neutral {
    border: 1px solid var(--button-neutral-border-color);
    background-color: var(--button-neutral-background-color);
}

.fsbl-button-neutral:hover {
    border: 1px solid var(--button-neutral-border-hover-color);
}

.fsbl-button-negative {
    border: 1px solid var(--button-negative-border-color);
    background-color: var(--button-negative-background-color);
}

.fsbl-button-negative:hover {
    border: 1px solid var(--button-negative-border-hover-color);
    background-color: var(--button-negative-background-hover-color);
}

.flex-start {
    align-self: flex-start;
}

/* Gives the control icons the proper width on websites using bootstrap. */
i, i:before, i:after, .fsbl-window-manager-icon {
    box-sizing: content-box;
}

@import url('./_styleWhitelabel.css');