<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>messageSourceTestComponent</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="messageSourceTestComponent.css">
  <script src="../../vendor.bundle.js"></script>
  <script src="messageSourceTestComponent.js"></script>
</head>

<body>
  <div id="container">
    <div id="bounds"></div>
    <div class="spacer2"></div>
    <img src="../../assets/img/finsembleDarkBG_noText.png" id="finsembleLogo" height="50">
    <div class="spacer2"></div>
    <h1>Message Source Tester</h1>
    <div class="spacer3"></div>

    <div id="headings">
      <div class="heading active" id="listenTransmitHeading" onclick="window.displayListenTransmit();">
        <h2>Listen/Transmit</h2>
      </div>

		<div class="heading" id="queryResponseHeading" onclick="window.displayQueryResponse();">
			<h2>Query/Response</h2>
		</div>

		<div class="heading" id="linkerHeading" onclick="window.displayLinker();">
			<h2>Linker</h2>
		</div>

      <!-- <div class="column" id="col3">
        <h2>Pub/Sub</h2>
      </div> -->
    </div>

    <div class="column" id="listenTransmitCol">
      <label class="inputLabel">
        Channel name
        <input class="textField" id="channel" value="defaultChannel"></input>
      </label>
      <button class="button" id="listenButton" onclick="window.listen()">Listen</button>
      <label class="inputLabel">
        Listeners
        <ul id="listeners"></ul>
      </label>


      <label class="inputLabel grow">
        Message received
        <textarea class="receivedData" id="receivedMessage" disabled rows=2></textarea>
      </label>

      <label class="inputLabel grow">
        Message envelope
        <textarea class="receivedData" id="messageEnvelope" disabled rows=8></textarea>
      </label>

      <label class="inputLabel grow">
        Sender details
        <textarea class="receivedData" id="senderDetails" disabled rows=8></textarea>
      </label>

      <div class="spacer4"></div>
      <hr />
      <div class="spacer4"></div>

      <label class="inputLabel">
        Channel name
        <input class="textField" id="transmitChannel" value="defaultChannel"></input>
      </label>

      <label class="inputLabel">
        Message content
        <textarea class="messageContentArea" id="transmitContent" rows=2></textarea>
      </label>
      <button class="button" id="transmitButton" onclick="window.transmit()">Transmit</button>
      <button class="button" id="transmitClear" onclick="window.clearTransmit()">Clear</button>
      <div class="spacer4"></div>

    </div>



    <div class="column hidden" id="queryResponseCol">
      <label class="inputLabel">
        Responder channel name
        <input class="textField" id="responderChannel" value="defaultChannel"></input>
      </label>
      <button class="button" id="addResponderButton" onclick="window.addResponder()">Add responder</button>
      <label class="inputLabel">
        Responders
        <ul id="responders"></ul>
      </label>


      <label class="inputLabel grow">
        Query received
        <textarea class="receivedData" id="qrReceivedQuery" disabled rows=1></textarea>
      </label>

      <label class="inputLabel grow">
        Query envelope
        <textarea class="receivedData" id="qrQueryEnvelope" disabled rows=6></textarea>
      </label>

      <label class="inputLabel grow">
        Query Sender details
        <textarea class="receivedData" id="qrQuerySenderDetails" disabled rows=6></textarea>
      </label>

      <div class="spacer3"></div>

      <label class="inputLabel grow">
        Response received
        <textarea class="receivedData" id="qrReceivedResponse" disabled rows=1></textarea>
      </label>

      <label class="inputLabel grow">
        Response envelope
        <textarea class="receivedData" id="qrResponseEnvelope" disabled rows=6></textarea>
      </label>

      <label class="inputLabel grow">
        Response Sender details
        <textarea class="receivedData" id="qrResponseSenderDetails" disabled rows=6></textarea>
      </label>

      <hr />
      <div class="spacer4"></div>

      <label class="inputLabel">
        Channel name
        <input class="textField" id="queryChannel" value="defaultChannel"></input>
      </label>

      <label class="inputLabel">
        Message content
        <textarea class="messageContentArea" id="queryContent" rows=2></textarea>
      </label>
      <button class="button" id="queryButton" onclick="window.query()">Query</button>
      <button class="button" id="queryClear" onclick="window.clearQuery()">Clear</button>

      <div class="spacer4"></div>
    </div>

	<div class="column hidden" id="linkerCol">
		<label class="inputLabel">
			Data type
			<input class="textField" id="datatype" value="defaultDataType"></input>
		</label>
		<button class="button" id="linkerSubscribeButton" onclick="window.linkerSubscribe()">Subscribe</button>
		<label class="inputLabel">
			Data types
			<ul id="dataTypes"></ul>
		</label>
	
	
		<label class="inputLabel grow">
			Message received
			<textarea class="receivedData" id="linkerReceivedMessage" disabled rows=1></textarea>
		</label>
	
		<label class="inputLabel grow">
			Message envelope
			<textarea class="receivedData" id="linkerMessageEnvelope" disabled rows=8></textarea>
		</label>
	
		<label class="inputLabel grow">
			Sender details
			<textarea class="receivedData" id="linkerSenderDetails" disabled rows=8></textarea>
		</label>
	
		<div class="spacer4"></div>
		<hr />
		<div class="spacer4"></div>
	
		<label class="inputLabel">
			Data type
			<input class="textField" id="linkerPublishDataType" value="defaultDataType"></input>
		</label>
	
		<label class="inputLabel">
			Message content
			<textarea class="messageContentArea" id="linkerPublishContent" rows=2></textarea>
		</label>
		<button class="button" id="linkerPublishButton" onclick="window.linkerPublish()">Publish</button>
		<button class="button" id="linkerPublishClear" onclick="window.clearLinkerPublish()">Clear</button>
		<div class="spacer4"></div>
	
	</div>

  
    <div class="column hidden" id="pubSubCol">
      <h3>Pub/Sub</h3>
    </div>



  </div>
</body>

</html>