.tags-menu-wrapper {
	height: 17px;
	border-radius: 2px;
	background: var(--tag-background-color);
	color: var(--tag-font-color);
	padding: 0 5px;
	display: table;
	position: absolute;
	top: 1px;
	right: 1px;
	user-select: none;
	font-family: var(--font-family);
	font-size: var(--menu-font-size);
    font-weight: var(--menu-font-weight);
}

/* Different positioning for the catalog vs the launcher. */
.appMarket .tags-menu-wrapper {
	top: 11px;
	right: 9px;
}
.tags-menu-wrapper span {
	line-height: 17px;
	font-size: 10px;
	cursor: pointer;
}
.tags-menu-wrapper span i {
	margin-right: 5px;
}
.tags-menu {
	z-index: 11;
    top: 22px;
	position: absolute;
	width: 130px;
	max-height: 200px;
	overflow-y: auto;
	border-radius: 3px;
  	background-color: var(--tag-background-color);
	padding: 5px 0px;
}
.tags-menu ul {
	padding: 0;
	margin: 0;
}
.tags-menu li {
	cursor: pointer;
	line-height: 19px;
	font-size: 11px;
	list-style: none;
	color: var(--tag-font-color);
	padding: 0 10px;
	display: flex;
	align-items: center;
}

.tags-menu .ff-check-mark {
	color: var(--tag-checkmark-icon-color);
}

.tags-checkmark-wrapper {
	width: 10px;
}

.app-tag {
	height: 17px;
	border-radius: 2px;
	background-color: var(--tag-background-color);
	user-select: none;
	margin: 0 4px 4px 0;
	padding: 4px 5px 0 5px;
}

.app-tag .tag-content {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-size: 10px;
	font-weight: var(--tag-font-weight);
	font-family: var(--font-family);
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: var(--tag-font-color);
	cursor: default;
}

.tag-delete {
	cursor: pointer;
	padding: 0 2px;
	font-size: 8px;
}

.tag-delete:hover {
	color: var(--tag-close-icon-hover-color);
}

.tag-name {
	margin-right: 2px;
}