.tags-menu-wrapper {
	height: 24px;
	border-radius: 12px;
	background: var(--tag-background-color);
	color: var(--tag-font-color);
	padding: 0px 5px 0px 9px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	user-select: none;
	font-family: var(--font-family);
	font-size: var(--menu-font-size);
	font-weight: var(--tag-font-weight);
	transition: 0.2s background;
}

.tags-menu-wrapper:hover {
	background-color: var(--tag-background-hover-color);
}

.filter-sort .tags-menu-wrapper {
	position: fixed;
	top: 13px;
	right: 8px;
}

/* Different positioning for the catalog vs the launcher. */
.appMarket .tags-menu-wrapper {
	top: 8px;
	right: 22px;
}
.tags-menu-wrapper span {
	line-height: 17px;
	font-size: var(--tag-font-size);
	cursor: pointer;
}
.tags-menu-wrapper span i {
	padding: 0px 5px;
	font-size: 6px;
}
.tags-menu {
	z-index: 11;
	top: 22px;
	position: absolute;
	width: 130px;
	max-height: 200px;
	overflow-y: auto;
	border-radius: 3px;
	background-color: var(--tag-background-color);
	padding: 5px 0px;
	margin-top: 5px;
}
.tags-menu ul {
	padding: 0px;
	margin: 0px;
}
.tags-menu li {
	cursor: pointer;
	line-height: 19px;
	font-size: 11px;
	list-style: none;
	color: var(--tag-font-color);
	padding: 0px 6px;
	display: flex;
	align-items: center;
}

.tags-menu .ff-check-mark {
	color: var(--tag-checkmark-icon-color);
}

.tags-checkmark-wrapper {
	width: 10px;
}

.app-tag {
	height: 20px;
	border-radius: 12px;
	background-color: var(--tag-background-color);
	user-select: none;
	margin: 0px 4px 4px 0px;
	padding: 5px 7px 0px 9px;
}

.app-tag .tag-content {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-size: var(--tag-font-size);
	font-weight: var(--tag-font-weight);
	font-family: var(--font-family);
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: var(--tag-font-color);
	cursor: default;
}

.tag-delete {
	cursor: pointer;
	padding: 0px 2px;
	font-size: 8px;
}

.tag-delete:hover {
	color: var(--tag-close-icon-hover-color);
}

.tag-name {
	margin-right: 2px;
}

.tag-content .ff-close {
	padding-top: 0px;
}

.label-bar .ff-close {
	padding-top: 2px;
}
