.tags-menu-wrapper {
	height: 17px;
	border-radius: 2px;
	background: #67829a;
	color: #fff;
	padding: 0 5px;
	display: table;
	position: absolute;
	top: 10px;
	right: 10px;
	user-select: none;
	font-family: var(--font-family);
	font-size: var(--menu-font-size);
    font-weight: var(--menu-font-weight);
}
.tags-menu-wrapper span {
	line-height: 17px;
	font-size: 10px;
	cursor: pointer;
}
.tags-menu-wrapper span i {
	margin-right: 5px;
}
.tags-menu {
	z-index: 11;
    top: 22px;
	position: absolute;
	width: 100px;
	max-height: 200px;
	overflow-y: auto;
	border-radius: 3px;
  	background-color: var(--slate2);
	color: #495a69;
	padding: 5px 10px;
}
.tags-menu ul {
	padding: 0;
	margin: 0;
}
.tags-menu li {
	cursor: pointer;
	line-height: 19px;
	font-size: 11px;
	list-style: none;
	color: #fff;
}

.app-tag {
	height: 17px;
	border-radius: 2px;
	background-color: #67829a;
	user-select: none;
	margin: 0 4px;
	padding: 2px 5px 0 5px;
}

.app-tag .tag-content {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-family: Roboto;
	font-size: 10px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #ffffff;
	cursor: default;
}

.tag-delete {
	cursor: pointer;
	padding: 0 2px;
	font-size: 8px;
}

.tag-delete:hover {
	color: var(--red1);
}

.tag-name {
	margin-right: 2px;
}