<!DOCTYPE html>
<html>
	<!--
    /*!
    * Copyright 2017 - 2020 by ChartIQ, Inc.
    * All rights reserved.
    */
-->
	<head>
		<script src="../../vendor.bundle.js"></script>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<title>App Catalog</title>
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	</head>

	<body class="appMarket">
		<div id="bodyHere"></div>

		<script src="appCatalog.js"></script>
	</body>
</html>
