@import  url('../../../assets/css/_globals.css');

.appMarket {
	background-color: var(--catalog-background-color);
	color: var(--catalog-font-color);
	/* background-image: linear-gradient(to top, rgb(60, 76, 88), rgb(48, 61, 71)); */
	font-family: var(--font-family);
	font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
	height: 100%;
	margin-left: 0px;
	margin-right: 0px;
}

.appMarket .market-content {
	position: relative;
}

::-webkit-scrollbar-track {
    border-radius: 3px;
    background-color: transparent;
}

::-webkit-scrollbar-track-piece {
    display: none;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
	border-radius: 3px;
	/* display: none; */
}

::-webkit-scrollbar-thumb {
    cursor: pointer;
    border-radius: 9px;
    background-color: var(--scrollbar-color);
}

.market_content {
	padding: 0px 5px 25px 5px;
	font-family: var(--font-family);
}

.appMarket .server-error {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px;
	font-size: 12px;
	line-height: 14px;
	color: #f26666;
}

.hero-main {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.hero-wrapper {
	width: 530px;
	margin: 0px 5px;
	padding: 5px 0px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.50);
}

.hero_selected_content {
	width: 50%;
	height: 174px;
	border: solid 1px var(--catalog-hero-border-color);
	background-color: var(--catalog-hero-background-color);
	cursor: pointer;
	padding: 10px;
	user-select: none;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.selected-content-info {
	width: 67%;
	display: flex;
	flex-direction: column;
	margin: 15px;
}

.selected-content-title {
	width: fit-content;
	font-size: 18px;
	font-weight: var(--font-weight);
	color: var(--catalog-font-color);
	margin-bottom: 10px;
	padding: 4px;
	border-radius: 4px;
}

.selected-content-message {
	height: 80px;
	font-size: 12px;
	font-weight: var(--font-weight);
	color: var(--catalog-font-color);
	padding: 4px 10px 4px 4px;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 5;
	-webkit-box-orient: vertical;
}

.paginator {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 6px;
}

.pagination-oval {
	width: 6px;
	height: 6px;
	border: solid 1px var(--catalog-pagination-dots-color);
	padding: 1px;
	margin: 3px;
	border-radius: 5px;
	cursor: pointer;
}

.pagination-oval.active {
	background-color: var(--catalog-pagination-dots-active-color);
	border-color: var(--catalog-pagination-dots-active-color);
}

.ff-adp-chevron-right, .ff-adp-chevron-left {
	color: var(--catalog-font-color);
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: transparent;
	cursor: pointer;
	border-radius: 40px;
	width: 34px;
	height: 34px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: .2s background-color;
}

.ff-adp-chevron-right:hover, .ff-adp-chevron-left:hover {
	background-color: var(--catalog-pagination-dots-color);
}

.ff-adp-chevron-left.disabled, .ff-adp-chevron-right.disabled {
	opacity: 0.15;
	cursor: default;
}

.ff-adp-chevron-left.disabled:hover, .ff-adp-chevron-right.disabled:hover {
	background-color: transparent;
}

.ff-adp-chevron-left:before {
	padding-right: 5px;
}

.app-card {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 169px;
	height: 89px;
	box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.25);
	background-color: var(--catalog-card-background-color);
	user-select:none;
	cursor: pointer;
	border-radius: 4px;
	margin: 5px;
}

.app-image-container {
	position: relative;
	z-index: 0;
	display: flex;
	margin: 10px 10px 5px 10px;
}

.app-card .app-image {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 34px;
	height: 34px;
	user-select: none;
	margin-right: 10px;
	position: static;
}

.app-card .app-title {
	height: 34px;
	width: 95px;
	font-size: var(--catalog-font-size-text);
	font-weight: var(--font-weight);
	color: var(--catalog-font-color);
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.app-card .app-title.entitled {
	opacity: 0.4;
}

.app-card .footer {
	height: 28px;
	font-size: var(--tag-font-size);
	font-weight: var(--font-weight-1);
	color: var(--catalog-font-color);
	margin: 0px 10px;
}

.app-card .app-tags {
	display: flex;
}

.footer .ff-tag {
	margin-top: 2px;
}

.app-card .footer .app-tags .tag-names {
	padding-left: 5px;
	color: var(--catalog-tag-font-color);
	height: 32px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.app-card .footer .app-tags .tag-name:hover {
	cursor: pointer;
	text-decoration: underline;
}

.app-card .ff-check-mark-2 {
	display: none;
	position: absolute;
	right: -4px;
	top: -5px;
	z-index: 1;
	cursor: pointer;
	transition: .2s all;
	font-size: 13px;
}

.app-card .ff-check-mark-2.faded {
	display: block;
	color: var(--catalog-card-checkmark-unselected-color);
}

.app-card .ff-check-mark-2.highlighted {
	display: block;
	color: var(--catalog-card-checkmark-selected-color);
}

.app-card .ff-check-mark-2.highlighted.added {
	display: block;
	color: var(--accent-positive-1);
}

.app-catalog {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.carousel-main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 14px;
}

.carousel-main .carousel-header .carousel-title {
	width: 90px;
	height: 19px;
	font-size: var(--catalog-font-size-header);
	font-weight: var(--catalog-carousel-font-weight);
	color: var(--catalog-section-header-font-color);
	cursor: pointer;
	user-select: none;
}

.carousel-main .carousel-content {
	display: flex !important;
	flex-direction: row !important;
	justify-content: space-between !important;
	align-items: center !important;
}

.carousel-main .carousel-header .see-more {
	width: 67px;
  	height: 23px;
	background-color: var(--button-affirmative-background-color);
	border: none;
	border-radius: 4px;
	font-family: var(--font-family);
	font-size: var(--tag-font-size);
	font-weight: var(--font-weight-1);
	color: var(--catalog-font-color);
	user-select: none;
	outline:none;
	cursor: pointer;
	transition: .2s all;
}

.carousel-main .carousel-header .see-more:hover {
	background-color: var(--button-affirmative-background-hover-color);
}

.carousel-main .carousel-header .see-more .button-label {
	width: 43px;
	height: 13px;
}

.carousel-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 6px;
	padding: 0px 38px;
}

.carousel-header .see-more {
	float: right;
}

.carousel-header .carousel-title {
	float: left;
}

.search-main .search-action-items {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 89%;
}

.search-main .button-label {
	padding: 0px 5px;
}

.ff-search {
    padding: 8px 10px 0px 5px;
}

.search-main {
	padding: 6px 16px;
	position: sticky;
	z-index: 2147483647;
	top: 0px;
	width: 96%;
	background-color: var(--catalog-background-color);
}

.search-main .ff-search {
	color: var(--catalog-font-color);
	font-size: var(--catalog-font-size-text);
}

.search-input-container {
	display: flex;
    width: 100%;
}

.search-main .search-input {
	width: 100%;
	color: var(--catalog-font-color);
	font-family: var(--font-family);
	height: 22px;
	background: none;
	border: 0;
	border-bottom: solid 1px var(--catalog-search-border-color);
	font-size: var(--catalog-font-size-text);
	transition: .2s ease-in;
}

/* @keyframes fadeOut {
	0% {opacity: 0.9;}
	25% {opacity: 0.7;}
	50% {opacity: 0.5;}
	75% {opacity: 0.2;}
	100% {opacity: 0; visibility: hidden;}
} */

@keyframes fadeIn {
	0% {opacity: 0.2;}
	20% {opacity: 0.4;}
	30% {opacity: 0.6;}
	40% {opacity: 1.0;}
	60% {opacity: 1.0;}
	70% {opacity: 0.6;}
	80% {opacity: 0.4;}
	95% {opacity: 0.2;}
	100% {opacity: 0;}
}

.search-main .toast-content {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 175px;
	height: 34px;
	font-size: 12px;
	font-weight: var(--catalog-font-weight);
	text-align: center;
	border-radius: 25px;
	color: var(--catalog-font-color);
	background-color: var(--catalog-toast-background-color);
	z-index: 99;
	left: 0;
	right: 0;
	margin: auto;
	position: absolute;
	animation: fadeIn 1.5s linear;
	cursor: default;
	pointer-events: none;
}

.search-main .toast-content.success {
	border: 3px solid var(--catalog-card-checkmark-selected-color);
	opacity: 0;
}

.search-main .toast-content.error {
	border: 3px solid var(--accent-negative);
	opacity: 0;
}

.search-main .toast-content.not-shown {
	opacity: 0;
	animation-name: fadeOut;
	animation-duration: 2s;
}

.search-main .toast-content .toast {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.search-main .toast-content .ff-check-mark {
	color: var(--catalog-card-checkmark-selected-color);
}

.search-main .toast-content .ff-close {
	color: var(--accent-negative);
}

.search-main .search-input:focus {
	border-bottom: 1px solid var(--catalog-search-active-border-color);
	outline: none;
}

.search-main .search-back {
	border: none;
	height: 24px;
	border-radius: 12px;
	color: var(--catalog-font-color);
	padding: 0px 5px 0px 9px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--tag-background-color);
	cursor: pointer;
	font-size: var(--tag-font-size);
	font-weight: var(--font-weight-1);
	user-select: none;
	transition: .2s all;
}

.search-main .search-back:hover {
	background-color: var(--tag-background-hover-color); 
}

.search-main .tag-selector {
	padding-left: 5px;
	user-select: none;
}

.search-main .tag-selector .tag-selector-label {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 51px;
	height: 17px;
	border-radius: 2px;
	background-color: var(--tag-backgrond-color);
	font-size: var(--tag-font-size);
	font-weight: var(--font-weight-1);
	color: var(--catalog-font-color);
	cursor: pointer;
}

.search-main .tag-selector .tag-selector-label .ff-tag {
	width: 10px;
	height: 10px;
}

.search-main .tag-selector .tag-selector-label .label-text {
	width: 22px;
	height: 13px;
	padding-left: 5px;
}

.search-main .tag-selector .tag-selector-content {
	display: flex;
	flex-direction: column;
	width: 132px;
	height: 214px;
	border-radius: 3px;
	background-color: var(--tag-backgrond-color);
	text-overflow: ellipsis;
	overflow-y: auto;
	z-index: 1;
	position: absolute;
}

.search-main .tag-selector .tag-selector-content .tag-selector-item {
	width: 103px;
	height: 19px;
	font-size: var(--catalog-font-size-text);
	color: var(--catalog-font-color);
	align-self: center;
}

.search-main .tag-selector .tag-selector-content.hidden {
	display: none;
}

.app-results .app-results-no-results {
	height: 21px;
	font-size: 12px;
	font-weight: var(--font-weight);
	text-align: center;
	color: var(--catalog-font-color);
	user-select: none;
	display: flex;
	justify-content: center;
	cursor: default;
}

.label-bar {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
	margin-top: 8px;
}

.app-results {
	padding: 0px 32px;
	display: flex;
	justify-content: center;
}

.app-showcase {
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-family: var(--font-family);
}

.app-showcase .app-warning {
	display: flex;
	align-self: center;
	text-align: center;
	height: 25px;
	font-size: var(--catalog-font-size-text);
	font-weight: var(--catalog-carousel-font-weight);
	color: var(--accent-negative);
}

.app-showcase .app-warning-wrapper {
	display: flex;
	align-items: center;
}

.app-showcase .app-warning .app-warning-text {
	padding: 0px 5px;
}

.app-showcase .header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 5px 0px;
	margin: 0px 49px;
}

.app-showcase .header .icon-title-container {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.app-showcase .header .header-icon {
	width: 31px;
	height: 31px;
	margin-right: 8px;
	user-select: none;
}

.app-showcase .header .appName {
	padding-right: 12px;
	font-size: var(--catalog-font-size-header);
  	font-weight: var(--font-weight);
	color: var(--catalog-font-color);
}

.app-showcase .header .action-button-container {
	display: flex;
	flex-direction: row;
	font-size: 12px;
	font-weight: var(--font-weight-1);
	color: var(--catalog-font-color);
}

.app-showcase .header .action-button-container .remove-button {
	height: 16px;
	padding: 5px 0px;
	cursor: pointer;
}

.app-showcase .header .action-button {
	width: 54px;
	height: 30px;
	margin-left: 5px;
	background-color: var(--button-affirmative-background-color);
	border: none;
	display: flex;
	border-radius: 4px;
	flex-direction: column;
    justify-content: center;
	align-items: center;
	user-select: none;
	outline: none;
	transition: .2s ease-in;
	cursor: pointer;
}

.action-button .ff-plus {
	margin-top: 3px;
    padding-right: 2px;
}




.app-showcase .header .action-button.open:hover {
	background-color: var(--button-affirmative-background-hover-color);
}

.app-showcase .header .action-button.remove:hover {
	color: var(--button-negative-background-hover-color);
}



.remove-button {
  	font-size: 12px;
  	font-weight: var(--font-weight);
	color: var(--catalog-font-color);
	font-family: var(--font-family);
	display: flex;
	justify-content: flex-end;
	align-items: center;
	cursor: pointer;
	outline: none;
}

.app-showcase .header .action-button-label {
	display: flex;
	align-items: center;
	width: 100%;
	height: 16px;
	font-size: 12px;
	font-weight: var(--font-weight);
	font-family: var(--font-family);
	text-align: center;
	color: var(--catalog-font-color);
}

.action-button.disabled .action-button-label {
	color: var(--button-disabled-color);
}

.app-showcase .image-carousel-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 5px 0px;
	user-select: none;
}

.app-showcase .image-carousel-image {
	padding: 5px 0px;
	height: 125px;
	width: 125px;
}

.app-showcase .app-notes {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
  	font-size: var(--catalog-font-size-text);
	padding: 5px 0px;
	margin: 0px 28px 10px 28px;
}

.app-notes p {
	margin: 0px;
}

.app-showcase a {
	color: var(--catalog-section-header-font-color);
}

.app-showcase .app-notes .developer-content {
	align-self: flex-start;
	color: var(--catalog-font-color);
	padding-left: 5px;
}

.app-showcase .showcase-label {
	display: flex;
	width: 100%;
	height: 15px;
	font-weight: var(--catalog-carousel-font-weight);
	font-size: var(--catalog-font-size-header);
	color: var(--catalog-section-header-font-color);
	padding-bottom: 5px;
}

.app-showcase .description-content {
	width: 534px;
	color: var(--catalog-font-color);
	padding-left: 5px;
}

.app-showcase .release-notes-content {
	width: 540px;
	color: var(--catalog-font-color);
	padding-left: 5px;
}

.app-showcase .version-content {
	color: var(--catalog-font-color);
	width: 50%;
}

.app-showcase .updated-content {
	color: var(--catalog-font-color);
	width: 50%;
}

.app-showcase .support-content {
	color: var(--catalog-font-color);
	width: 50%;
}

.app-showcase .tags-content {
	width: 50%;
}

.app-showcase .dev-notes {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
  	font-size: 12px;
	padding: 5px 0px;
	margin-left: 28px;
}

.app-showcase .version {
	width: 80px;
  	height: 15px;
	padding-left: 5px;
}

.app-showcase .updated {
	width: 115px;
	height: 15px;
	color: var(--catalog-font-color);
	padding-left: 5px;
}

.app-showcase .support-content .support {
	color: var(--catalog-font-color);
	padding-right: 8px;
	padding-left: 5px;
}

.app-showcase .tags {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 2px;
}

.app-showcase .tag-label {
	height: 20px;
	border-radius: 12px;
	background-color: var(--tag-background-color);
	user-select: none;
	margin: 0px 4px 4px 0px;
	padding: 1px 8px 0px 8px;
	cursor: pointer;
	transition: .2s all;
}

.app-showcase .tag-label:hover {
	background-color: var(--tag-background-hover-color);
}

.app-showcase .tag-label .label-content {
	font-size: var(--tag-font-size);
	padding: 5px;
	color: var(--catalog-font-color);
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
}

.modal-main {
	position: fixed;
	height: auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%)
}

.modal.open {
	display: block;
}

.modal.closed {
	display: none;
}

.modal .modal-image {
	display: flex;
	justify-content: center;
	width: auto;
	height: 311px;
}

.app-showcase .header .action-button.remove {
	background-color: var(--accent-negative);
}

.app-showcase .header .action-button.remove:hover {
	background-color: var(--accent-negative-1);
}

.app-showcase .header .action-button.disabled {
	background-color: transparent;
	color: var(--button-disabled-color);
	cursor: default;
}

.app-showcase .header .action-button.disabled:hover {
	color: var(--button-disabled-color);
}

.close-icon {
	border:1px solid transparent;
	background-color: transparent;
	display: inline-block;
	vertical-align: middle;
	outline: 0;
	cursor: pointer;
	position: absolute;
	top: 20px;
	right: -12px;
}

.close-icon::after {
	content: "\70";
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: font-finance;
	width: 15px;
	height: 15px;
	position: absolute;
	z-index:1;
	right: 88px;
	top: -6px;
    bottom: 0;
    margin: auto;
	padding: 3px 3px 2px 2px;
	border-radius: 50%;
	text-align: center;
	color: var(--appMenu-icon-color);
	font-size: 8px;
	cursor: pointer;
}

.close-icon:hover::after {
    color: var(--appMenu-font-color);
}

.search-input:not(:valid) ~ .close-icon {
	display: none;
}