<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>defaultAuthentication</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="defaultAuthentication.css?{cachebuster}">
  <script src="defaultAuthentication.js?{cachebuster}"></script>
</head>

<body>
  <h1>Dynamic Configuration</h1>
  <p>Select a user and login:</p>
  <select id="user">
  </select>
  <button id="submit">Log In</button>
  <button id="quit">Exit</button>
</body>

</html>