/*!
  * Copyright 2017 - 2020 by ChartIQ, Inc.
  * All rights reserved.
  */
@import url("../../../assets/css/_globals.css");

@import url("../../../assets/css/_toolbar.css");

body,
html {
	height: 100%;
	margin: 0px;
	font-family: var(--font-family);
	font-weight: var(--toolbar-font-weight);
	font-size: var(--toolbar-font-size);
	color: var(--toolbar-font-color);
	line-height: 1.3em;
	vertical-align: middle;
	-webkit-user-select: none;
	overflow: hidden;
}

.fsbl-share-scrim {
	display: none !important;
}

.first-pinned-component {
	margin-left: 0px !important;
}

.icon-only > i {
	height: 22px;
	font-size: var(--toolbar-icon-font-size);
	width: auto;
}

.window-mgmt-left {
	border-radius: 30px 0 0 30px;
	padding: 0px 6px 2px 8px;
}
.window-mgmt-center {
	border-radius: 0 0 0 0;
}
.window-mgmt-right {
	border-radius: 0 30px 30px 0;
	padding: 0px 8px 2px 6px;
}

.auto-arranged {
	background-color: var(--accent-primary-1);
}

.searchSection {
	position: relative;
	max-width: 107px;
	overflow: visible;
	max-height: var(--toolbar-height);
	width: 14px;
	margin-bottom: 4px;
}

.searchSection:hover {
	background-color: var(--search-hover-background-color);
}

.left.finsemble-toolbar-section {
	overflow: visible;
}

.searchContainer {
	display: flex;
	margin: 0px 2px;
	margin-top: -1px;
}

.searchInput {
	position: absolute;
	display: inline;
	text-indent: 8px;
	width: 107px;
	height: var(--toolbar-height);
	line-height: var(--toolbar-height);
	background-color: transparent;
	border-color: transparent;
	z-index: 2;
	overflow: hidden;
	white-space: nowrap;
	transition-timing-function: ease-in-out -0.1;
	transition: width 0.5s, background-color 0s 0s;
}

.searchInput.full[contenteditable="true"]:empty:before {
	content: attr(placeholder);
}

.searchInput.compact {
	content: "";
	padding-left: 9px;
	width: 31px;
	cursor: pointer;
	color: transparent; /* hide the text when in compact mode */
	text-shadow: none;
	/*transition: width .5s,background-color 0s .5s;*/
}

.searchInput.compact::before {
	content: "";
}

.searchInput.full {
	content: "";
	padding-left: 9px;
	padding-right: 9px;
	width: 23px;
	color: var(--search-input-background-color);
	cursor: pointer;
	transition: width 0.5s, background-color 0s 0.5s;
}

[contenteditable="true"] br {
	display: none;
}

[contenteditable="true"] div {
	display: none;
}

.searchInput.active {
	display: inline-block;
	left: 0px;
	width: 349px;
	text-align: left;
	background-color: var(--search-input-background-color);
	color: var(--search-input-font-color);
	cursor: initial;
	z-index: 99;
	text-shadow: none;
}

img {
	user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.searchInput::after {
	position: absolute;
	right: 26px;
	top: 3px;
	font-size: 13px;
	content: url(../../../assets/img/toolbar/search.svg);
	color: var(--toolbar-font-color); /* make sure magnifying glass is white */
}

div {
	outline-color: transparent;
}

.ff-chevron-down {
	display: flex;
	justify-content: center;
	align-items: center;
	order: 1;
	padding-left: 6px;
	font-size: 8px;
	padding-top: 3px;
	color: var(--font-color-1);
}

.overflow .ff-chevron-down {
	padding-left: 0px;
	padding-right: 1px;
}
