/*!
  * Copyright 2017 by ChartIQ, Inc.
  * All rights reserved.
  */
@import  url('../../../assets/css/_globals.css');

@import  url('../../../assets/css/_toolbar.css');

body, html {
    height: 100%;
    margin: 0px;
    font-family: var(--font-family);
    font-weight: var(--toolbar-font-weight);
    font-size: var(--toolbar-font-size);
    color: var(--toolbar-font-color);
    line-height: var(--toolbar-line-height);
    vertical-align: middle;
    -webkit-user-select: none;
    overflow: hidden;
}

.fsbl-share-scrim {
    display: none !important;
}

.first-pinned-component {
    margin-left: 0px !important;
}

.icon-only > i {
    height: 22px;
    font-size: var(--toolbar-icon-font-size);
    width: auto;
}

.searchSection {
    position: relative;
    max-width: 107px;
    overflow: visible;
    max-height: var(--toolbar-height);
    width: 30px;
    padding-top: 0px;
}

.left.finsemble-toolbar-section {
    overflow: visible;
}

.searchContainer {
    display: flex;
    margin: 0px 5px;
}

.searchInput {
    position: absolute;
    display: inline;
    text-indent: 8px;
    width: 107px;
    height: var(--toolbar-height);
    line-height:var(--toolbar-height);
    background-color: transparent;
    border-color: transparent;
    z-index: 2;
    overflow: hidden;
    white-space: nowrap;
    transition-timing-function: ease-in-out -.1;
    transition: width .5s,background-color 0s 0s;
}

.searchInput.full[contenteditable=true]:empty:before {
    content: attr(placeholder);
}

.searchInput.compact {
    content: "";
    padding-left: 9px;
    width: 30px;
    cursor: pointer;
    color: transparent; /* hide the text when in compact mode */
  /*transition: width .5s,background-color 0s .5s;*/;
}

.searchInput.compact::before {
    content: "";
}

.searchInput.full {
    content: "";
    padding-left: 9px;
    padding-right: 9px;
    width: 23px;
    color: var(--search-input-background-color);
    cursor: pointer;
    transition: width .5s,background-color 0s .5s;
}

[contenteditable="true"] br {
    display: none;
}

[contenteditable="true"] div {
    display: none;
}

.searchInput.active {
    display: inline-block;
    left: 0px;
    width: 349px;
    text-align: left;
    background-color: var(--search-input-background-color);
    color: var(--search-input-font-color);
    cursor: initial;
    z-index: 99;
}

img {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.searchInput::after {
    position: absolute;
    font-family: font-finance;
    right: 24px;
    content: "\2c";
    color: var(--toolbar-font-color); /* make sure magnifying glass is white */
}

div {
    outline-color: transparent;
}
