.ciq-Search {
	border: 0px;
	vertical-align: middle;
	margin: 0px 0px 0px 0px;
}

/*.ciq-Search input[type="submit"] {
	cursor: pointer;
}*/

.ciq-Search {
	/*height: 40px;*/
	width: 80%;
	display: inline-block;
}
.ciq-Search > div {
	position: relative;
	display: inline-block;
	/*height: 40px;*/
	width: 80%;
	text-align: left;
}
.ciq-Search input {
	border: none;
	float: left;
	padding-left: 5px;
	height: 30px;
	line-height: 30px;
	background: rgba(21, 31, 40, 0);
}

.ciq-Search input[type="search"]:hover {
	background-color: #233542;
}

.ciq-Search input[type="search"]:focus {
	background-color: #233542;
}


.ciq-Search input[type="search"] {
	color: #fff;
	font-size: 12px;
	font-weight: 300;
	padding-left: 10px;
	text-indent: 0px;
	/*-webkit-border-radius: 3px 0 0 3px;
	-moz-border-radius: 3px 0 0 3px;
	-ms-border-radius: 3px 0 0 3px;
	border-radius: 3px 0 0 3px;*/
	width: 110px;
	transition: width .6s 0s;
	text-align: left;
}

.ciq-Search input[type="search"]:focus {
	width:80%;
	/* copy of Chromes Outlie Style */
	outline: auto;
	outline-color: rgb(77, 144, 254);
}

.ciq-Search input[type="search"]:active {
	width:80%;
	background-position: 325px -48px;
	
}


.ciq-Search input[type="search"]::-webkit-input-placeholder {
	/*color: #4495D1;*/
	-webkit-transition: padding 0.3s ease-out, color 0.3s ease-in-out;
    transition: padding 0.3s ease-out, color 0.3s ease-in-out;
}
.ciq-Search input[type="search"]:-moz-placeholder {
	/*color: #4495D1;*/
	padding-left: 25%;
	-moz-transition: padding 0.3s ease-out, color 0.3s ease-in-out;
    transition: padding 0.3s ease-out, color 0.3s ease-in-out;
}
.ciq-Search input[type="search"]::-moz-placeholder {
	/*color: #4495D1;*/
	padding-left: 25%;
	-moz-transition: padding 0.3s ease-out, color 0.3s ease-in-out;
    transition: padding 0.3s ease-out, color 0.3s ease-in-out;
}
.ciq-Search input[type="search"]:-ms-input-placeholder {
	/*color: #4495D1;*/
	padding-left: 25%;
	-ms-transition: padding 0.3s ease-out, color 0.3s ease-in-out;
    transition: padding 0.3s ease-out, color 0.3s ease-in-out;
}

.ciq-Search input[type="submit"] {
	font-size: 10px;
	width: 30px;
	margin-left: 0px;
	text-align: center;
	color: #999;
	opacity: .6;
	font-weight: bold;
	text-transform: uppercase;
	-webkit-border-radius: 0 3px 3px 0;
	-moz-border-radius: 0 3px 3px 0;
	-ms-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
	padding: 1px 6px 3px;
	-webkit-transition: color .3s ease-out;
	-moz-transition: color .3s ease-out;
	-o-transition: color .3s ease-out;
	-ms-transition: color .3s ease-out;
	transition: color .3s ease-out;
	position: relative;
    left: -40px;
}

div.ciq-search-results .scroller {
	position: relative;
	z-index: 204;
	box-sizing: initial;
}
div.ciq-search-results .scroller ul {
	display: block;
	padding: 0;
}
div.ciq-search-results .scroller li {
	display: block;
	padding: 5px 10px;
	/*color: #666;*/
	position: relative;
	clear: left;
	cursor: pointer;
}

div.ciq-search-results .scroller li:hover {
	background: #eeeeee;
}

div.ciq-search-results .scroller li span {
	margin: 0;
	line-height: 18px;
	color: black;
}
div.ciq-search-results .scroller li span:nth-of-type(1) {
	/*color: #333333;*/
	font-weight: bold;
	float: left;
	margin-right: 5px;
}
div.ciq-search-results .scroller li span:nth-of-type(2) {
	/*color: #999;*/
	font-size: 10px;
	float: right;
	padding-right: 6px;
}
.topbar .ciq-Search {
	margin-bottom: 0px;
}


div.ciq-search-results {
	width: 80%;
	padding: 2px;
	text-align: left;
	position: absolute;
	display: none;
	top: 27px;
	z-index: 5;
	background: #fff;
	border: 1px solid #eee;
	overflow: hidden;
	max-height: 368px;
	box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
	-webkit-transition: opacity 0.25s ease 0s;
	-moz-transition: opacity 0.25s ease 0s;
	-ms-transition: opacity 0.25s ease 0s;
	-o-transition: opacity 0.25s ease 0s;
	transition: opacity 0.25s ease 0s;
	opacity: 1;
	filter: alpha(opacity=100);
	z-index: 203;
	box-sizing: initial;
}

.ciq-Search .ciq-SearchButton {
	background-image: url(../img/stx-sprite-ui.svg);
	background-position: -48px -48px;
}