<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>inputAndSelectionDialog</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,500,100,300,400italic|Roboto+Condensed:400,700,300' rel='stylesheet'
        type='text/css'>
</head>

</head>

<body>
    <div class="inputAndSelectionDialog-component-class" id="inputAndSelectionDialog-component-wrapper">
        <h2>
            inputAndSelectionDialog
        </h2>
	</div>
    <script src="inputAndSelectionDialog.js"></script>
</body>

</html>