/*!
* Copyright 2017 by ChartIQ, Inc.
* All rights reserved.
*/
@import '../assets/sass/_globals';
@import '../assets/sass/_menus';
$scrollbar-color:#039bff;
img {
	user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

html {
	height:100%;

	overflow-x: hidden;
	margin-left: 0px;
}
html:before{
	background: transparent;
}
html:after{
	background: transparent;
}

.bestmatch{
	background-color: #ecf0f1;

}

body{
	margin-left: 0px!important;
	margin-right: 0px!important;
}

.content {
	width: calc(100% - 17px);
	padding:.75em;
}

.ListHeader{
	display: flex;
	margin-left:6px;
}
.filterInput{
	width: 163px;
	height: 24px;
	border-color: #dddddd;
	border-width: 1px 1px 1px 1px;
	border-style: solid;
	padding-left: 10px;
}
input {
	outline-color: transparent;
}
.filterInput:focus {
	border: 1px solid $scrollbar-color;
}
.ff-search{
	text-align: center;
	align-self: center;
	position: relative;
	right:21px;
	width: 15px;
	height: 15px;
}
.appContainer{
	display: flex;
	flex-wrap: wrap;
}

img {
	user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
.appContainer .appItem{
	display: flex;
	flex-direction: column;
	margin:8px;
	width: 170px;
	height: 104px;
	background-color: #f9f9f9;
	box-shadow: 0 1px 4px 0 rgba(136, 136, 136, 0.5);
}
.appHeader{
	margin-top: 9px;
	display: flex;
	flex:1;
	cursor: pointer;
}
 .logo{
	margin-right:11px;
	margin-left:11px;
	width:36px;
	width: 36px;
	height: 36px;
	background-color: white;
	background-size: 36px 36px;

}
.iconContainer{
	margin-right:11px;
	margin-left:11px;
	width:36px;
	min-width: 36px;
	height: 36px;
	background-color: #0b408f;
	display:flex;
	align-items: center;
}
.icon{
	font-size: 20px;
	width:100%;
	color:white;
	font-weight: 200;
	text-align: center;
	vertical-align: middle;
	align-self:center;
	padding-top: 3px;
}
.titleContainer{
	display: flex;
	flex:1;
	flex-direction: column;
}
.titleContainer .title{
	width:100%;
	max-height: 14px;
	font-family: Roboto;
	font-size: 14px;
	font-weight: 500;
	font-stretch: normal;
	letter-spacing: normal;
	text-align: left;
	color: #000000;
	word-break: break-word;

	padding-right:7px;
	line-height: 1;
}
.titleContainer .vendor{
	width: 39px;
	height: 16px;
	font-family: Roboto;
	font-size: 12px;
	font-weight: 300;
	font-style: italic;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	color: #555555;
}


.appItem .containerFooter{
	display:flex;
	margin-bottom: 5px;
}
.hide{
	display: none;
}
.containerFooter .footerLeft{
	flex:1;
}

.containerFooter .footerRight{
	margin-right:15px;
}

.footerRight .openButton{
	cursor: pointer;
	align-self: flex-end;
	background-color: #2068c3;
	border: solid 1px #91c5ff;
	font-size: 12px;
	color: #ffffff;
	text-align: center;

	padding: 5px 10px 5px 10px;
	width: 49px;
	height: 16px;
	font-family: Roboto;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #ffffff;
}
.conatinerItem {
	flex:1;
	width:100%;
	overflow-y: auto;
}
.AppDetailsContainer{
	margin-top: 19px;
	margin-left:28px;
	margin-right:28px;
}


.ff-arrow-back{
	cursor: pointer;
	font-size: 10px;
	font-weight: 300;
	text-align: left;
	color: #000000;
	margin-bottom: 21px;
}
.detailsHeader{
	display: flex;
	flex-direction: row;
}

.detailsHeader .image{
	width: 36px;
	height: 36px;
	margin-right: 13px;
}

.detailsHeader .button{
	cursor: pointer;
	font-family: Roboto;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #ffffff;
	padding:5px 17px 5px 17px;
	text-align: center;
	align-self: center;
	border: solid 1px #dddddd;
	background-color: #2068c3;
	border: solid 1px #91c5ff;
}


::-webkit-scrollbar-track
{
	border-radius: 3px;
	background-color: transparent;

}

::-webkit-scrollbar {
	width: 9px;
	background-color: transparent;
	border-radius: 3px;
}

::-webkit-scrollbar-thumb {
	cursor: pointer;
	border-radius: 9px;
	background-color: $scrollbar-color;
}

/* Special tweaks for uncentered icons */

.ff-chart-pie {
	font-size: 22px;
	padding-top: 5px;
}

.ff-chart-simple, .ff-chart-advanced, .ff-chart-alt-1, .ff-chart-alt-2, .ff-insiders-2, .ff-document-2 {
	padding-top: 4px;
}