/*!
* Copyright 2017 - 2020 by ChartIQ, Inc.
* All rights reserved.
*/
@import url("../../../assets/css/_globals.css");

@import url("../../../assets/css/_menus.css");

img {
	user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

html {
	height: 100%;
	overflow-x: hidden;
	margin-left: 0px;
}

html:before {
	background: transparent;
}

html:after {
	background: transparent;
}

.bestmatch {
	background-color: var(--content-card-bestMatch-background-color);
}

body {
	margin-left: 0px !important;
	margin-right: 0px !important;
	font-family: var(--font-family);
	font-weight: var(--content-font-weight);
	color: var(--content-font-color);
}

.content {
	width: calc(100% - 17px);
	padding: 0.75em;
	background-color: var(--content-background-color);
}

.ListHeader {
	display: flex;
	margin-left: 6px;
}

.filterInput {
	font-family: var(--font-family);
	-webkit-appearance: none;
	color: var(--dialog-input-font-color);
	text-align: left;
	font-size: var(--dialog-input-font-size);
	font-weight: var(--dialog-input-font-weight);
	vertical-align: middle;
	background-color: transparent;
	width: 163px;
	height: 33px;
	max-width: 100%;
	padding: 3px 10px 3px 15px;
	border: 1px solid var(--dialog-input-border-color);
	box-sizing: border-box;
	transition: 0.2s ease-in;
}

input {
	outline-color: transparent;
}

.filterInput:focus {
	box-shadow: 0 0 5px rgba 81, 203, 238, 1;
	border: 1px solid var(--dialog-input-border-focus-color);
	outline: none;
}

.ff-search {
	text-align: center;
	align-self: center;
	position: relative;
	right: 21px;
	width: 15px;
	height: 15px;
}

.appContainer {
	display: flex;
	flex-wrap: wrap;
}

img {
	user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.appContainer .appItem {
	display: flex;
	flex-direction: column;
	margin: 8px;
	width: 170px;
	height: 104px;
	background-color: var(--content-card-background-color);
}

.appHeader {
	margin-top: 9px;
	display: flex;
	flex: 1;
	padding: 4px;
	cursor: pointer;
}

.logo {
	margin-right: 11px;
	margin-left: 11px;
	width: 36px;
	height: 36px;
	background-size: 36px 36px;
}

.iconContainer {
	margin-right: 11px;
	margin-left: 11px;
	width: 36px;
	min-width: 36px;
	height: 36px;
	background-color: var(--content-card-icon-background-color);
	display: flex;
	align-items: center;
}

.icon {
	font-size: var(--content-card-icon-font-size);
	width: 100%;
	color: var(--content-font-color);
	text-align: center;
	vertical-align: middle;
	align-self: center;
	padding-top: 3px;
}

.titleContainer {
	display: flex;
	flex: 1;
	flex-direction: column;
}

.titleContainer .title {
	width: 100%;
	max-height: 14px;
	font-size: var(--content-card-title-font-size);
	font-weight: var(--content-nav-header-font-weight);
	font-stretch: normal;
	letter-spacing: normal;
	text-align: left;
	color: var(--content-font-color);
	word-break: break-word;
	padding-right: 7px;
	line-height: 1;
}

.titleContainer .vendor {
	width: 39px;
	height: 16px;
	font-size: var(--content-component-list-font-size);
	font-weight: var(--content-font-weight);
	font-style: italic;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	color: var(--content-font-color);
}

.appItem .containerFooter {
	display: flex;
	margin-bottom: 5px;
}

.hide {
	display: none;
}

.containerFooter .footerLeft {
	flex: 1;
}

.containerFooter .footerRight {
	margin-right: 15px;
}

.footerRight .openButton {
	cursor: pointer;
	align-self: flex-end;
	background-color: transparent;
	border: 1px solid var(--button-neutral-border-color);
	font-size: 12px;
	color: var(--content-font-color);
	text-align: center;
	padding: 5px 10px 5px 10px;
	width: 49px;
	height: 16px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
}

.containerItem {
	flex: 1;
	width: 100%;
	overflow-y: auto;
}

.AppDetailsContainer {
	margin-top: 19px;
	margin-left: 28px;
	margin-right: 28px;
}

.ff-arrow-back {
	cursor: pointer;
	font-size: var(--content-back-font-size);
	font-weight: var(--content-font-weight);
	text-align: left;
	color: var(--content-font-color);
	margin-bottom: 21px;
}

.detailsHeader {
	display: flex;
	flex-direction: row;
}

.detailsHeader .image {
	width: 36px;
	height: 36px;
	margin-right: 13px;
}

.detailsHeader .button {
	cursor: pointer;
	align-self: flex-end;
	background-color: transparent;
	border: 1px solid var(--button-neutral-border-color);
	font-size: 12px;
	color: var(--content-font-color);
	text-align: center;
	padding: 5px 10px 5px 10px;
	width: 49px;
	height: 16px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
}

::-webkit-scrollbar-track {
	border-radius: 3px;
	background-color: transparent;
}

::-webkit-scrollbar {
	width: 9px;
	background-color: transparent;
	border-radius: 3px;
}

::-webkit-scrollbar-thumb {
	cursor: pointer;
	border-radius: 9px;
	background-color: var(--scrollbar-color);
}

/* Special tweaks for uncentered icons */
.ff-chart-pie {
	font-size: 22px;
	padding-top: 5px;
}

.ff-chart-simple,
.ff-chart-advanced,
.ff-chart-alt-1,
.ff-chart-alt-2,
.ff-insiders-2,
.ff-document-2 {
	padding-top: 4px;
}
