/* The Finsemble _colorPalette controls your primary theming options throughout the application. */
/* Within this document, you can modify each of these SASS variables, which are distributed throughout the subsequent .scss files */

/* ~~ Color Glossary ~~ */
/* Default Finsemble Colors */

/* blue: #039BFF; */
/* dark background: #1C2A36; */
/* white: #FFFFFF; */
/* dark blue: #133F7C; */


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


/* Need to modify a single instance of a color within the app? */
/* Option 1: Search the src/components/sass folder by a specific SCSS $variable */
/* Option 2: Search the src/components/sass fodler by the HTML/CSS .class */
/* Note: By editing the individual .scss files, this could hinder _colorPalette from managing your theme. */


$active-header-text-color: #fff;

$primary-accent-color: #039bff; /* The Primary-Accent-Color controls button colors on hover, the border of toolbar buttons on hover, and menu header text color. It also controls the icon color for buttons and apps. */

$scrim-overlay: rgba(32,104,195, .93); /* Scrim Overlay is used as for the background in the drag-to-share overlay. */

$scrim-negative-overlay: rgba(150,10,5, .93); /* Scrim Negative Overlay is used as for the background in the "unavailable" drag-to-share overlay. */

$secondary-accent-color: #133F7C; /* Secondary-Accent-Color is used for toolbar buttons and the component overlay when resizing grouped windows. */



$toolbar-background-color: #1C2A36; /* This effects the main toolbar background color. */

$toolbar-primary-font-color: #FFF; /* Main toolbar text color. Default is white on dark backgrounds. Switch to #000 for light colors in $toolbar-background-color. */



$active-header-background-color: #133F7C; /* This effects the active component header background and border colors. */

$window-header-background-color: #233958; /* This effects the default component header background colors. */

$window-frame-inactive-color: $window-header-background-color; /* This effects the dialog background color as well as the border for inactive windows. */



$light-hover-accent: #184C7A; /* This effects the active component header button on hover. */

$inactive-header-button-hover: #133F7C; /* This effects the inactive component header button on hover. */

$negative-action-color: #EF1436; /* This effects the component header's close button on hover. */

$highlighted-inactive-window-button: #115FCC; /* This effects a highlighted icon background within inactive window headers. Most common case is the highlighted docking confirmation. */


/* General Typography  */

$primary-hover-font-color: #FFF;   /* This effects the toolbar pimary button text color. */

$secondary-hover-font-color: #FFF; /* This effects the toolbar secondary button text color. */

$header-text-color: rgba(255,255,255,0.85);  /* This effects the inactive component header text color. Opacity is used for improved visibility of the active component. */

$header-colorbutton-hover-icon: #FFF; /* This effects the component header icon color on hover. */

$component-font-color: rgb(100%, 54.9%, 0%); /* This effects the menu button text color on hover. Default is the primary accent color. */

$workspace-icon-color: #FFD803; /* This controls workspace icon color when pinned in the toolbar. */

/* Other Icons: */
/* Component and App Icons are either designated SVG's or will have the $pimary-accent-color variable applied by default */
/* If you wish to change this, please see _toolbar.scss line 100 */