/* The Finsemble _colorPalette controls your primary theming options throughout the application. */
/* Within this document, you can modify each of these SASS variables, which are distributed throughout the subsequent .scss files */

/* ~~ Color Glossary ~~ */
/* Default Finsemble Colors */

/* blue: #039BFF; */
/* dark background: #1C2A36; */
/* white: #FFFFFF; */
/* dark blue: #1D4970; */


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


/* Need to modify a single instance of a color within the app? */
/* Option 1: Search the src/components/sass folder by a specific SCSS $variable */
/* Option 2: Search the src/components/sass fodler by the HTML/CSS .class */
/* Note: By editing the individual .scss files, this could hinder _colorPalette from managing your theme. */



$primary-accent-color: #039bff; /* The Primary-Accent-Color controls several icons, buttons, and some typography. This is the main brand color. */
$primary-accent-color-opaque: rgba(3, 155, 255, 0.75); /* Opaque Primary-Accent-Color for drag-to-share overlay */
$secondary-accent-color: #1D4970; /* Secondary-Accent-Color. This is used for background elements and toolbars. */


$toolbar-background-color: #1C2A36; /* Main Toolbar Background Color */
$toolbar-primary-font-color: #FFF; /* Main Toolbar Text Color. Default is white on dark backgrounds. */


$window-header-background-color: #ECF0F1; /* Default Component Header Background Colors */
$active-header-background-color: #1D4970; /* Active Component Header Background Colors */
$window-frame-inactive-color: $window-header-background-color;


$light-hover-accent: #184C7A; /* Active Component Header Button Hover */
$inactive-header-button-hover: #bdc3c7; /* Inactive Component Header Button Hover */
$negative-action-color: #EF1436; /* Component Header Close Button Hover */

/* General Typography  */
$primary-hover-font-color: #FFF;   /* Toolbar .pimary-hover Text Color */
$secondary-hover-font-color: #FFF; /* Toolbar .secondary-hover Text Color */
$header-text-color: #000;  /* Component Header Text Color */
$header-colorbutton-hover-icon: #FFF; /* Component Header Button-Hover Icon Color */
$component-font-color: rgb(100%, 54.9%, 0%);


$workspace-icon-color: #FFD803; /* Workspace Icons and Chat Notifications */

/* Other Icons: */
/* Component and App Icons are either designated SVG's or will have the $pimary-accent-color variable applied by default */
/* If you wish to change this, please see _toolbar.scss line 100 */