@import '_globals';
@import '_scrollbars';
@import '_variablesMenus';
body.menu {
	margin:0px;
	font-family: 'Roboto';
	font-weight:300;
	overflow-y:hidden;
	overflow-x:hidden;
	height:100%;
	-webkit-user-select: none;
	background-color: $menu-background-color;
}

.menu-header {
	display:flex;
	flex-direction: row;
}
.menu-section-label {
	padding:10px 0px 10px 20px;
	color:$primary-accent-color;
	text-transform: uppercase;
	font-weight: 700;
	font-family: Roboto Condensed;
	width:100%;
}

.menu {
	background:$menu-primary-background-color;
	color: $menu-primary-font-color;
}

.menu .menu-section {
	overflow-x: hidden;
	overflow-y: auto;
	list-style-type: none;
	width:100%;
	padding-left:0;
	margin-top:0px;
	margin-bottom:0px;
}
.menu-secondary {
	background: $menu-secondary-background-color;
	padding-bottom:10px;
	padding-top: 10px;
}

.menu-primary .menu-item:hover {
	background: $menu-primary-hover-color;
}

.menu-secondary .menu-item:hover {
	background: $menu-secondary-hover-color;
}

.menu-item {
	display:flex;
	flex-direction:row;
	padding-left: 20px;
	padding-right: 10px;
	cursor:pointer;
}

.menu-item-function {
	padding: 6px 0px 6px 20px;
}

.menu-item-label {
	align-self: flex-start;
	white-space: nowrap;
	overflow:hidden;
	text-overflow: ellipsis;
	padding: 8px 0px;
	height:100%;
	flex: .75;
}
.menu-item-label-fullwidth {
	flex: 1;
}
.menu-item-actions {
	align-self: center;
	display:flex;
	justify-content: flex-end;
	flex: .25;
}

.menu-item-action {
	display:flex;
	padding: 0em .15em;
}

.ff-pin, .ff-delete {
	margin-top: 1px;
	padding-top: 5px;
	width: 25px;
	text-align: center;
	border: 1px solid transparent;
  }

.ff-pin:hover {
	color:black;
	width: 25px;
	border: 1px solid $primary-accent-color;
	border-radius: 4px;
}

.finsemble-item-pinned {
	color: white;
	width: 25px;
	background-color: $primary-accent-color;
//	border: 1px solid transparent;
	border-radius: 4px;
}

.finsemble-item-pinned:hover {
	color: white;
	width:25px;
	background-color: #0287DE;
//	border: 1px solid transparent;
	border-radius: 4px;
}

.ff-delete:hover {
	color: white;
	background-color: #EE5C5C;
	border-radius: 4px;
}

/*
.app-launcher-pinned:hover {
	color: $menu-primary-font-color;
}
*/

.ff-new-workspace, .ff-save-1, .ff-saveas-1, .ff-settings, .ff-home {
	padding-right: 7px;
	margin-top: 2px;
}