.toolbar-wrap {
	background-color: $toolbar-background-color;    
	color: $toolbar-primary-font-color;
	text-align: center;
	display:flex;
	height:100%;
	flex-direction:column;
	justify-content: space-around;  
}

.toolbar-icon{
	padding-right:10px;
	padding-left:10px;
}

.toolbar-row {
	display:flex;
	flex-direction: row;
	height:40px;
	width:100%; 
	position:fixed;
	top:0;
}

.toolbar-row-left {      
	align-items:center;
	align-self: center;
	display:flex;
	height:100%;
}

.toolbar-row-center {      
	align-items: center;
	display:flex;    
}

.toolbar-row-right {  
	display: flex;    
	margin-left:auto;
	align-items:center;
	align-self: center;
}

.pinned-workspace-icon {
	color: $tertiary-accent-color;
}

.toolbar-brand-logo {
	width: $brand-logo-width;
	height: $brand-logo-height;
	margin: $brand-logo-margin;
	background: url($brand-logo-url);
	background-size: 100% 100%;
}

.primary-hover:hover {
	background-color:$primary-accent-color;
	color:$primary-hover-font-color;
	cursor:pointer;
}
.secondary-hover {
	border:1px solid transparent;
}
.secondary-hover:hover {
	background: $secondary-accent-color;
	color:$secondary-hover-font-color;
	border: 1px solid $primary-accent-color;
	cursor:pointer;
}
