.toolbar-wrap {
	background-color: $toolbar-background-color;
	color: $toolbar-primary-font-color;
	text-align: center;
	display:flex;
	height:100%;
	flex-direction:column;
	justify-content: space-around;
}

.toolbar-icon{
	padding-right:10px;
	padding-left:10px;
}

.toolbar-row {
	display:flex;
	flex-direction: row;
	height:40px;
	width:100%;
	position:fixed;
	top:0;
}

.toolbar-row-left {
	align-items:center;
	align-self: center;
	display:flex;
	height:100%;
}

.toolbar-row-center {
	align-items: center;
	display:flex;
}

.toolbar-row-right {
	display: flex;
	margin-left:auto;
	align-items:center;
	align-self: center;
	height: 100%;
}

.ff-company:before, .ff-chart-pie:before, .ff-chart-alt-2, .ff-chart-simple, .ff-chart-advanced .ff-chart-alt-1:before {
	font-size: 24px;
}

.pinned-workspace-icon {
	color: $workspace-icon-color;
}

.toolbar-brand-logo {
	width: $brand-logo-width;
	height: $brand-logo-height;
	margin: $brand-logo-margin;
	background: url($brand-logo-url);
	background-size: 100% 100%;
}

.primary-hover:hover {
	background-color:$secondary-accent-color;
	color:$primary-hover-font-color;
	cursor:pointer;
}

.primary-hover.active {
	background-color:$primary-accent-color;
	color:$primary-hover-font-color;
}

.primary-hover.active:hover {
	background-color:$toolbar-background-color;
	color:$toolbar-primary-font-color;
	border: 1px solid $primary-accent-color;
	transition: background .1s ease;
	cursor:pointer;
}
.secondary-hover {
	border:1px solid transparent;
}
.secondary-hover:hover {
	background: $secondary-accent-color;
	color:$secondary-hover-font-color;
	transition: background .1s ease;
	border: 1px solid $light-hover-accent;
	cursor:pointer;
}

.menu-icon {
  width: 30px !important;
  height: 30px; }

.divider:before {
  height: 20px;
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  content: '';
  margin: 0 .25em 0 .25em; }

.pinned-icon {
	color: $primary-accent-color;
}