$menu-primary-font-color: black;
$menu-primary-background-color: #fff;
$menu-primary-hover-color: #f6f6f6;
$menu-secondary-background-color: #f6f6f6;
$menu-secondary-hover-color: #eeeeee;
$menu-background-color: white;