$toolbar-primary-font-color: #fff;
$toolbar-background-color: #f6f6f6;
$component-font-color: #4495D1;
$brand-logo-width: 25px;
$brand-logo-height: 27px;
$brand-logo-margin: 4px 14px;
$brand-logo-url: '../../assets/img/finsembleDarkBG_Solo@1.5x.png';