@import '_globals';

.cq-drag {
  cursor: -webkit-grab;	
  -webkit-app-region: drag;
}

.cq-drag-area:active{
  cursor: -webkit-grabbing;
}

.fsbl-window-header-bar {
    text-align: center;
    display: flex;
    height: 32px;
    position: fixed;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    background: $window-header-color;
    border-bottom: 1px solid $window-frame-inactive-color;
    width: 100%;
    z-index: 2147483646;  
    top:0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: white;
}

.fsbl-window-control-left {  
 // margin-right:auto;
  height:100%;
  flex:.33;
  margin-left:2px;
  align-content: center;
  align-items:center;
  justify-content: flex-start;    
  display:flex;    
 

}

.fsbl-window-control-center {    
  height:100%;
  flex:.33;
  align-content: center;
  display:flex;    
  align-items: center;
  justify-content:center;
  flex:1;
  width:100%;
}

.fsbl-window-control-right {  
  margin-right:2px;  
  flex:.33;
  height:100%;
  align-content: center;
  display:flex;    
  justify-content: flex-end;
}

.fsbl-window-manager-icon {
  color:white;
  font-size:15px;
  width:21px;
  padding: 0px 6px;
  height: 100%;
  display: flex;
  align-items: center; 
  justify-content: center;
}

.fsbl-window-minimize  {
  align-items:flex-end;
}

.fsbl-window-manager-icon:hover {
  background-color: $primary-accent-color;
  cursor:pointer;
}
/* So it sits over the border*/
.fsbl-window-close {
  margin-right:-1px;
}
.fsbl-window-close:hover  {
  background-color: $negative-action-color;
}

.linker-groups {
    height: 100%;
    display:flex;
    flex-direction: row;
    align-items: center;
}
.linker-group {
   width: 5px;
   height:18px;
   margin-left: 4px;
   border-radius: 2px; 
}
.ciq-day .fsbl-window-manager-icon {
	color:black;
}

.ciq-day .fsbl-window-manager-icon :hover {
  background-color: #2C2E2F; }

.fsbl-linker{
  cursor: pointer;
  display:flex;  
  height:100%;
/* So it sits over the border*/
  margin-left:-1px;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.fsbl-linker:hover{
  background: $primary-accent-color;
  transition: background .3s ease;
}
