body {
	margin: 0px;
	font-family: Open Sans Condensed, sans-serif;
	font-weight: 300;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: .1em;
	margin: 0px;
	background: #18252e;
	color: #FFFFFF
}

section {
	display: flex;
	flex-direction: row;
	padding: 10px;
}

section > field {
	width:30%;
}

section > owed, section > account {
	display: inline-block;
	padding: 0px 10px;
	border-bottom: solid gray 1px;
	margin: 0px 10px;
	width: 70%;
}