
body {
	margin: 0;
	border: 0;
	font-size: var(--menu-font-size);
	font-weight: var(--font-weight);
	overflow: hidden;
}

.menuContainer {
	width: 290px;
	padding: 0;
	height: 234px;
	overflow: hidden;
	display: flex;
	flex-direction: row;
}

.linkerContainer {
	width: 133px;
	margin: 0;
	display: flex;
	flex-direction: column;
}

.directionContainer {
	width: 157px;
	display: flex;
	flex-direction: column;
}

.directionTitle {
	width: 157px;
	height: 42px;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
    align-items: center;
	border-bottom: #FFFFFF 1px solid;
}

.directionWrapper {
	height: 64px;
	width: 157px;
	padding: 0;
	margin: 0;

}

.directionIcon {
	height: 100%;
	width: 100%;
	margin: 0;
	display: flex;
	justify-content: center;
    align-items: center;
	cursor: pointer;
	user-select: none;
	font-size: 14px;
}

.activeDirection {
	background-color: #5c5c5c;
}