.appMarket {
	background-color: var(--catalog-background-color);
	color: var(--catalog-font-color);
	/* background-image: linear-gradient(to top, rgb(60, 76, 88), rgb(48, 61, 71)); */
	font-family: Roboto;
	font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
	height: 100%;
	margin-left: 0;
	margin-right: 0;
}

.appMarket .market-content {
	position: relative;
}

::-webkit-scrollbar-track {
    border-radius: 3px;
    background-color: transparent;
}

::-webkit-scrollbar-track-piece {
    display: none;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
	border-radius: 3px;
	display: none;
}

::-webkit-scrollbar-thumb {
    cursor: pointer;
    border-radius: 9px;
    background-color: var(--scrollbar-color);
}

.market_content {
	padding-bottom: 25px;
	font-family: Roboto;
}

.hero-main {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 10px;
}

.hero_selected_content {
	width: 488px;
	height: 174px;
	border: solid 1px var(--catalog-hero-border-color);
	background-color: var(--catalog-hero-background-color);
	cursor: pointer;
	padding: 10px;
	user-select: none;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.selected-content-title {
	width: 100%;
	font-size: 20px;
	font-weight: var(--primary-font-weight);
	color: var(--catalog-font-color);
	padding: 0 5px;
	margin-bottom: 10px;
}

.selected-content-message {
	width: 477px;
	height: 130px;
	font-size: 14px;
	font-weight: var(--primary-font-weight);
	color: var(--catalog-font-color);
	text-overflow: clip;
	overflow: hidden;
	white-space: normal;
	padding: 0 5px;
}

.paginator {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.pagination-oval {
	width: 6px;
	height: 6px;
	border: solid 1px var(--catalog-pagination-dots-color);
	padding: 1px;
	margin: 3px;
	border-radius: 5px;
	cursor: pointer;
}

.pagination-oval.active {
	background-color: var(--catalog-pagination-dots-color);
}

.ff-chevron-right, .ff-chevron-left {
	color: var(--catalog-font-color);
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 36px;
	cursor: pointer;
}

.ff-chevron-left.disabled, .ff-chevron-right.disabled {
	opacity: 0.4;
	cursor: not-allowed;
}

.app-card {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 120px;
	height: 180px;
	box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.25);
	background-color: var(--catalog-card-background-color);
	user-select:none;
	cursor: pointer;
	position: relative;
}

.app-card .app-image {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100px;
	height: 100px;
	user-select: none;
	margin: 10px 10px 6px 10px;
	position: relative;
}

.app-card .app-images.entitled {
	opacity: 0.4;
}

.app-card .app-title {
	width: 92%;
	height: 19px;
	font-size: 14px;
	font-weight: var(--primary-font-weight);
	color: var(--catalog-font-color);
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	padding: 5px 0px 5px 5px;
}

.app-card .app-title.highlighted {
	text-decoration: underline;
}

.app-card .app-title.entitled {
	opacity: 0.4;
}

.app-card .footer {
	width: 89px;
	height: 26px;
	font-size: 10px;
	font-weight: var(--secondary-font-weight);
	color: var(--catalog-font-color);
	padding-left: 6px;
	overflow-y: scroll;
}

.app-card .footer .app-tags.entitled {
	opacity: 0.4;
}

.app-card .footer .app-tags .tag-names {
	padding-left: 5px;
}

.app-card .footer .app-tags .tag-name:hover {
	cursor: pointer;
	text-decoration: underline;
}

.app-card .ff-check-circle {
	display: none;
	position: absolute;
	left: 15px;
	top: 15px;
	z-index: 1;
	cursor: pointer;
}

.app-card .ff-check-circle.faded {
	display: block;
	color: var(--catalog-card-checkmark-unselected-color);
}

.app-card .ff-check-circle.highlighted {
	display: block;
	color: var(--catalog-card-checkmark-selected-color);
}

.app-catalog {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.carousel-main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 14px;
}

.carousel-main .carousel-header .carousel-title {
	width: 90px;
	height: 19px;
	font-size: 14px;
	font-weight: var(--tertiary-font-weight);
	color: var(--catalog-section-header-font-color);
	cursor: pointer;
	user-select: none;
}

.carousel-main .carousel-header .carousel-title.highlight {
	text-decoration: underline;
}

.carousel-main .carousel-content {
	display: flex !important;
	flex-direction: row !important;
	justify-content: space-between !important;
}

.carousel-main .carousel-header .see-more {
	width: 67px;
  	height: 23px;
	background-color: var(--button-affirmative-background-color);
	border: none;
	font-size: 10px;
	font-weight: var(--secondary-font-weight);
	color: var(--catalog-font-color);
	user-select: none;
	outline:none;
	cursor: pointer;
}

.carousel-main .carousel-header .see-more .button-label {
	width: 43px;
	height: 13px;
}

.carousel-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 6px;
	padding: 0px 46px;
}

.carousel-header .see-more {
	float: right;
}

.carousel-header .carousel-title {
	float: left;
}

.search-main .search-action-items {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 92%;
}

.search-main .button-label {
	padding: 0 5px;
}

.ff-search {
    padding: 0 10px 0 5px;
}

.search-main {
	margin: 10px 15px;
}

.search-main .ff-search {
	color: var(--catalog-font-color);
}

.search-input-container {
	display: flex;
    width: 100%;
}

.search-main .search-input {
	width: 100%;
	color: var(--catalog-font-color);
	height: 17px;
	background: none;
	border: 0;
	border-bottom: solid 1px var(--catalog-search-border-color);
	font-size: 14px;
	transition: .2s ease-in;
}

@keyframes fadeOut {
	0% {opacity: 0.9;}
	25% {opacity: 0.7;}
	50% {opacity: 0.5;}
	75% {opacity: 0.2;}
	100% {opacity: 0; visibility: hidden;}
}

@keyframes fadeIn {
	0% {opacity: 0.2;}
	25% {opacity: 0.3;}
	50% {opacity: 0.5;}
	75% {opacity: 0.7;}
	100% {opacity: 1;}
}

.search-main .toast-content {
	display: flex;
	flex-direction: row;
	justify-content: center;
	visibility: visible;
	width: 166px;
	height: 25px;
	font-size: 12px;
	font-weight: var(--secondary-font-weight);
	text-align: center;
	color: var(--catalog-font-color);
	background-color: rgba(60, 76, 88, 1.0);
	z-index: 99;
	left: 0;
	right: 0;
	margin: auto;
	position: absolute;
	animation-name: fadeIn;
	animation-duration: 0.5s;
	cursor: default;
	pointer-events: none;
}

.search-main .toast-content.success {
	border: 3px solid var(--catalog-card-checkmark-selected-color);
}

.search-main .toast-content.error {
	border: 3px solid var(--secondary-negative-color);
}

.search-main .toast-content.not-shown {
	opacity: 0;
	animation-name: fadeOut;
	animation-duration: 2s;
}

.search-main .toast-content .toast {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.search-main .toast-content .ff-check-mark {
	color: var(--catalog-card-checkmark-selected-color);
}

.search-main .toast-content .ff-close {
	color: var(--secondary-negative-color);
}

.search-main .search-input:focus {
	border-bottom: 1px solid var(--catalog-search-active-border-color);
	outline: none;
}

.search-main .search-back {
	border: none;
	color: var(--catalog-font-color);
	background-color: inherit;
	cursor: pointer;
	font-size: 12px;
	font-weight: var(--primary-font-weight);
	user-select: none;
}

.search-main .tag-selector {
	padding-left: 5px;
	user-select: none;
}

.search-main .tag-selector .tag-selector-label {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 51px;
	height: 17px;
	border-radius: 2px;
	background-color: var(--tag-backgrond-color);
	font-size: 10px;
	font-weight: var(--secondary-font-weight);
	color: var(--catalog-font-color);
	cursor: pointer;
}

.search-main .tag-selector .tag-selector-label .ff-tag {
	width: 10px;
	height: 10px;
}

.search-main .tag-selector .tag-selector-label .label-text {
	width: 22px;
	height: 13px;
	padding-left: 5px;
}

.search-main .tag-selector .tag-selector-content {
	display: flex;
	flex-direction: column;
	width: 132px;
	height: 214px;
	border-radius: 3px;
	background-color: var(--tag-backgrond-color);
	text-overflow: ellipsis;
	overflow-y: auto;
	z-index: 1;
	position: absolute;
}

.search-main .tag-selector .tag-selector-content .tag-selector-item {
	width: 103px;
	height: 19px;
	font-size: 11px;
	color: var(--catalog-font-color);
	align-self: center;
}

.search-main .tag-selector .tag-selector-content.hidden {
	display: none;
}

.app-results .app-results-no-results {
	height: 21px;
	font-size: 16px;
	font-weight: var(--primary-font-weight);
	text-align: center;
	color: var(--catalog-font-color);
	user-select: none;
	display: flex;
	justify-content: center;
	cursor: default;
}

.label-bar {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
	margin-top: 8px;
}

.app-results {
	padding: 0 32px;
	display: flex;
	justify-content: center;
}

.app-showcase {
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-family: Roboto;
}

.app-showcase .app-warning {
	display: flex;
	align-self: center;
	height: 16px;
	font-size: 12px;
	font-weight: var(--tertiary-font-weight);
	letter-spacing: normal;
	color: var(--secondary-negative-color);
	margin-bottom: 8px
}

.app-showcase .ff-alert {
	font-size: 14px;
	display: flex;
}

.app-showcase .app-warning-wrapper {
	display: flex;
	align-items: center;
}

.app-showcase .app-warning .app-warning-text {
	padding: 0 5px;
}

.app-showcase .header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 5px 0;
	margin: 0 49px;
}

.app-showcase .header .icon-title-container {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.app-showcase .header .header-icon {
	width: 31px;
	height: 31px;
	margin-right: 8px;
	user-select: none;
}

.app-showcase .header .appName {
	padding-right: 12px;
  	font-size: 14px;
  	font-weight: var(--primary-font-weight);
	color: var(--catalog-font-color);
}

.app-showcase .header .action-button-container {
	display: flex;
	flex-direction: row;
	font-size: 12px;
	font-weight: var(--secondary-font-weight);
	color: var(--catalog-font-color);
}

.app-showcase .header .action-button-container .remove-button {
	height: 16px;
	padding: 5px 0;
	cursor: pointer;
}

.app-showcase .header .action-button {
	width: 83px;
	height: 30px;
	margin-left: 5px;
	background-color: var(--blue6);
	border: none;
	display: flex;
	flex-direction: column;
    justify-content: center;
	align-items: center;
	user-select: none;
	outline: none;
	transition: .2s ease-in;
	cursor: pointer;
}

.action-button .ff-plus {
	margin-top: 3px;
    padding-right: 2px;
}

.app-showcase .header .action-button.disabled {
	background-color: var(--catalog-disabled-button-background-color);
}

.app-showcase .header .action-button.remove {
	background-color: var(--red6);
}

.app-showcase .header .action-button.open:hover {
	background-color: var(--blue7);
}

.app-showcase .header .action-button.remove:hover {
	background-color: var(--red7);
}

.remove-button {
  	font-size: 12px;
  	font-weight: var(--primary-font-weight);
	color: var(--catalog-font-color);
	font-family: Roboto;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	cursor: pointer;
	outline: none;
}

.app-showcase .header .action-button-label {
	display: flex;
	align-items: center;
	width: 100%;
	height: 16px;
	font-size: 12px;
	font-weight: var(--primary-font-weight);
	font-family: Roboto;
	text-align: center;
	color: var(--catalog-font-color);
	padding-left: 5px;
}

.app-showcase .image-carousel-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 5px 0;
	user-select: none;
}

.app-showcase .image-carousel-image {
	padding: 5px 0;
	height: 125px;
	width: 125px;
}

.app-showcase .app-notes {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
  	font-size: 12px;
	padding: 5px 0;
	margin: 0 28px 10px 28px;
}

.app-notes p {
	margin: 0;
}

.app-showcase a {
	color: var(--blue2);
}

.app-showcase a:visited {
	color: var(--blue5);
}

.app-showcase .app-notes .developer-content {
	align-self: flex-start;
	color: var(--catalog-font-color);
	padding-left: 5px;
}

.app-showcase .showcase-label {
	display: flex;
	width: 100%;
	height: 15px;
	font-weight: var(--tertiary-font-weight);
	font-size: 14px;
	color: var(--catalog-section-header-font-color);
	padding-bottom: 5px;
}

.app-showcase .description-content {
	width: 534px;
	color: var(--catalog-font-color);
	padding-left: 5px;
}

.app-showcase .release-notes-content {
	width: 540px;
	color: var(--catalog-font-color);
	padding-left: 5px;
}

.app-showcase .version-content {
	color: var(--catalog-font-color);
	width: 50%;
}

.app-showcase .updated-content {
	color: var(--catalog-font-color);
	width: 50%;
}

.app-showcase .support-content {
	color: var(--catalog-font-color);
	width: 50%;
}

.app-showcase .tags-content {
	width: 50%;
}

.app-showcase .dev-notes {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
  	font-size: 12px;
	padding: 5px 0;
	margin-left: 28px;
}

.app-showcase .version {
	width: 80px;
  	height: 15px;
	padding-left: 5px;
}

.app-showcase .updated {
	width: 115px;
	height: 15px;
	color: var(--catalog-font-color);
	padding-left: 5px;
}

.app-showcase .support-content .support {
	color: var(--catalog-font-color);
	padding-right: 8px;
	padding-left: 5px;
}

.app-showcase .tags {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.app-showcase .tag-label {
	width: auto;
  	height: auto;
	border-radius: 2px;
	padding: 3px 5px;
	background-color: var(--slate2);
	margin: 0 4px 4px 0;
	user-select: none;
	cursor: pointer;
}

.app-showcase .tag-label .label-content {
	font-size: 10px;
	padding: 5px;
	color: var(--catalog-font-color);
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
}

.modal-main {
	position: fixed;
	width: 80%;
	height: auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%)
}

.modal.open {
	display: block;
}

.modal.closed {
	display: none;
}

.modal .modal-image {
	display: flex;
	justify-content: center;
	width: 453px;
	height: 311px;
}