/*!
* Copyright 2017 by ChartIQ, Inc.
* All rights reserved.
*/

@import '../../../../../assets/css/_globals.css';

body {
    margin: 0px;
    border: 0;
    font-family: var(--font-family);
    font-size: var(--menu-font-size);
    font-weight: var(--font-weight);
    overflow: hidden;
}

#main {
    padding: 5px;
    background-color: var(--menu-background-color);
}

.linkerContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.channel-wrapper {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    flex-direction: row-reverse;
    align-items: center;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    border-radius: 30px;
}

.channel-wrapper:hover {
    background-color: var(--menu-content-hover-color); 
}

.channel-label {
    padding-left: 4px;
    color: var(--menu-linker-selected-font-color);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.44);
}

.linkerGroup {
    height: 20px;
    width: 20px;
    margin: 4px 12px 4px 8px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.active-linker-group {
    color: var(--menu-linker-selected-font-color);
    font-size: var(--menu-linker-selected-font-size);
    margin: 2px 2px 0px 0px;
}