<!DOCTYPE html>

<html class="groupMask">

<head>
    <script src="../../vendor.bundle.js"></script>
    <title>Group Mask</title>
    <link rel="@chartiq/finsemble-ui/src/assets/css/finsemble.css">
    <link rel="@chartiq/finsemble-ui/src/assets/css/font-finance.css">
</head>

<body>
    <script type="text/javascript">
        var drop = function (e) {
            FSBL.Clients.RouterClient.transmit("tabbingDragEnd", { gotDrop: true });
            FSBL.Clients.WindowClient.stopTilingOrTabbing({
                mousePosition: {
                    x: e.screenX,
                    y: e.screenY
                },
                allowDropOnSelf: true
            });
        };

        var dragOver = function (e) {
            e.preventDefault();
            return false;
        };

        document.addEventListener("drop", drop);
        document.addEventListener("dragover", dragOver);
    </script>
</body>

</html>