@import '../../../../assets/css/_variables.css';
@import '../../../../assets/css/_variablesWhitelabel.css';

body {
    margin: 0px;
    font-family: var(--font-family);
}

.inputAndSelectionDialog-component-class {
    background-color: #ffffff;
}

.content-main-wrapper {
    flex-direction: column;
}

.complex-menu-wrapper {
    display: flex;
    height: 100%;
    overflow: hidden;
    justify-content: flex-start;
}

.complex-menu-left-nav-header-img {
    width: 29px;
    height: 31px;
    margin-right: 15px;
    padding-left: 16px;
    padding-top: 11px;
    padding-bottom: 7px;
}

.complex-menu-content-section, .complex-menu-left-nav {
    display: flex;
}

.complex-menu-left-nav {
    width: 182px;
    font-size: 16px;
    flex-direction: column;
    color: var(--left-nav-font-color);
    background-color: var(--left-nav-background-color);
}

.complex-menu-left-nav-header {
    background-color: var(--left-nav-header-background-color);
    font-weight: 500;
    font-size: 21px;
    margin-bottom: 30px;
    height: 49px;
    display: flex;
    align-items: center;
    align-content: center;
}

.content-section-header {
    width: 100%;
    color: var(--header-font-color);
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}

.Rectangle-10 {
    width: 370px;
    height: 189px;
    border: solid 1px #91c5ff;
}

.content-section-template-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}

.content-section-description-wrapper {
    display: inline;
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #666666;
    width: calc(100% - 40px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.workspace-input-name-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 35px;
}

.content-section-components-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}

.content-section-components-name {
    justify-content: space-between;
    margin-bottom: 3px;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    padding-left: 8px;
    padding-top: 4px;
}

.workspace-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.user-preferences {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.complex-menu-header {
    display: flex;
    justify-content: flex-end;
    padding: 6px 6px 0px 0px;
    font-size: 18px;
}

.ff-close {
    cursor: pointer;
}

.ff-close:hover {
    text-shadow: 1px 1px #d8d8d8;
}

.complex-menu-section-toggle {
    padding: 4px 30px 4px 0px;
    padding-left: 30px;
}

.complex-menu-section-toggle:hover {
    cursor: pointer;
    background-color: var(--section-toggle-hover-background-color);
}

.active-section-toggle {
    background-color: var(--active-section-toggle-background);
}

.workspace-input-row {
    align-items: center;
    justify-content: space-between;
}

.action-buttons-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.complex-menu-content-row {
    flex: 1;
    padding: .75em;
    align-content: flex-start;
}

#UserPreferences-component-wrapper {
    height: 100%;
    width: 100%;
}

.complex-menu-content-section {
    display: flex;
    flex-direction: row;
}

.workspace-section-wrapper {
    display: flex;
    justify-content: space-between;
}

.workspace-list {
    border: 1px solid var(--list-border-color);
    width: 100%;
    height: 210px;
    overflow-y: auto;
    margin-right: 33px;
}

.worksheet-item {
    user-select: none;
    height: 28px;
    padding: 4px 20px;
    display: flex;
    align-items: center;
    border: 1px solid transparent;
}

.worksheet-item > div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    outline-color: transparent;
}

.template-item {
    margin: 0px;
    height: 24px;
    font-size: 15px;
    padding: 0px 0px 0px 10px;
    cursor: pointer;
}

.focused-worksheet-item {
    background-color: var(--active-workspace-background-color);
}

.auto-start-worksheet-item:before {
    content: "";
    width: 5px;
    height: 18px;
    display: inline-block;
    border-radius: 4px;
    margin-left: -15px;
    margin-right: 9px;
    background-color: var(--auto-load-workspace-pill-color);
}

.negative-action-button, .action-button {
    padding: .25em 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: .5em;
    font-size: 15px;
}

.action-button {
    width: 113px;
  /*total height will be 35px, including borders.*/
    height: 33px;
    border: 1px solid var(--action-button-border-color);
}

.action-button:hover {
    cursor: pointer;
    border: solid 1px var(--action-button-hover-border-color);
}

.positive-action-button {
    border: 1px solid var(--positive-action-button-border-color);
}

.positive-action-button:hover {
    border: 1px solid var(--positive-action-button-hover-border-color);
}

.negative-action-button {
    border: 1px solid var(--negative-action-button-border-color);
}

.negative-action-button:hover {
    cursor: pointer;
    border: 1px solid var(--negative-action-button-hover-border-color);
}

.no-top-border {
    border-top: 1px solid transparent;
}

::-webkit-scrollbar-track {
    border-radius: 3px;
    background-color: transparent;
}

::-webkit-scrollbar {
    width: 9px;
    background-color: transparent;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb {
    cursor: pointer;
    border-radius: 9px;
    background-color: var(--scrollbar-color);
}

.content-main-row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.content-main-column {
    display: flex;
    flex-direction: column;
    margin: 8px;
    height: 181px;
    overflow-y: auto;
    user-select: none;
}

.templates-column {
    border: solid 1px var(--column-border-color);
    width: 362px;
}

.components-column {
    border: solid 1px var(--column-border-color);
    width: 153px;
    background-color: #ecf0f1;
}

.ff-info {
    color: #039bff;
    font-size: 15px;
    margin-left: 8px;
    margin-right: 8px;
}

.affirmative-button {
    background-color: var(--affirmative-button-background);
    border: solid 1px black;
    color: white;
}
.affirmative-button:hover {
    background-color: var(--affirmative-button-background);
    border: solid 1px black;
    color: white;
}

.input-field-wrapper {
    display: flex;
    flex-direction: column;
}

.select-worksheet {
    max-width: 100%;
}
.intentResolver-component-class {
    background-color: #2d3436;
}

body.dialog .undefined.dialog {
    background-color: #2d3436;
}

body {
    background-color: #2d3436;
}

.template-list {
    display: flex;
    justify-content: space-between;
}

.intents-wrapper {
    margin: 0 auto;
}

.header-wrapper {
    display: flex;
    text-align: center;
}