<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>launcherTest</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="launcherTest.css?{cachebuster}">
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="launcherTest.js?{cachebuster}"></script>
	<style type="text/css">
		span{
			display: inline-block;
		}
		input {
			width:100px;
		}
		span[col1]{
			width:120px;
			text-align: right;
		}
		span[col2]{
			width:120px;
		}
		span[col3]{
			width:400px;
		}
	</style>
</head>
<body>
<h1>launcherTest</h1>
<span col1>componentType</span>
<span col2><input id="componentType" value="Advanced Chart"></span>
<span col3>Type of component to spawn/open</span><br>

<span col1>monitor</span>
<span col2><input id="monitor"></span>
<span col3>mine*,primary,next,previous,[numeric]</span><br>

<span col1>position</span>
<span col2><input id="position"></span>
<span col3>unclaimed*,available,monitor,relative,virtual</span><br>

<span col1>left</span>
<span col2><input id="left"></span>
<span col3>[numeric],[percent],center,stagger*,adjacent</span><br>

<span col1>top</span>
<span col2><input id="top"></span>
<span col3>[numeric],[percent],center,stagger*,adjacent</span><br>

<span col1>right</span>
<span col2><input id="right"></span>
<span col3>[numeric],[percent],adjacent</span><br>

<span col1>bottom</span>
<span col2><input id="bottom"></span>
<span col3>[numeric],[percent],adjacent</span><br>

<span col1>height</span>
<span col2><input id="height"></span>
<span col3>[numeric],[percent]</span><br>

<span col1>width</span>
<span col2><input id="width"></span>
<span col3>[numeric],[percent]</span><br>

<span col1>ephemeral</span>
<span col2><input id="ephemeral"></span>
<span col3>true,false*</span><br>

<span col1>groupOnSpawn</span>
<span col2><input id="groupOnSpawn"></span>
<span col3>true,false*</span><br>

<span col1>staggerPixels</span>
<span col2><input id="staggerPixels"></span>
<span col3>[numeric]</span><br>

<span col1>claimMonitorSpace</span>
<span col2><input id="claimMonitorSpace"></span>
<span col3>false*,true</span><br>

<span col1>relativeWindow<br>componentType</span>
<span col2><input id="windowIdentifierComponentType"></span>
<span col3>Relative component type</span><br>

<button onclick="spawn()">Spawn Window</button>
<button onclick="showWindow()">Show Window (and spawn if not found)</button>
<button onclick="getMonitorInfo()">Get monitor info</button>
<button onclick="blah()">Blah</button>
<button onclick="getComponentList()">getComponentList</button>
<br>
<div style="width:500px" id="monitorInfoResults"></div>
</body>
</html>

