@import  url('_globals.css');

@import  url('_formElements.css');

body.dialog {
    -webkit-appearance: none;
    overflow: hidden;
    font-family: var(--font-family);
    font-size: 12pt;
    font-weight: var(--dialog-font-weight);
  /* Styling for General Typography */
  /* Always Show Number Input Arrows, Give A Bit Of Space */;
}

body.dialog html:before, body.dialog html:after, body.dialog body:before, body.dialog body:after {
    content: "";
    background: var(--window-frame-inactive-color);
    position: fixed;
    display: block;
    z-index: 2147483647;
}

body.dialog h2 {
    font-weight: 100;
    color: #000;
    font-size: 18pt;
    margin: -5px 0px 20px 0px;
}

body.dialog h3 {
    font-weight: var(--dialog-font-weight);
    color: #000;
    text-align: center;
    font-size: 15pt;
    margin: 35px 0px;
}

body.dialog p {
    margin: 8px 0px;
}

body.dialog .dialog {
    background-color: var(--dialog-background-color);
    padding: var(--dialog-body-padding);
}

body.dialog .dialog-title {
    width: 469px;
    height: 30px;
    font-size: 20px;
    text-align: left;
    color:  var(--dialog-font-color);
    padding: 0px 0px 4px 4px;
}

body.dialog .dialog-question {
    width: 469px;
    font-weight: 500;
    color:  var(--dialog-font-color);
    font-size: 14px;
    margin-bottom: 16px;
    padding-left: 4px;
    text-align: left;
    word-wrap: break-word;
}

body.dialog .button-wrapper {
    display: flex;
    justify-content: flex-end;
}

body.dialog input[type=number]::-webkit-inner-spin-button,
  body.dialog input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
}

body.dialog input::-webkit-outer-spin-button,
  body.dialog input::-webkit-inner-spin-button {
    margin-left: 5px;
}

body.dialog input:focus {
    box-shadow: 0 0 5px rgba 81, 203, 238, 1;
    border: 1px solid var(--primary-accent-color);
    outline: none;
}

body.dialog input {
    -webkit-appearance: none;
    color: var(--dialog-font-color);
    text-align: left;
    font-size: 12pt;
    font-weight: 300;
    vertical-align: middle;
    background-color: #FFF;
    padding-left: 15px;
    width: 100%;
    height: 33px;
    max-width: 100%;
    padding: 3px 10px;
    border: 1px solid #bdd9ff;
    box-sizing: border-box;
    transition: .2s ease-in;
}