.form-group {
    display: flex;
    flex-direction: row;
    margin: 25px 0;
    padding: 0px 20px;
    justify-content: center;
}

.form-group label {
    padding-top: 7px;
    flex: .4;
}

.form-group input, .form-group select {
    flex: .65;
}