/* body {

} */

.notification-wrapper {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    background-color: #1C2A36;
    color: white;
    margin: 6px;
    font-family: 'Roboto';
    cursor: pointer;
    user-select: none;
}

.notification-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 8px 6px 8px;
}

.notification-close {
    align-self: flex-end;
    display: flex;
}

.notification-body {
    display: flex;
    flex-direction: row;
}

.notification-content {
    display: flex;
    flex-direction: column;
    font-size: 13px;
}

.notification-title-wrapper {
    display: flex;
    flex-direction: row;
}

.notification-title {
    font-weight: bold;
    align-self: flex-start;
    display: flex;
    font-size: 13px;
    margin-top: 1px;
}

.notification-description {
    margin: 0px 10px;
}

.notification-logo {
    background: url("../img/Finsemble_Taskbar_Icon.png") #1C2A36 no-repeat;
    background-size: contain;
    margin-right: 6px;
    width: 14px;
}

.ff-close {
    font-size: 10px;
    padding-top: 2px;
    color: #FFFFFF
}

.ff-close:hover {
    color: #EE5C5C;
}