@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
@import url('_colorPalette.css');

:root {
    /* Theme Variables:  Use these variables to make broad-sweeping changes to the colors and fonts. */
    
    /* Font Settings */
    --font-family: 'Roboto', sans-serif;
    --primary-font-color: white;
    --secondary-font-color: black;
    
    --primary-font-weight: 300;
    --secondary-font-weight: 500;
    --tertiary-font-weight: bold;


    /* Color Theme */
    --primary-accent-color: var(--blue6);
    --secondary-accent-color: var(--blue7);
    --tertiary-accent-color: var(--blue1);

    --primary-negative-color: var(--red);
    --secondary-negative-color: var(--red1);
    --tertiary-negative-color: var(--red7);

    --primary-background-color: var(--slate7);
    --secondary-background-color: var(--slate6);
    --tertiary-background-color: var(--slate5);


    /* Component Variables:  Use these variables to make small changes to colors and general appearance. */ 

    /** Toolbar */
    --toolbar-font-color: var(--primary-font-color);
    --toolbar-line-height: 1em;
    --toolbar-font-weight: var(--primary-font-weight);

    --toolbar-height: 39px;
    --toolbar-brand-logo-width: 20px;
    --toolbar-brand-logo-height: 20px;
    --toolbar-background-color: var(--primary-background-color);

    --toolbar-button-hover-color: var(--secondary-accent-color);
    --toolbar-icon-workspace-color: var(--yellow);
    --toolbar-icon-app-color: var(--blue3);
    --toolbar-icon-font-size: 22px;
    
    --toolbar-separator: 1px solid rgba(255, 255, 255, 0.3);

    /* Window Title bar */
    --titleBar-active-font-color: var(--primary-font-color);
    --titleBar-inactive-font-color: var(--gray3); 
    --titleBar-font-size: 14px;
    --titleBar-font-weight: var(--primary-font-weight);

    --titleBar-height: 32px;
    --titleBar-icon-width: 21px;

    --titleBar-background-inactive-color: var(--secondary-background-color);
    --titleBar-background-active-color: var(--tertiary-background-color);

    --titlebar-tab-windowFocused-active-background-color: var(--slate3); /* Specifies the background color of the active tab in the active window. */
    --titlebar-tab-windowFocused-active-border-color: var(--slate2); 
    --titlebar-tab-active-background-color: var(--slate4); /* Specifies the background color of the active tab in an inactive window. */
    --titlebar-tab-active-border-color: var(--slate3);
    --titlebar-tab-inactive-background-color: var(--primary-background-color); /* Inactive tabs are the same color for active and inactive windows. */
    --titlebar-tab-inactive-border-color: var(--slate3);

    --titleBar-button-hover-active-color: var(--primary-accent-color);
    --titleBar-button-hover-inactive-color: var(--secondary-accent-color);
    --titleBar-button-highlight-active-color: var(--primary-accent-color);
    --titleBar-button-highlight-inactive-color: var(--secondary-accent-color);
    --titleBar-button-hover-negative-color: var(--tertiary-negative-color);
    --titleBar-button-hover-linker-group: var(--gray3);

    /* Dialogs */
    --dialog-font-color: var(--primary-font-color);
    --dialog-title-font-size: 20px;
    --dialog-question-font-size: 14px;
    --dialog-font-weight: var(--primary-font-weight);
    --dialog-title-font-weight: var(--primary-font-weight);
    --dialog-question-font-weight: var(--secondary-font-weight);

    --dialog-background-color: var(--primary-background-color);
    
    --dialog-input-font-size: 16px;
    --dialog-input-font-color: var(--secondary-font-color);
    --dialog-input-font-weight: var(--primary-font-weight);
    --dialog-input-background-color: var(--primary-background-color);
    --dialog-input-border-color: var(--gray6);
    --dialog-input-border-focus-color: var(--gray);

    /* Buttons */

    --button-solid-font-color: var(--primary-font-color);
    --button-font-size: 13px;
    --button-small-font-size: 10px;

    --button-positive-background-color: var(--primary-accent-color);
    --button-positive-border-color: var(--blue5);
    --button-positive-border-hover-color: var(--blue2);
    --button-positive-font-weight: var(--tertiary-font-weight);

    --button-neutral-background-color: var(--gray2);
    --button-neutral-border-color: var( --gray6);
    --button-neutral-border-hover-color: var(--gray2);
    --button-neutral-solid-font-color: var(--secondary-font-color);

    --button-negative-background-color: var(--red5);
    --button-negative-border-color: var(--red3);
    --button-negative-border-hover-color: var(--red1);
    
    /* Menus */
    --menu-font-size: 14px;
    --menu-primary-font-color: var(--primary-font-color);

    --menu-background-color: var(--secondary-background-color);
    --menu-primary-background-color: var(--secondary-background-color);
    --menu-primary-hover-color: var(--slate3);
    --menu-secondary-background-color: var(--slate4);
    --menu-secondary-hover-color: var(--slate3);

    --menu-pin-background-color: var(--slate1);
    --menu-pin-background-hover-color: var(--slate2);
    --menu-pin-border-color: var(--slate1);
    --menu-delete-background-color: var(--red1);

    --scrollbar-color: var(--slate1);

    /* Search Menu */
    --search-result-active-item-color: var(--slate3);
    --search-section-max-height: 30px;
    --search-input-height:var(--toolbar-height);
    --search-input-line-height: var(--toolbar-height);

    /* Window Frame*/
    --window-frame-inactive-color: var(--slate);
    /* --window-frame-active-color: var(--window-frame-inactive-color); */

    /* Window styles*/
    --scrim-overlay: var(--secondary-accent-color);
    --scrim-negative-overlay: var(--red7);
    
    /* Complex menus (e.g., Preferences and App Catalog) */
    /* Nav section is the left side of a complex menu */
    --complex-nav-header-background-color: var(--slate);
    --complex-nav-background-color: var(--tertiary-background-color);
    --complex-nav-active-item: var(--slate3);
    --complex-nav-active-item-hover: var(--slate2);
    --complex-nav-font-color: var(--primary-font-color);
    --complex-nav-padding-left: 30px;
    
    /* Content section is the right side of a complex menu.*/
    --complex-content-background-color: var(--secondary-background-color);
    --complex-content-font-color: var(--primary-font-color);
    --complex-content-hint-font-color: var(--gray);
    --complex-content-header-font-color: var(--tertiary-accent-color);

    --complex-content-list-border-color: var(--gray6);
    --complex-content-list-highlighter: var(--slate3);
    --complex-content-list-button-padding: 2px;
    --complex-content-list-item-flagged-color: var(--tertiary-accent-color);
    --complex-content-list-editor-font-color: var(--primary-font-color);
    --complex-content-list-editor-border-color: var(--gray);
    --complex-content-list-editor-highlighted-text: var(--tertiary-accent-color);

    --complex-content-button-fill-color: var(--gray7);
    --complex-content-button-border-color: var(--gray5);
    --complex-content-button-border-hover-color: var(--gray2);
    --complex-content-button-disabled-border-color: var(--gray7);
    --complex-content-button-neutral-border-hover-color: var(--gray);
    --complex-content-button-negative-border-hover-color: var(--red1);

    --complex-content-checkbox-check-color: var(--primary-font-color);
    --complex-content-checkbox-background-color: var(--blue);

    --complex-content-card-background-color: var(--slate4);
    --complex-content-card-logo-background-color: var(--secondary-accent-color);

    /* Notifications */
    --notification-body-background-color: var(--toolbar-background-color);
    --notification-body-font-color: var(--primary-font-color);
    --notification-body-font-family: var(--font-family);
    --notification-logo-width: 14px;
    --notification-title-font-size: 13px;
    --notification-title-font-weight: bold;
    --notification-close-icon-hover-color: var(--secondary-negative-color);
    --notification-description-font-size: 13px;
}

