@import url("https://fonts.googleapis.com/css?family=Roboto");

:root {
    --negative-action-color: #ef1436;
    --font-family: 'Roboto', sans-serif;
    --font-color: #ffffff;
    --primary-accent-color: #039bff;
    --secondary-accent-color: #133f7c;


    /** Dialogs **/
    --dialog-button-background-color: #fafafa;
    --dialog-button-border: 1px solid #EEEEEE;
    --dialog-background-color: #ffffff;
    --dialog-font-color: #000;
    --dialog-font-weight: 300;
    --dialog-body-padding: 20px;
    --fsbl-button-font-color: var(--dialog-font-color);

    /** Menus */
    --menu-font-size: 14px;
    --menu-background-color: #ffffff;
    --menu-primary-font-color: #000000;
    --menu-primary-background-color: var(--menu-background-color);
    --menu-primary-hover-color: #ecf0f1;
    --menu-secondary-background-color: #ecf0f1;
    --menu-secondary-hover-color: #dadfe1;

    /* Complex menus (e.g., ones with a left side-bar) */
    --scrollbar-color: var(--primary-accent-color);
    --left-nav-background-color: #0c3860;
    --left-nav-header-background-color: #30507c;
    --left-nav-font-color: var(--font-color);
    --left-nav-padding-left: 30px;
    --section-toggle-background-color: var(--left-nav-background-color);
    --section-toggle-font-color: var(--font-color);
    --active-section-toggle-background: #2068c3;
    --section-toggle-hover-background-color: var(--left-nav-header-background-color);
    --auto-load-workspace-pill-color: var(--primary-accent-color);
    --header-font-color: var(--primary-accent-color);
    --focused-workspace-background-color: #eeeeee;
    --focused-workspace-border-color: var(--primary-accent-color);
    --list-border-color: #91c5ff;

    --positive-action-button-hover-border-color: #319bfb;
    --negative-action-button-hover-border-color: #d0021b;
    --negative-action-button-border-color: #ee5c5c;
    --content-section-info-font-color: #666666;
    /* content-section is the right side of a complex menu.*/
    --content-section-background-color: #fff;

    /** Toolbar */
    --component-font-color: var(--primary-accent-color);
    --brand-logo-width: 28px;
    --brand-logo-height: 25px;
    --brand-logo-margin: 4px 4px;
    --brand-logo-url: "http://vignette2.wikia.nocookie.net/logopedia/images/6/6f/McDonalds.png/revision/latest?cb=20161217022233";

    --toolbar-background-color: #1c2a36;
    --toolbar-primary-font-color: var(--font-color);
    --light-hover-accent: #184c7a;
    --component-font-color: #ff8c00;
    --workspace-icon-color: #ffd803;
    --primary-hover-font-color: var(--font-color);
    --secondary-hover-font-color: var(--font-color);
    --toolbar-height: 39px;
    --toolbar-button-padding: 0 .4em;
    --toolbar-button-label-font-weight: 300;
    --toolbar-button-label-margin: 8px;

    --pinned-icon-padding-top: 12px;
    --pinned-icon-font-color: #4494d1;
    --pinned-icon-font-size: 26px;
    --finsemble-button-label-padding-top: 4px;

    --toolbar-line-height: 1em;
    --toolbar-font-weight: 300;
    --toolbar-font-icon-font-size: 22px;

    --toolbar-separator: 1px solid rgba(255, 255, 255, 0.3);


    /** Window Title bar */

    --window-header-background-color: #233958;
    --window-header-color: #151f28;
    --window-frame-inactive-color: var(--window-header-background-color);
    --active-header-text-color: var(--font-color);
    --active-header-background-color: var(--secondary-accent-color);
    --header-text-color: var(--font-color);
    --header-colorbutton-hover-icon: var(--font-color);
    --highlighted-inactive-window-button: #115fcc;
    --inactive-header-button-hover: var(--secondary-accent-color);
    --breakpoint-small-window: 299px;
    --breakpoint-very-small-window: 175px;
    --window-header-height: 32px;
    --window-header-font-weight: 300;
    --window-header-font-size: 14px;
    --fsbl-header-center-padding-bottom: 2px;
    --fsbl-icon-width: 21px;
    --linker-group-width: 7px;

    /* Window Frame*/
    --window-frame-inactive-color: #1d4970;
    --window-frame-active-color: var(--active-header-background-color);

    /* Window styles*/
    --scrim-overlay: #2068c3;
    --scrim-negative-overlay: #960a05;

    /* App Launcher */
    --ff-delete-hover-color: var(--negative-action-button-border-color);
    --ff-pin-border-hover-color: var(--primary-accent-color);
    --finsemble-item-pinned-hover-background-color: #0287DE;

    /* App Catalog */
    --app-catalog-icon-container-background-color: #0b408f;
    --app-catalog-button-background-color: #2068c3;
    --app-catalog-button-border:  1px solid #91c5ff;
    --app-catalog-app-item-background-color: #f9f9f9;

    /* User prefs*/
    --workspace-item-editing-font-color: var(--font-color);
    --workspace-editor-font-color: var(--font-color);
    --workspace-editor-selected-text-background-color: #9ad9fd;
    --action-button-border-color: #dddddd;
    --action-button-hover-border-color: #aaaaaa;
    --component-list-border-color: var(--action-button-border-color);
    --positive-action-button-border-color: var(--list-border-color);
    --individual-workspace-action-padding: 0px;
    --user-preferences-ff-delete-hover-color: black;
    --complex-menu-checkbox-checked-color: white;
    --workspace-component-list-font-color: #5a5a5a;


    /* search */
    --search-result-item-color: #000;
    --search-result-active-item-color: #ecf0f1;
    --search-section-max-height: 40px;
    --search-input-height:var(--toolbar-height);
    --search-input-line-height: var(--toolbar-height);
}
