@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url('_theme.css');

:root {
    /* Reoccuring Accents */

    --font-family: 'Roboto', sans-serif;
    --font-color: #ffffff;
    --primary-accent-color: var(--blue6);
    --secondary-accent-color: var(--blue7);
    --negative-accent-color: var(--red);

    /** Toolbar */
    
    --toolbar-height: 29px;
    --brand-logo-width: 20px;
    --brand-logo-height: 20px;
    --brand-logo-margin: 2px 2px;
    /* --brand-logo-url: "http://vignette2.wikia.nocookie.net/logopedia/images/6/6f/McDonalds.png/revision/latest?cb=20161217022233"; */

    --toolbar-background-color: var(--coolGray7);
    --toolbar-primary-font-color: var(--font-color);
    --toolbar-icon-workspace-color: var(--yellow);
    --toolbar-icon-app-color: var(--blue3);

    --toolbar-button-padding: 0 .4em;
    --toolbar-button-label-font-weight: 300;
    --toolbar-button-label-font-size: .75em;
    --toolbar-button-label-margin-top: 6px;
    --toolbar-button-label-padding-top: 1px;

    --toolbar-line-height: 1em;
    --toolbar-font-weight: 300;
    --toolbar-icon-font-size: 22px;

    --toolbar-separator: 1px solid rgba(255, 255, 255, 0.3);

    /* Window Title bar */
    --titleBar-height: 25px;
    --breakpoint-small-window: 299px;
    --breakpoint-very-small-window: 175px;
    --titleBar-center-padding-bottom: 2px;
    --titleBar-icon-width: 21px;
    --titleBar-linker-group-width: 3px;

    --titleBar-background-color: var(--coolGray6);
    --titleBar-background-focus-color: var(--coolGray5);

    --titlebar-tab-windowFocused-active-background-color: var(--coolGray3); /* Specifies the background color of the active tab in the active window. */
    --titlebar-tab-windowFocused-active-border-color: var(--coolGray2); 
    --titlebar-tab-active-background-color: var(--coolGray4); /* Specifies the background color of the active tab in an inactive window. */
    --titlebar-tab-active-border-color: var(--coolGray3);
    --titlebar-tab-inactive-background-color: var(--coolGray7); /* Inactive tabs are the same color for active and inactive windows. */
    --titlebar-tab-inactive-border-color: var(--coolGray3);

    --titleBar-button-hover-active-color: var(--blue6);
    --titleBar-button-hover-inactive-color: var(--blue7);
    --titleBar-button-highlight-active-color: var(--blue6);
    --titleBar-button-highlight-inactive-color: var(--blue7);
    --titleBar-button-hover-linker-group: var(--gray3);

    --titleBar-text-color: var(--font-color);
    --titlebar-text-active-color: var(--font-color);
    --titleBar-text-inactive-color: var(--gray3);
    --titleBar-font-weight: 300;
    --titleBar-font-size: 12px;



    /* Dialogs */
    --dialog-background-color: var(--coolGray7);
    --dialog-font-color: #FFFFFF;
    --dialog-font-weight: 300;
    --dialog-body-padding: 32px;
    --dialog-input-background-color: var(--coolGray7);
    --dialog-input-border-color: var(--gray6);
    --dialog-input-border-focus-color: var(--gray);

    /* Buttons */
    --button-affirmative-fill: var(--blue6);
    --button-affirmative-border: var(--blue5);
    --button-affirmative-border-hover: var(--blue2);
    --button-neutral-fill: var(--gray2);
    --button-neutral-border: var(--gray6);
    --button-neutral-border-hover: var(--gray2);
    --button-negative-fill: var(--red5);
    --button-negative-border: var(--red3);
    --button-negative-border-hover: var(--red1);

    --button-neutral-solid-text: #000000;
    --button-solid-text: #FFFFFF;

    /* Menus */
    --menu-font-size: 14px;
    --menu-background-color: var(--coolGray6);
    --menu-primary-font-color: #FFFFFF;
    --menu-primary-background-color: var(--coolGray6);
    --menu-primary-hover-color: var(--coolGray3);
    --menu-secondary-background-color: var(--coolGray4);
    --menu-secondary-hover-color: var(--coolGray3);

    --menu-pin-background-color: var(--coolGray1);
    --menu-pin-background-hover-color: var(--coolGray2);
    --menu-pin-border-color: var(--coolGray1);
    --menu-delete-background-color: var(--red1);

    --scrollbar-color: var(--coolGray1);

    /* Search Menu */
    --search-result-active-item-color: var(--coolGray3);
    --search-section-max-height: 30px;
    --search-input-height:var(--toolbar-height);
    --search-input-line-height: var(--toolbar-height);

    /* Window Frame*/
    --window-frame-inactive-color: var(--coolGray);
    /* --window-frame-active-color: var(--window-frame-inactive-color); */

    /* Window styles*/
    --scrim-overlay: var(--blue7);
    --scrim-negative-overlay: var(--red7);
    
    /* Complex menus (e.g., Preferences and App Catalog) */
    /* Nav section is the left side of a complex menu */
    --complex-nav-header-background-color: var(--coolGray);
    --complex-nav-background-color: var(--coolGray5);
    --complex-nav-active-item: var(--coolGray3);
    --complex-nav-active-item-hover: var(--coolGray2);
    --complex-nav-font-color: var(--font-color);
    --complex-nav-padding-left: 30px;
    
    /* Content-section is the right side of a complex menu.*/
    --complex-content-background-color: var(--coolGray6);
    --complex-content-font-color: var(--font-color);
    --complex-content-hint-font-color: var(--gray);
    --complex-content-header-font-color: var(--blue1);

    --complex-content-list-border-color: var(--gray6);
    --complex-content-list-highlighter: var(--coolGray3);
    --complex-content-list-button-padding: 2px;
    --complex-content-list-item-flagged-color: var(--blue1);
    --complex-content-list-editor-font-color: var(--font-color);
    --complex-content-list-editor-border-color: var(--gray);
    --complex-content-list-editor-highlighted-text: var(--blue1);

    --complex-content-button-fill-color: var(--gray7);
    --complex-content-button-border-color: var(--gray5);
    --complex-content-button-border-hover-color: var(--gray2);
    --complex-content-button-disabled-border-color: var(--gray7);
    --complex-content-button-neutral-border-hover-color: var(--gray);
    --complex-content-button-negative-border-hover-color: var(--red1);

    --complex-content-checkbox-check-color: #FFFFFF;
    --complex-content-checkbox-background-color: var(--blue);

    --complex-content-card-background-color: var(--coolGray4);
    --complex-content-card-logo-background-color: var(--blue7);
}
