@import  url('_colorPalette.css');

@import  url('_variablesToolbar.css');

@import  url('_variablesMenus.css');

@import  url('_variablesDialogs.css');

@import  url('_variablesWindowTitleBar.css');

@import  url('_variablesWindowFrame.css');


:root {
    /** Dialogs **/
    --dialog-button-background-color: #fafafa;
    --dialog-button-border: 1px solid #EEEEEE;

    /** Menus */
    --menu-primary-font-color: #000000;
    --menu-primary-background-color: #ffffff;
    --menu-primary-hover-color: #ecf0f1;
    --menu-secondary-background-color: #ecf0f1;
    --menu-secondary-hover-color: #dadfe1;
    --menu-background-color: #ffffff;

    /** Toolbar */
    --component-font-color: var(--primary-accent-color);
    --brand-logo-width: 28px;
    --brand-logo-height: 25px;
    --brand-logo-margin: 4px 4px;
    --brand-logo-url: "http://vignette2.wikia.nocookie.net/logopedia/images/6/6f/McDonalds.png/revision/latest?cb=20161217022233";

    /* Window Frame*/
    --window-frame-inactive-color: #1d4970;

    /** Title bar */
    --window-header-color: #151f28;

}
