:root {
    --menu-primary-font-color: #000000;
    --menu-primary-background-color: #ffffff;
    --menu-primary-hover-color: #ecf0f1;
    --menu-secondary-background-color: #ecf0f1;
    --menu-secondary-hover-color: #dadfe1;
    --menu-background-color: #ffffff;
}