@import "./_variables.css";
@import "./_variablesWhitelabel.css";

.cq-drag {
    cursor: -webkit-grab;
    -webkit-app-region: drag;
}

.cq-drag-area:active {
    cursor: -webkit-grabbing;
}

.cq-no-drag {
    -webkit-app-region: no-drag !important;
    position: absolute;
}

.fsbl-tabs-multiple .fsbl-header-right {
    padding-left: 80px; /* leave some space for a user to grab */
}

@media screen and (min-width: 0px) and (max-width: 345px){
    .fsbl-icon.ff-share {
        display: none !important;
    }
    .fsbl-tabs-multiple .fsbl-header-right {
        padding-left: 70px; /* leave some space for a user to grab */
    }

}

@media screen and (min-width: 0px) and (max-width: 310px){
    .fsbl-header-left {
        display: none !important;
    }
    .fsbl-tabs-multiple .fsbl-header-right {
        padding-left: 60px; /* leave some space for a user to grab */
    }
}

@media screen and (min-width: 0px) and (max-width: 280px){
    .fsbl-icon.ff-detached, .fsbl-icon.ff-attached {
        display: none !important;
    }
    .fsbl-tabs-multiple .fsbl-header-right {
        padding-left: 50px; /* leave some space for a user to grab */
    }
}
@media screen and (min-width: 0px) and (max-width: 245px){
    .fsbl-icon.fsbl-maximize {
        display: none !important;
    }
    .fsbl-tabs-multiple .fsbl-header-right {
        padding-left: 40px; /* leave some space for a user to grab */
    }
}
@media screen and (min-width: 0px) and (max-width: 210px){
    .fsbl-icon.fsbl-minimize {
        display: none !important;
    }
    .fsbl-tabs-multiple .fsbl-header-right {
        padding-left: 30px; /* leave some space for a user to grab */
    }
}
.fsbl-header {
    font-family: var(--font-family);
    text-align: center;
    display: flex;
    height: var(--window-header-height);
    position: fixed;
    align-items: flex-end;
    flex-direction: row;
    justify-content: center;
    background: var(--window-header-background-color);
    width: 100%;
    left: 0;
    z-index: 2147483640;
    top: 0;
    font-size: var(--window-header-font-size);
    font-weight: var(--window-header-font-weight);
    color: var(--header-text-color);
}

html.desktop-active .fsbl-header {
    background: var(--active-header-background-color);
    color: var(--active-header-text-color);
}

.fsbl-header-title {
    height: 100%;
    max-width: 60%; /* make sure there's always some space to grab and move the window */
    overflow: hidden;
    align-items: center;
    display:flex;
    padding-right: 14px;
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    transition: background-color 0.2s ease;
}

.fsbl-header-title[data-hover=true] {
    background-color: var(--tab-active-background-color);
    color: var(--tab-active-color);
    border-right: var(--tab-border);
    /* border-top: var(--tab-border); */
}

.fsbl-drag-region {
    position: absolute;
    width: 100%;
    height: calc(100% - 5px);
    bottom: 0px;
    left: 0px;
    -webkit-app-region: drag;
}

.fsbl-header-left {
    height: 100%;
    margin-left: 2px;
    left: 0px;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    display: flex;
    border-right: var(--tab-border);
}

.fsbl-header-center {
    height: calc(100% - 10px);
    align-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    --webkit-user-select: none;
    position: relative;
    padding-bottom: 3px; /* This needs to be half of the thing subtracted from the height. e.g. height = 100% - 6px, then this is 3px) */
}

.fsbl-tabs-enabled .fsbl-header-center {
    height: 100%;
    width: 100%;
    padding-bottom:0px;
}

.fsbl-tabs-multiple .fsbl-header-center {
    border-right: var(--tab-border);
}

html.desktop-active .fsbl-header-right {
    background: var(--active-header-background-color);
}

.fsbl-header-right {
    margin-right: 2px;
    height: calc(100% - 5px); /* leave some space for the resize cursor */
    align-content: center;
    display: flex;
    justify-content: flex-end;
    z-index: 5;
    /* background-color: ; */
    background: var(--window-header-background-color);
}


/* Offset the contents back up, to make up for half the resize cursor offset */
.fsbl-header-right > * {
    margin-top: -2px;
}


html.desktop-active .fsbl-tab-region-drag-area {
    background: var(--active-header-background-color);
}

/* This div captures the hover event for it's parent. It doesn't stretch to the border, so that mouseout is properly detected. */
.fsbl-hover-detector-right {
    position: absolute;
    width: 75%;
    height: 75%;
    left: 0px;
    bottom: 0px;
}

.fsbl-hover-detector-left {
    position: absolute;
    width: 75%;
    height: 75%;
    right: 0px;
    bottom: 0px;
}

.fsbl-hover-detector-top {
    position: absolute;
    width: 100%;
    height: 75%;
    right: 0px;
    bottom: 0px;
}
.tab-drop-region {
    width: 100%;
    height:100%;
    position: absolute;
    z-index:30000;
}
.fsbl-icon {
    position: relative;
    color: var(--header-text-color);
    font-size: 15px;
    width: var(--fsbl-icon-width);
    padding: 0px 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background .2s ease;
    cursor: pointer;
    box-sizing: content-box !important;
}

html.desktop-active .fsbl-icon {
    color: #FFF;
}

.fsbl-icon[data-hover=true] {
    background-color: var(--inactive-header-button-hover);
}

html.desktop-active .fsbl-icon[data-hover=true] {
    background: var(--primary-accent-color);
    transition: background .2s ease;
}

/* So it sits over the border*/
.fsbl-icon.fsbl-close {
    margin-right: -1px;
}

.fsbl-icon.fsbl-close[data-hover=true] {
    background: var(--negative-action-color);
    color: #FFF;
}

html.desktop-active .fsbl-icon.fsbl-close[data-hover=true] {
    background: var(--negative-action-color);
    color: #FFF;
}

.fsbl-icon-highlighted {
    -webkit-transition: background-color 300ms ease-in-out;
    transition: background-color 300ms ease-in-out;
    background-color: var(--highlighted-inactive-window-button);
    color: #FFF;
}

html.desktop-active .fsbl-icon-highlighted {
    background-color: var(--primary-accent-color);
}

.fsbl-minimize {
    align-items: flex-end;
}

.fsbl-ejector {
    -webkit-transition: background-color 300ms ease-in-out;
    transition: background-color 300ms ease-in-out;
    color: white;
    background-color: var(--primary-accent-color);
}

.linkerSection {
    display: flex;
    height: 100%;
}

.linker-groups {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.linker-group {
    width: var(--linker-group-width);
    height: 18px;
    margin-left: 4px;
    border-radius: 4px;
    border: 1px solid var(--window-header-background-color);
}

html.desktop-active .linker-group {
    border: 1px solid var(--active-header-background-color);
}

.linker-group:hover {
    cursor: pointer;
    border: 1px solid var(--primary-accent-color ) !important;
}

.linker-group:nth-last-child(1) {
    margin-right: 5px;
}

.seperator {
    width: 1px;
    background-color: var(--header-text-color);
    height: 58%;
}

.seperator html.desktop-active {
    background-color: var(--active-header-text-color);
}

.fsbl-linker {
    cursor: pointer;
    display: flex;
    height: 100%;
  /* So it sits over the border*/
    margin-left: -1px;
    align-items: center;
    justify-content: center;
    align-content: center;
    transition: background .3s ease;
    position: relative;
}

.fsbl-linker[hover=true] {
    background: var(--inactive-header-button-hover);
    color: #000;
}

html.desktop-active .fsbl-linker[hover=true] {
    background: var(--primary-accent-color);
    color: var(--header-colorbutton-hover-icon);
}

.ff-minimize {
    padding-bottom: 5px;
}

.ff-maximize, .ff-close, .ff-detached, .ff-attached{
    padding-top: 2px;
}

.ff-always-on-top {
    padding-top: 3px;
    font-size: 16px;
}

.fsbl-tab {
    height: 100%;
    position: relative;
    display: inline-flex;
    align-content: center;
    align-items: center;
    background-color: var(--tab-inactive-background-color);
    color: var(--tab-inactive-color);
    border-right: var(--tab-border);
    /* border-top: var(--tab-border); */
    user-select: none;
    box-sizing: border-box;
    justify-content: flex-start;
    transition: color 0.2s ease;
}

.fsbl-tab[data-hover=true], .fsbl-active-tab {
    background-color: var(--tab-active-background-color);
    color: var(--tab-active-color);
}

.tab-region-wrapper {
    /*width: 100%;*/
}
/* When there are multiple tabs, no border for the last tab on the right side. */
.fsbl-tabs-multiple .tab-region-wrapper > div:last-child {
    border-right: none;
}

.fsbl-tab-area {
    height: 100%;
    display:flex;
    width: 100%;
    position: absolute;
    left:0;
    overflow-x: scroll;

}
.fsbl-tab-area::-webkit-scrollbar  {
    display: none;
}
.fsbl-tab-title {
    text-align: left;
    min-width: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.fsbl-tab-close {
    font-size: 8px;
    padding-left: 7px;
    padding-right:7px;
    visibility:hidden;
    cursor: pointer;
    width:8px;
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    right: 0;
    z-index: 30001;
}

.fsbl-tab-close:hover {
    -webkit-text-stroke: 1px;
}

.fsbl-tab:hover > .fsbl-tab-close{
    visibility: visible;
}

.fsbl-tab-logo {
    margin: 0 7px;
    width: 15px;
    padding-top: 2px;
    color: var(--tab-logo-color);
}

.fsbl-tab .fsbl-tab-style {
    position: relative;
    height: 100%;
    left: 0px;
}
.fsbl-tab-region-drag-area:before {
    content: 'a';
    visibility: hidden;
}
/* Without content, the ghost-tab caused really strange sizing behaviors. */
.ghost-tab:before {
    content: 'a';
    visibility: hidden;
}
.ghost-tab {
    background-color: var(--secondary-accent-color);
    border-right: 1px solid var(--primary-accent-color);
    border-top:1px solid var(--primary-accent-color);
    width: 175px;
    opacity: 0.7;
    position: relative;
    height: 100%;
    left: 0px;
}