/*!
* Copyright 2017 by ChartIQ, Inc.
* All rights reserved.
*/

/* General Global Style */
html, body, div, span {
	margin:0;
	padding:0;
	border:0;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size:9pt;
	text-align:left;
	line-height: 1.6em;
}
.ciq h3 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 11pt;
	text-transform: uppercase;
	color: #398dff;
	margin-top: 0px;
}
block {
	height:500px;
	width: 100%;
	background:#fff;
	display: block;
	position:relative;
	top: 0;
	padding-top: 200px;
	border-bottom: 1px solid #27cc8d;
}
.ciq header {
	position: relative;
	z-index: 50;
	top: 5px;
	margin: 0 auto;
	max-width: 900px;
	min-width: 390px;
	text-align: right;
	margin: 0px auto;
	border-bottom: 1px solid #27cc8d;
	padding: 10px 7px;
	background: transparent;
	font-weight: 100;
}
.ciq header img {
	float: left;
	max-height: 25px;
	width: 82px;
	margin-top: -3px;
}
.ciq nav {
	padding: 10px 12px;
	border-radius: 3px;
	max-width: 600px;
	margin: 0 auto;
	border: 1px solid #ddf;
	background: #f8f8f8;
}

/* Standard Button Dimensions, Color */
.ciq button {
	border-radius: 1px;
	background: transparent;
	border: solid thin #e4e4e4;
	color: #000;
	height: 24px;
	font-weight: 300;
	outline: none;
	vertical-align: middle;
	cursor: pointer;
}
.ciq button:hover, .ciq button:active, .ciq button:focus {
	border-radius: 1px;
	background: transparent;
	border: solid thin #398dff ;
	outline: none;
}
/* Input Line */
.ciq input {
	background: #fff;
	border: 1px solid #e4e4e4;
	border-right: 0px;
	height: 24px;
	padding: 5px 5px;
	vertical-align: middle;
}
.ciq input:placeholder {
	color: #fafafa;
}
.ciq nav {
	background: #f8f8f8;
}
menu-select {
	font-size: 9pt;
	vertical-align: middle;
	display: inline-block;
	padding: 5px 5px;
	margin-right: 15px;
	font-weight: 300;
	background: transparent;
	color: #000;
	border: 0px transparent;
	list-style:none;
	cursor: pointer;
}
menu-select:after {
	content:"";
	position: relative;
	top: -2px;
	right: 0px;
	margin-left: 5px;
	display:inline-block;
	width: 5px;
	height: 5px;
	border-right:solid thin #949494;
	border-bottom: solid thin #949494;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	zoom: 1;
}

menu-select-options menu-option{
	font-size: 8pt;
	padding: 0px 5px 0px 5px;
	position:relative;
	line-height:21px;
	text-align:left;
	display:block;
}
menu-select-options menu-option:hover{
	color:#000;
	background:#f3f3f3;
}
menu-select-options{
	border-top: 2px solid #398dff;
	margin: 5px 0px 0px -5px;
	padding-top:0px;
	position:absolute;
	min-width:100px;
	max-height: 206px;
	overflow: scroll;
	background:#fff;
	display:none;
	z-index:999;
	left:inherit;
	-webkit-box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
	border-radius: 1px;
}
menu-select:hover menu-select-options{
	display:block;
}

/* Dialog Specific CSS */
.ciq.dialog-overlay{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.4);
}
.ciq.dialog {
	background-color:#fefefe;
	margin:4% auto;
	padding:20px 35px;
	border:1px solid #888;
	border-radius: 3px;
	width:350px;
	min-height: 330px;
	max-height: 380px;
	overflow: scroll;
	cursor: pointer;
	font-weight: 300;
	font-size: 9pt;
	line-height: 16pt;
}
.ciq.dialog button {
	background: transparent;
	font-size: 9pt;
	font-weight: 700;
	text-transform: uppercase;
	color: #398dff;
	padding: 5px 10px;
	cursor: pointer;
	border: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 1px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0, 0.3);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0, 0.3);
	box-shadow: 0 1px 2px rgba(0,0,0, 0.3);
}
.ciq.dialog button:hover {
	background: transparent;
	font-size: 9pt;
	font-weight: 700;
	text-transform: uppercase;
	color: #398dff;
	padding: 5px 10px;
	cursor: pointer;
	border: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 1px;
	-webkit-box-shadow: 0 1px 2px rgba(69,143,209, 0.8);
	-moz-box-shadow: 0 1px 2px rgba(69,143,209, 0.8);
	box-shadow: 0 1px 2px rgba(69,143,209, 0.8);
}
.ciq.dialog input {
	height: 26px;
	border-right: 1px solid #e4e4e4;
	float: left;
}
.ciq.dialog button {
	margin-right: 10px;
}
.ciq.dialog button.pull-right {
	float: right;
	margin-right: 10px;
	margin-left: 5px;
}
.ciq.dialog ul {
	max-height: 275px;
	overflow: scroll;
}
.ciq.dialog ul, .ciq.dialog li {
	list-style: none;
	padding-left: 0px;
}
.ciq#colorPicker{
	position:relative;
	width: 200px;
	z-index:32;
	left:0;
	top:0;
}
.dialog-item {
	margin-bottom:.8em;
}

.color-picker-swatch{
	float:right;
	margin-right:1em;
	cursor: pointer;
}
.dialog-overlay .theme-field-name{
	display: inline;
}
.dialog-overlay .theme-save{
	text-align: center;
	margin-top: 25px;
}
.color-picker-swatch{
	display:block;
	height:20px;
	width:20px;
	border:1px solid black;
}
.color-picker-options {/* This is the actual color picker block */
	position:absolute;
	background:#FFF;
	width:180px;
	margin:20px 0 0 0;
	padding:10px 5px 5px 10px;
	border:1px solid #ccc;
	border-radius:3px;
	box-shadow:0 1px 5px 0 rgba(0,0,0,.5);
}
.color-picker-options ul { /* The unordered list with all the swatches */
	margin:0;
	padding:0;
	list-style-type:none;
	zoom:1;
}
.color-picker-options ul:after { /* Fix display in some browsers */
	content:".";
	display:block;
	height:0;
	visibility:hidden;
	clear:both;
}
.color-picker-options ul li { /* List item containing each swatch */
	float:left;
	margin:0 5px 5px 0;
}
.color-picker-options ul li a { /* The swatches themselves */
	display:block;
	width:13px;
	height:13px;
	text-decoration:none;
	text-indent:-100000px;
	outline:0;
	border:1px solid #aaa;
}
