@import url('./_theme.css');
@import url('./_variablesWhitelabel.css');
@import url('./_themeWhitelabel.css');
@import url('./_fontIcons.css');
@import  url('./_windowFrame.css');
@import  url('./_windowTitleBar.css');
@import  url('./_scrollbars.css');
@import  url('./_toolbar.css');
@import  url('./_formElements.css');
@import  url('./_workspaceManagement.css');
@import  url('./_dialogs.css');
@import  url('./_menus.css');
@import  url('./_notification.css');
.hidden {
    display: none !important;
}

.fsbl-share-scrim {
    position: fixed;
    display: flex;
    height: 100%;
    width: 100%;
    z-index: 1000000;
    top: 0;
    left: 0;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    align-items: center;
    transition: all .3s ease;
    opacity: 0.85;
    font-size: var(--scrim-icon-font-size);
    color: var(--scrim-icon-font-color);
}

.fsbl-share-scrim .error-message {
    display: flex;
    height: 100%;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 1em;
    background-color: var(--scrim-negative-background-color);
}

.fsbl-share-scrim i {
    position: fixed;
    display: flex;
    height: 100%;
    width: 100%;
    z-index: 1000000;
    top: 0;
    left: 0;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    align-items: center;
    background-color: var(--scrim-positive-background-color);
    font-size: var(--scrim-font-icon-size);
    color: var(--scrim-font-icon-color) !important;
}

.fsbl-share-scrim i.no {
    background-color: var(--scrim-negative-background-color);
}

.fsbl-button {
    margin: 0px 6px;
    text-align: center;
    font-family: var(--font-family);
    border: 1px solid transparent;
    color: var(--button-solid-text);
    transition: .2s ease;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

.fsbl-button i {
    vertical-align: middle;
    margin: 0 6px;
}

.fsbl-button:hover {
    background: var(--button-positive-background-color);
    border: 1px solid var(--button-positive-border-hover-color);
    transition: 0.2s ease-out;
    cursor: pointer;
    color: var(--button-solid-font-color);
}

.fsbl-button-lg {
    width: 210px;
    font-size: 14pt;
    padding: 14px 0px;
    margin: 15px auto;
}

.fsbl-button-md {
    width: 210px;
    font-size: 13pt;
    padding: 9px 0px;
    margin: 10px auto;
}

.fsbl-button-sm {
    width: 70px;
    padding: 5px 0px;
    margin: 5px auto;
}

.fsbl-button-lg-positive {
    width: 223px;
    height: 40px;
    border: var(--button-positive-border-color);
    font-weight: var(--button-positive-font-weight);
    font-size: var(--button-font-size);
    letter-spacing: 1.6px;
    line-height: 38px;
    padding: 11px 32px;
}

.fsbl-button-lg-neutral {
    width: 223px;
    height: 40px;
    font-size: var(--button-font-size);
    letter-spacing: 1.6px;
    line-height: 38px;
    padding: 11px 32px;
}

.fsbl-button-md-positive {
    width: 147px;
    height: 32px;
    border: var(--button-positive-border-color);
    font-weight: var(--button-positive-font-weight);
    font-size: var(--button-font-size);
    border: 1px solid transparent;
    letter-spacing: 0.4px;
    line-height: 33px;
}

.fsbl-button-md-neutral {
    width: 147px;
    height: 32px;
    font-size: var(--button-font-size);
    letter-spacing: 0.4px;
    line-height: 34px;
    border: 1px solid transparent;
}

.fsbl-button-sm-positive {
    width: 110px;
    height: 20px;
    border: var(--button-positive-border-color);
    font-weight: var(--button-positive-font-weight);
    font-size: var(--button-small-font-size);
    letter-spacing: 1px;
    line-height: 20px;
    padding: 3px 11px;
}

.fsbl-button-sm-neutral {
    width: 110px;
    height: 20px;
    font-size: var(--button-small-font-size);
    padding: 3px 11px;
    letter-spacing: 1px;
    line-height: 20px;
}

.flex-start {
    align-self: flex-start;
}

/* Gives the control icons the proper width on websites using bootstrap. */
i, i:before, i:after, .fsbl-window-manager-icon {
    box-sizing: content-box;
}

@import url('./_styleWhitelabel.css');