/*!
* Copyright 2017 by ChartIQ, Inc.
* All rights reserved.
*/
@import  url('../../../assets/css/_globals.css');

@import  url('../../../assets/css/_menus.css');

img {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

html {
    height: 100%;
    overflow-x: hidden;
    margin-left: 0px;
}

html:before {
    background: transparent;
}

html:after {
    background: transparent;
}

.bestmatch {
    background-color: #ecf0f1;
}

body {
    margin-left: 0px !important;
    margin-right: 0px !important;
    font-family: var(--font-family);
    color: var(--dialog-font-color)
}

.content {
    width: calc(100% - 17px);
    padding: .75em;
    background-color: var(--content-background-color);
}

.ListHeader {
    display: flex;
    margin-left: 6px;
}

.filterInput {
    width: 163px;
    height: 24px;
    border-color: #dddddd;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    padding-left: 10px;
}

input {
    outline-color: transparent;
}

.filterInput:focus {
    border: 1px solid var(--scrollbar-color);
}

.ff-search {
    text-align: center;
    align-self: center;
    position: relative;
    right: 21px;
    width: 15px;
    height: 15px;
}

img {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.notifications-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.complex-menu-container .containerItem.active {
    display: block !important;
}

.notifications-container .notification-item {
    display: flex;
    flex-direction: row;
    margin: 8px;
    background-color: var(--content-card-background-color);
    box-shadow: 0 1px 4px 0 rgba(136, 136, 136, 0.5);
    flex: 1;
    overflow-y: auto;
    padding: 5px;
}

.notification-icon {
    display: block;
    height: 100%;
    margin-right: 6px;
    width: var(--notification-logo-width);
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: var(--notification-logo-width);
    align-self: flex-start;
}

.notification-icon img {
    width: 100%;
    vertical-align: middle;
}

.notification-message {
    font-size: var(--notification-description-font-size);
    font-family: var(--notification-body-font-family);
    flex: 1;
    margin-right: 6px;
    align-self: flex-end;
}

.notification-action {
    align-self: flex-end;
    margin-right: 6px;
    flex: 0;
}

.notification-dismiss {
    align-self: flex-end;
    flex: 0;
}

.hide {
    display: none;
}

::-webkit-scrollbar-track {
    border-radius: 3px;
    background-color: transparent;
}

::-webkit-scrollbar {
    width: 9px;
    background-color: transparent;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb {
    cursor: pointer;
    border-radius: 9px;
    background-color: var(--scrollbar-color);
}
