.tooltip {
	position: relative;
	display: inline-block;
}

.tooltip:hover {
	z-index: 1000;
}

.tooltip .tooltip-icon {
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border: 2px solid #ccc;
	border-radius: 2em;
	line-height: 0px;
	height: 1.5em;
	width: 1.5em;
}

.tooltip .tooltip-content {
	position: absolute;
	display: block;
	top: 0px;
	width: 200px;
	opacity: 0;
	pointer-events: none;
	transition: all 0.25s;
	background-color: rgba(0, 0, 0, 0.9);
	border: 1px solid #333;
	border-radius: 4px;
	padding: 1em;
	margin-top: 0.5em;
	margin-left: 0.5em;
}

.tooltip.tooltip-position-content-right .tooltip-content {
	left: 100%;
}

.tooltip.tooltip-position-content-left .tooltip-content {
	left: unset;
	right: 100%;
}

.tooltip .tooltip-content.visible {
	opacity: 1;
	pointer-events: all;
}

.tooltip .tooltip-icon-error {
	color: #f26666;
	border-color: #f26666;
}
