@import  url('../../build/finsemble/assets/css/finsemble.css');

body {
	margin:0;
	font-size: var(--procMonitor-font-size);
	font-weight: var(--procMonitor-font-weight);
	font-family: var(--font-family);
	color: var(--procMonitor-font-color);
	background-color: var(--procMonitor-background-color);
}

#container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;
}

.spacer1 {
	height: 30px;
}

.spacer2 {
	height: 30px;
}


.spacer3 {
	height: 10px;
}

.spacer4 {
	height: 0px;
}

h1 {
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
	margin-top: 8px;
	margin-bottom: 5px;
}

h2 {
	font-family: "Open Sans", sans-serif;
	font-weight: 600;
	font-size: 18px;
	margin-top: 5px;
	margin-bottom: 5px;
}

h3 {
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
	font-size: 14px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.center {
	text-align: center;
}

a {
	display: block;
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
	font-size: 14px;
	color: var(--procMonitor-font-color);
	margin-top: 5px;
	margin-bottom: 5px;
}

button {
	width: 200px;
    text-align: center !important;
    margin: 0 auto;
    max-width: 2000px;
    -webkit-appearance:none;
    background-color: #2068C3;
    color: #FFF;
    font-family: "Open Sans", sans-serif;
	font-weight: 400;
	font-size: 125%;
    border: 0px;
    border-radius: 3px;
    padding: 10px 15px;
    vertical-align: middle;
	transition: all .2s ease;

}
button:hover {
	background-color: #039bff;
	cursor: pointer;
	transition: all .2s ease;
}

#quitFS {
	color: #ee5c5c;
	background-color: #FFFFFF;
	font-size: 100%;
	width: 140px;
}
