/* TODO: Use Finsemble CSS variables */

.fsbl-logo {
	content: url("../../../assets/img/ciq-banner-black-100x25.png");
	width: 100px;
	height: 25px;
}

.fsbl-login-logo {
	content: url("../../../assets/img/finsembleDarkBG_Solo@1.5x.png");
	width: 154px;
	height: 173px;
}

.form-wrapper {
	width: 342px;
	text-align: center;
	padding-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.fsbl-button-wrapper {
	padding-top: 10px;
	width: 65%;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.fsbl-button {
	margin: 15px 6px 6px 6px;
}

.fsbl-auth-top {
	display: flex;
	justify-content: space-between;
	height: 20px;
	align-items: center;
	padding: 10px 10px 5px 0px;
}

.fsbl-close {
	cursor: pointer;
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
	flex-direction: column;
	height: 100%;
}

.ff-close:hover {
	color: var(--content-close-hover-color);
}

.fsbl-auth-input {
	padding: 6px 0px;
}

.fsbl-input-error input {
	border: var(--dialog-input-border-error-color) 1px solid !important;
}

.fsbl-input-error-message {
	display: none;
	color: var(--dialog-input-border-error-color);
	font-size: small;
}

.link {
	cursor: pointer;
}

body {
	background: var(--dialog-background-color);
	max-height: 442px;
	max-width: 342px;
}

::-webkit-input-placeholder {
	text-align: left;
}
