.form-wrapper {
    width: 342px;
    text-align: center;
    padding-top: 20px;
}

.fsbl-button-wrapper {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.fsbl-button {
    margin: 6px;
}

.fsbl-auth-top {
    display: flex;
    justify-content: space-between;
    height: 20px;
    align-items: center;
    padding: 10px 10px 5px 0px;
}

.fsbl-close {
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    height: 100%;
}

.ff-close:hover {
    color: var(--content-close-hover-color);
}

.fsbl-auth-input {
    width: 65%;
    padding: 6px 0px;
    margin: 0px auto;
}

.fsbl-input-error input {
    border: var(--dialog-input-border-error-color) 1px solid !important;
}

.fsbl-input-error-message {
    display: none;
    color: var(--dialog-input-border-error-color);
    font-size: small;
}

.link {
    cursor: pointer;
}

body {
    background: var(--dialog-background-color);
    max-height: 442px;
    max-width: 342px;
}

::-webkit-input-placeholder {
    text-align: left;
}

div.hint {
    word-wrap: break-word;
    font-size: smaller;
}