<!DOCTYPE html>
<html>
<!--
    /*!
    * Copyright 2018 by ChartIQ, Inc.
    * All rights reserved.
    */

	AUTHENTICATION PLACEHOLDER: WHEN AUTHENTICATION IS ENABLED THEN CONTENTS CAN BE REPLACED WITH YOUR REAL
	AUTHENTICATION SOLUTION CURRENTLY LOGIN WILL ALWAYS BE SUCCESSFUL.
-->

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Authentication</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../../../assets/css/finsemble.css">
	<link rel="stylesheet" type="text/css" href="../../../assets/css/font-finance.css">
	<link rel="stylesheet" type="text/css" href="authentication.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js" type="text/javascript" defer></script>
	<script src="../../vendor.bundle.js" defer></script>
	<script src="authentication.js" defer></script>
</head>

<body class="dialog">
	<div class="fsbl-auth-top">
		<img class="fsbl-logo">
		<div class="fsbl-close" id="FSBL-close">
			<i class="ff-close"></i>
		</div>
	</div>
	<div class="form-wrapper">
		<div class="fsbl-login-logo" alt="Finsemble Sign On"></div>
		<div class="fsbl-button-wrapper">
			<div class="fsbl-input-error-message">
				Incorrect username or password
			</div>
			<div class="fsbl-auth-input">
				<input type="text" id="username" placeholder="Username">
				<br>
			</div>
			<div class="fsbl-auth-input">
				<input type="password" id="password" placeholder="Password">
				<br>
			</div>
			<div class="fsbl-button fsbl-button-affirmative" id="submitButton">
				Login
			</div>
		</div>
		<!-- <div id="authAction" class="link">Sign up</div> -->
	</div>
</body>

</html>