<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Example</title>
    <link rel="stylesheet" href="postExample.css" />
</head>
<body>
	<label id="urlLabel" style="visibility: hidden;">Post URL:<input id="urlField" value="http://httpbin.org/post"/></input></label>
	<form id="theForm" name="theForm" method="POST" action="http://httpbin.org/post" style="visibility: hidden;">
		<button id="submitButton" name="submitButton" type="submit">Submit</button>
	</form>
</body>
</html>