<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>linkerTester</title>
  <meta name="description" content="">
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="linkerTester.css">
  <script src="linkerTester.js"></script>
</head>

<body>
  <div id="container">
    <h1>Linker Tester</h1>
    <label>Data Type:</label>
    <input id="dataType" placeholder="Symbol" />
    <label>Data:</label>
    <textarea id="data">AAPL</textarea>
    <button class="button" id="send">Send</button>
    <label>Messages:</label>
    <div id="received"/>
  </div>
</body>

</html>