<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>notificationCenter</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" type="text/css" href="notificationCenter.css?{cachebuster}">
   <script src="/vendor.bundle.js?{cachebuster}"></script>
   <script src="notificationCenter.js?{cachebuster}"></script>
</head>
<body>
<h1>notificationCenter</h1>
</body>
</html>

