						/*!
* Copyright 2020 by ChartIQ, Inc.
* All rights reserved.
*/
@import  url('../../../assets/css/_globals.css');

@import  url('../../../assets/css/_menus.css');

html {
    height: 100%;
    overflow-x: hidden;
    margin-left: 0px;
}

body {
    margin-left: 0px !important;
    margin-right: 0px !important;
    font-size: var(--menu-font-size);
    max-height: 500px;
    font-family: var(--font-family);
    overflow-y: auto !important;
    background-color: var(--menu-background-color);
}

.provider, .bestMatch {
    padding-top: 8px;
}

.searchResults {
    padding: 10px;
}

.searchHeader {
    height: 21px;
    display: flex;
    font-size: var(--search-header-font-size);
    color: var(--search-header-font-color);
    font-weight: var(--search-header-font-weight);
    padding: 6px 0px 4px 14px;
}

.divider {
    height: 1px;
    border: var(--toolbar-separator);
    margin-bottom: 15px;
}

.provider {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.resultItem {
    height: 31px;
    padding-left: 20px;
    padding-right: 10px;
    border-radius: 15px;
    color: var(--search-result-font-color);
    font-weight: var(--search-result-font-weight);
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

.resultItem:hover {
    background-color: var(--search-result-highlighter-color)
}


.providerContainer:last-child {
    margin-bottom: 0px;
}

.resultItem.active {
    background-color: var(--search-result-selected-color);
}

.resultItem .resultName {
    flex: 1;
    vertical-align: middle;
}

.resultItem .actions {
    display: flex;
    margin-top: 8px;
    margin-bottom: 8px;
}

.resultItem.action {
    cursor: pointer;
}

.resultItem .actions .action {
    margin-right: 11px;
    cursor: pointer;
}

.actionButton {
    border: 1px solid var(--button-neutral-border-color);
    padding: 3px;
    display: inline-block;
    text-align: center;
    outline: none;
    text-decoration: none;
}

.providerAction {
    height: 16px;
    border: solid 1px var(--button-neutral-border-color);
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-left: 4px;
    padding-right: 4px;
    cursor: pointer;
    margin-right: 8px;
}

.providerAction:hover {
    border: 1px solid var(--scrollbar-color);
}

.actionTitle {
    font-size: var(--search-menu-font-size);
    vertical-align: middle;
    color: var(--menu-font-color);
}

.arrow_right_grey {
    width: 10px;
    height: 9px;
    object-fit: contain;
    font-size: var(--search-menu-font-size);
    margin-left: 4px;
}

.empty-delete {
    width: 1em;
}

::-webkit-scrollbar-track {
    border-radius: 3px;
    background-color: transparent;
}

::-webkit-scrollbar {
    width: 9px;
    background-color: transparent;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb {
    cursor: pointer;
    border-radius: 9px;
    background-color: var(--scrollbar-color);
}

.no-results {
    padding-left: 14px;
    padding-top: 3px;
}
