<!DOCTYPE html>
<!--
     /*!
    * Copyright 2017 - 2020 by ChartIQ, Inc.
    * All rights reserved.
    */
-->
<html>

<head>
    <script src="../../vendor.bundle.js"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Workspace Management Menu</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body class="menu">
    <div id="workspaceManagementMenu-component-wrapper">

    </div>
    <script src="workspaceManagementMenu.js"></script>
</body>

</html>