@import  url('../../../assets/css/_menus.css');

@import  url('../../../assets/css/_globals.css');

html {
  height: 100%;
}

.ComponentList {
    width: 382px;
}

.appLauncher {
  max-height: 500px;
}

.addComponent {
  font-size: .8em;
  align-self: flex-end;
  cursor: pointer;
  padding-right: 1.3em;
}

.empty-delete {
  width: 1em;
}

::-webkit-scrollbar-track {
  border-radius: 3px;
}

::-webkit-scrollbar {
  width: 9px;
  background-color: var(--scrollbar-color);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  border-radius: inherit;
  background-color: rgba(0, 0, 0, 0.2);
}

.active-workspace > div {
  font-weight: var(--menu-active-workspace-font-weight);
  color: var(--menu-active-workspace-font-color);
}

body {
  overflow-y: hidden;
}

.workspace-name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}

.menu-item .ff-adp-hamburger {
  color: var(--menu-dragHandle-color);
  padding-right: 7px;
  padding-top: 2px;
  margin-left: -8px;
  cursor: grab;
}

.fsbl-loader {
  font-size: 10px;
  margin: 10px 10px 10px 10px;
  text-indent: -9999em;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ffffff;
  background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
	transform: translateZ(0);
}
.fsbl-loader:before {
  width: 50%;
  height: 50%;
  background: #ffffff;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.fsbl-loader:after {
	/*
	 @TODO @FIXME
	 This value shouldn't be hard coded!
	 */
	background: #303D47;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}