@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap");

@import "../shared/styles/animations.css";

:root {
	--notification-primary-color: #039cff;
	--notification-secondary-color: black;
	--notification-contrast-color: white;

	--notification-background-color: var(--notification-primary-color);
	--notification-font-family: "Roboto-Condensed", sans-serif;
	--notification-font-color: var(--notification-contrast-color);
}

body {
	margin: 0;
}
#notifications-toaster {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 100vw;
	height: 100vh;
	background: #22262f;
	border-radius: 13px;
}

.drag-container {
	padding: 30vh 0 0;
	height: 100%;
	align-items: center;
}

.drag-area {
	cursor: grab;
	width: auto;
	height: 65%;
}

.drag-box {
	width: 100%;
	height: 20px;
	background: yellow;
}

.divider {
	border-left: 1px solid rgba(0, 0, 0, 0.589);
	height: 80%;
}

.toaster-icons,
.toaster-icons--active {
	cursor: pointer;
	height: 70%;
	width: auto;
}
.toaster-icons:hover {
	background-color: var(--notification-primary-color);
	border-radius: 12px;
}
.toaster-icons--active > path {
	fill: var(--notification-primary-color);
}

#toaster-divider {
	height: 24px;
	border-left: 1px solid #00000047;
}

#notification-number {
	border-radius: 100%;
	background: #007eff;
	padding: 2px;
	font-size: 0.6em;
	color: white;
	font-family: roboto, sans-serif;
	width: fit-content;
	min-width: 10px;
	height: fit-content;
	position: absolute;
	left: 56px;
	top: 3px;
	margin: 0;
	text-align: center;
}
