<!DOCTYPE html>
<html>

<head>
    <script src="../../vendor.bundle.js"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Finsemble Task Manager</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700,500,100,300,400italic|Roboto+Condensed:400,700,300"
        rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="processMonitor.css">

    <style>
        .main-application {
            font-weight: bolder
        }
    </style>
</head>

<body>
    <div id="ProcessMonitor-component-wrapper"></div>
    <script src="processMonitor.js"></script>
</body>

</html>