@import url("../../../assets/css/_globals.css");
@import url("../../../assets/css/_scrollbars.css");

body {
	margin: 0px;
	overflow: hidden;
	font-size: var(--procMonitor-font-size);
	font-weight: var(--procMonitor-font-weight);
	font-family: var(--font-family);
	color: var(--procMonitor-font-color);
	background-color: var(--procMonitor-background-color);
	user-select: none;
}

.high-usage {
	background-color: var(--procMonitor-negative-background-color);
	color: var(--procMonitor-font-color);
}

.moderate-usage {
	background-color: var(--procMonitor-warning-background-color);
	color: var(--procMonitor-font-color);
}

.terminate {
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: right;
	padding: 3px 4px;
	cursor: pointer;
	transition: all 0.25s ease;
}

.terminate:hover {
	border-color: var(--procMonitor-negative-border-color);
	background-color: var(--procMonitor-negative-background-color);
	color: var(--procMonitor-font-color);
}

.process-list-wrapper {
	margin: 1em;
	border: 1px solid var(--procMonitor-list-border-color);
}

.process-list {
	height: calc(100vh - 185px);
	overflow-y: auto;
}

.process-row,
.list-header {
	display: flex;
	flex-direction: row;
}

.process {
	padding-top: 8px;
	padding-bottom: 8px;
	border-bottom: 1px solid var(--procMonitor-list-border-color);
}

.list-header {
	border-bottom: 1px solid var(--procMonitor-list-border-color);
	padding-right: 15px;
	align-items: center;
	/*Account for scrollbar.*/
}

.process-name,
.list-header-name {
	width: 40%;
}

.process-name {
	font-weight: var(--procMonitor-process-name-font-weight);
	font-style: italic;
	padding-left: 7px;
}

.process-statistics,
.list-header-statistic-labels {
	width: 60%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.list-header-statistic-label {
	flex: 1;
	padding: 0.5em;
	display: inline-flex;
	justify-content: center;
	cursor: pointer;
}

.list-header-name {
	border-left: 0px;
}

.statistic {
	display: inline-flex;
	justify-content: center;
	align-content: center;
	flex: 1;
}

.child-window {
	display: flex;
	align-content: center;
	line-height: 24px;
}

.child-window-name {
	font-weight: var(--procMonitor-component-name-font-weight);
}
.advanced .child-window-name {
	cursor: pointer;
}
.child-window-actions {
	display: inline-flex;
	align-content: center;
}

.summary-statistics-header {
	font-weight: bold;
	font-size: 15px;
	display: flex;
}

.summary-statistics-wrapper,
.summary-statistics,
.summary-statistics-labels {
	display: flex;
}

.summary-statistics {
	width: 50%;
}

.summary-statistic {
	margin-right: 40px;
}

.summary-statistics-wrapper {
	margin-left: 19px;
	margin-top: 6px;
	flex-direction: column;
}

.close-window {
	margin-left: 5px;
	margin-right: 17px;
	height: 8px;
	width: 7px;
	color: var(--procMonitor-close-component-font-color);
}

.close-window:hover {
	cursor: pointer;
	color: var(--procMonitor-close-hover-color);
}

.sort-direction {
	font-size: 8px;
	margin-left: 5px;
	display: flex;
	align-items: center;
}

.advanced-button-wrapper {
	align-self: center;
	display: flex;
	align-content: center;
	margin-right: 19px;
}

.advanced-button {
	width: 110px;
	height: 35px;
	background-color: var(--button-neutral-background-color);
	border: solid 1px var(--button-neutral-border-hover-color);
	display: flex;
	align-content: center;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.bottom-section {
	display: flex;
	justify-content: space-between;
}

::-webkit-scrollbar-track {
	border-radius: 3px;
}

::-webkit-scrollbar {
	width: 9px;
	background-color: var(--scrollbar-color);
	border-radius: 3px;
}

::-webkit-scrollbar-thumb {
	cursor: pointer;
	border-radius: inherit;
	background-color: rgba(0, 0, 0, 0.2);
}
