body {
	margin: 0px;
	overflow: hidden;
	font-size: 12px;
}
body.menu {
	color: #555;
	background-color: white;
}

.high-usage {
	background-color: red;
	color: white;
}

.moderate-usage {
	background-color: orange;
	color: white;
}

.terminate {
	font-size: 12px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: right;
	color: #ffffff;
	padding: 3px 2px;
	background-color: #d30e2d;
	border: solid 1px #ff2445;
	cursor: pointer;
}

.terminate:hover {
	background-color: red;
}

.process-list-wrapper {
	margin: 1em;
	border: 1px solid #e9e9e9;
	;
}

.process-list {
	height: calc(100vh - 185px);
	overflow-y: auto;
}

.process-row, .list-header {
	display: flex;
	flex-direction: row;
}

.process-row {
	margin-bottom: .3em;
}

.process {
	padding-top: 8px;
	padding-bottom: 8px;
	border-bottom: 1px solid #e9e9e9;
}

.list-header {
	border-bottom: 1px solid #e9e9e9;
	;
	padding-right: 15px;
	align-items: center;
	/*Account for scrollbar.*/
}

.process-name, .list-header-name {
	width: 40%;
}

.process-name {
	font-weight: bold;
	padding-left: 23px;
}

.process-statistics, .list-header-statistic-labels {
	width: 60%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.list-header-statistic-label {
	flex: 1;
	;
	padding: .5em;
	display: inline-flex;
	justify-content: center;
	cursor: pointer;
}

.list-header-name {
	border-left: 0px;
}

.statistic {
	display: inline-flex;
	justify-content: center;
	align-content: center;
	flex: 1;
}

.child-window {
	display: flex;
	align-content: center;
	line-height: 24px;
}
.advanced .child-window-name {
	cursor: pointer;
}
.child-window-actions {
	display: inline-flex;
	align-content: center;
}

.summary-statistics-header {
	font-weight: bold;
	font-size: 15px;
	display: flex;
}

.summary-statistics-wrapper, .summary-statistics, .summary-statistics-labels {
	display: flex;
}

.summary-statistics {
	width: 50%;
}

.summary-statistic {
	margin-right: 40px;
}

.summary-statistics-wrapper {
	margin-left: 19px;
	margin-top: 6px;
	flex-direction: column;
}

.close-window {
	margin-left: 5px;
	margin-right: 17px;
	height: 8px;
	width: 7px;
	font-size: 12px;
}

.close-window:hover {
	cursor: pointer;
	color: #F64352;
}

.sort-direction {
	font-size: 8px;
	margin-left: 5px;
	display: flex;
	align-items: center;
}

.advanced-button-wrapper {
	align-self: center;
	display: flex;
	align-content: center;
	margin-right: 19px;
}

.advanced-button {
	width: 110px;
  height: 35px;
  background-color: #ecf0f1;
	border: solid 1px #dddddd;
	display:flex;
	align-content: center;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.bottom-section {
	display:flex;
	justify-content: space-between;
}