<!DOCTYPE html>
<html>

<head>
  <script src="../../vendor.bundle.js"></script>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Welcome to Finsemble!</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="newWelcome.css">
  <script src="../../vendor.bundle.js"></script>
  <script src="newWelcome.js"></script>
</head>

<body>
  <div id="container">
    <div id="bounds"></div>
    <div class="spacer1"></div>
    <img src="../../assets/img/finsembleDarkBG_noText.png" id="finsembleLogo" height="100">
    <div class="spacer2"></div>
    <h1>Welcome to Finsemble!</h1>
    <p>Finsemble is a desktop integration platform. Using Finsemble, you create a cohesive smart desktop consisting of
      separate but
      interconnecting applications.
    </p>

    <p>You can <b>take a tour</b> of the UX to orient yourself or <b>launch the docs</b> to begin developing your smart
      desktop.</p>

    <button class="button" id="tourSnapandDock" onclick="tourSnapandDock()">Take a Tour</button>
    <div class="spacer3"></div>
    <button class="button" id="launchDocs" onclick="launchDocs()">Launch Docs</button>
    <div class="spacer4"></div>
  </div>
</body>

</html>