<!DOCTYPE html>
<html>

<head>
  <script src="../../vendor.bundle.js"></script>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Hotkeys</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="newWelcome.css">
  <script src="../../vendor.bundle.js"></script>
  <script src="newWelcome.js"></script>
</head>

<body>
  <div id="container">
    <div id="bounds"></div>
    <div class="spacer1"></div>
    <h1>Hotkeys</h1>
    <p>A smart desktop enhances workflows through shortcuts.
      For example, windows can be controlled by <b>hotkeys</b> (aka keyboard shortcuts).
    </p>

    <ul>
      <li>Minimize your workspace: CTRL+ALT+DOWN ARROW</li>
      <li>Reveal all Finsemble windows: CTRL+ALT+UP ARROW</li>
      <li>Launch favorited items: CTRL+ALT+1, 2, 3, ... </li>
      <li>Note: The apps that launch correspond to the order in which apps and workspaces are pinned to the toolbar.
      </li>
      <li>Search: CTRL+SHIFT+F</li>
      <li>Call the toolbar: CTRL+ALT+T</li>
      <li>Hide the toolbar: CTRL+ALT+H</li>
    </ul>
    <br>
    <p>You can also minimize the workspace and reveal all Finsemble windows using the buttons on the right of the
      toolbar.
    </p>
    <div class="spacer2"></div>
    <img src="../../assets/img/toolbarButtons.png" id="toolbarButtons">
    <div class="spacer3"></div>
    <p>You can set your own <a href="https://documentation.chartiq.com/finsemble/tutorial-Hotkeys.html"
        target="_blank">hotkeys</a> when you develop your smart desktop.</p>
    <div class="spacer5"></div>
    <button class="button" id="tourWorkspaces" onclick="tourWorkspaces()">Continue the Tour</button>
    <div class="spacer4"></div>
  </div>
</body>

</html>