<!DOCTYPE html>
<html>

<head>
  <script src="../../vendor.bundle.js"></script>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Snapping and Docking</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="newWelcome.css">
  <script src="../../vendor.bundle.js"></script>
  <script src="newWelcome.js"></script>
</head>

<body>
  <div id="container">
    <div id="bounds"></div>
    <div class="spacer1"></div>
    <h1>Snapping and Docking</h1>

    <p>A smart desktop has form that facilitates function.
      All applications launched by Finsemble share an aesthetic which can be <a
        href="https://documentation.chartiq.com/finsemble/tutorial-whiteLabeling.html" target="_blank">white
        labeled</a>.
      Each window can participate in a range of elegant UX features.
      Windows launched by Finsemble are persistent between sessions, reloading in the same position and with the same
      content.
      <br><br>
      Let's check out "snapping and docking."</p>

    <p>Drag this window to the welcome window to the left.
      Notice how the two windows snap together—like magnets.</p>
    <div class="spacer2"></div>
    <img src="../../assets/img/groupingGif.gif" id="groupingGif">
    <div class="spacer3"></div>
    <p>When two windows snap together, a new "Attach Windows" icon appears on the taskbar.
      Click this icon to group these two windows together.
      <br><br>When you move one window in a group, all attached windows move in concert.</p>
    <button class="button" id="tourHotkeys" onclick="tourHotkeys()">Continue the Tour</button>
    <div class="spacer3"></div>
  </div>
</body>

</html>