/*!
* Copyright 2017 by ChartIQ, Inc.
* All rights reserved.
*/
@import '../assets/sass/_globals';
@import '../assets/sass/_menus';
$scrollbar-color:#039bff;
html {
	height:100%;

	overflow-x: hidden;
	margin-left: 0px;
}


body {
	margin-left: 0px!important;
	margin-right: 0px!important;
	font-size: 1em;
	max-height: 500px;
	overflow-y: auto !important;
}
.provider, .bestMatch {
	padding-top: 8px;
}
.searchHeader{
	height: 21px;
	display: flex;
	font-family: Roboto Condensed;
	font-weight: bold;
	text-transform: uppercase;
	color: #039bff;
	padding-left: 14px;
	padding-top: 6px;
}

.divider{
	height: 1px;
	border: solid 1px #ecf0f1;
	margin-bottom:15px;
}
.provider {
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: center;
	align-items: center;
}
.resultItem{
	height:24px;
	font-weight: 300;
	text-align: left;
	color: #000000;
	padding: 4px 28px 4px 14px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.providerContainer:last-child{
	margin-bottom: 0px;
}

.resultItem.active {
	background-color: #ecf0f1;
}
.resultItem .resultName{
	flex:1;
	vertical-align: middle;
}
.resultItem .actions{
	display: flex;
	margin-top:8px;
	margin-bottom: 8px;

}

.resultItem.action{
	cursor: pointer;
}

.resultItem .actions .action{
	margin-right:11px;

	cursor: pointer;
}
.actionButton{
	border: 1px solid #039bff;
	padding:3px;
	display: inline-block;
	text-align: center;
	outline: none;
	text-decoration: none;
}
.providerAction{
	height: 16px;
	border: solid 1px #dddddd;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	padding-left:4px;
	padding-right:4px;
	cursor: pointer;
	margin-right:8px;
}

.providerAction:hover {
	border: 1px solid $scrollbar-color;
}
.actionTitle{
	font-size: 11px;
	vertical-align: middle;
	color: #000000;
}

.arrow_right_grey {
	width: 10px;
	height: 9px;
	object-fit: contain;
	font-size: 11px;
	margin-left:4px;
  }
.empty-delete {
	width:1em;
}

::-webkit-scrollbar-track
{
	border-radius: 3px;
	background-color: transparent;

}

::-webkit-scrollbar {
	width: 9px;
	background-color: transparent;
	border-radius: 3px;
}

::-webkit-scrollbar-thumb {
	cursor: pointer;
	border-radius: 9px;
	background-color: $scrollbar-color;
}

.no-results {
	padding-left: 14px;
	padding-top: 8px;
}